[2015-12-28 19:33] iansullivan88 commented on #283
I had a look at the source, it seems I can use 'IPIGNORE=TRUE' for gifs which will fix my particular use case but I had a quick look at the issue anyway:

If there's no query string, image processor does nothing because of [this line](https://github.com/JimBobSquarePants/ImageProcessor/blob/V2/src/ImageProcessor.Web/HttpModules/ImageProcessingModule.cs#L488). That makes sense.

When I do have a qu

[2015-12-28 20:07] HankCFL commented on #281
I just made the FCN change and that dropped the number of DirMonCompletion objects to 5.

[2015-12-28 22:53] JimBobSquarePants commented on #270
It was there so that all images were optimized. (Most developers dont optimize properly). I've made the functionality optional for the next release defaulting to false.

[2015-12-28 22:54] JimBobSquarePants commented on #283
Ah! Good digging. I'll have a look at that then.

[2015-12-28 22:56] JimBobSquarePants commented on #281
Ace. That sounds right to me. That should dramatically reduce your memory and process usage.

[2015-12-29 00:47] HughJeffner commented on #270
Sounds good, thanks!

[2016-01-01 13:37] coultonluke opened #284 "ImageProcessor.Web prevents List<string> and List<int> bindings after request to resize image"
I wanted to start by saying that I love Image Processor, you've done such a great job - it's fantastic!

I noticed this issue when my website was failing to bind `List<string>` values in ASP.NET MVC for some reason, after some digging I realised that it was happening after making a call to resize an image through the query string.

I previously posted a question [on StackOverflow](http://stackover

[2016-01-03 03:47] yufeih opened #286 "Filters not using SIMD instructions"
`Color` is now backed by `Vector4`, but the filters are not using SIMD operations exposed by Vector4, it still operates on the floating point *R*, *G*, *B*, *A* components, so the benefit of using Vector4 is completely gone.

[2016-01-03 03:51] yufeih opened #287 "Image now takes 4x memory size"
The pixels in `ImageBase` is represented by `float[]`. Each pixel is represented by 4 floats and requires 16 bytes. When pixels are represented using `byte[]`, each pixel only takes 4 bytes. This effectively takes 4x memory, a big concern on low memory devices like phones.

[2016-01-03 22:05] JimBobSquarePants commented on #287
True,

This allows us much more accurate calculations though (colorspace, gamma to linear and reverse, etc) and potential for HDMI support. It does also however cause issues at points also with increased alpha bleeding potential.

What would you suggest as a compromise to keep memory low but allow accurate conversion?

[2016-01-03 22:07] JimBobSquarePants commented on #286
Some things are, some things aren't. I need help with the SIMD stuff as it's all brand new to me and there is no adequate documentation out there. If you could help out in that department I would be most grateful.

[2016-01-03 22:42] christopherbauer commented on #287
Is this an observed issue or just something we assume will become problematic in the future?

[2016-01-04 02:24] yufeih commented on #287
@christopherbauer I was looking at using ImageProcessor (over [Nine.Imaging](https://github.com/studio-nine/Nine.Imaging)) for one of my mobile apps. On android, we have very limited amount of memory to consume, this is an important concern.

[2016-01-04 02:49] yufeih commented on #287
@JimBobSquarePants
I suggest represent image pixels using standard `byte[]`, make Color backed by 32bit `uint` and provide explicit conversions between `Color` and `Vector3`/`Vector4`.

When you do filtering, you first cast a pixel to `Vector4`, then do the calculation in floating point precision with SIMD provided by `Vector4`, then cast back to `Color` to set the pixel. (https://github.com/JimBo

[2016-01-04 03:42] JimBobSquarePants commented on #287
@yufeih A lot to think about there...

If I use byte with a backing uint I might as well drop the [`Bgra32`](https://github.com/JimBobSquarePants/ImageProcessor/blob/16b48d25e6920474c969a47085e07f34f4bc7ffd/src/ImageProcessor/Colors/Colorspaces/Bgra32.cs) class as I will be moving back to using the 0-255 range. That will certainly hurt should anyone wishing to develop an encoder/decoder for someth

[2016-01-04 04:01] yufeih commented on #287
Yeah, I also like to hear more inputs here. Ideally, images and filtering algorithms should be independent of the underlying pixel type, so the same algorithm works with both `Bgra32`, `BgraFloat` and variations like `Rgba32`, `Argb32`.

This leads me to thinking about a generic `Image<T>` where T can be the color format of choice. But the problem is it's really hard to write such Image<T> in a pe

[2016-01-04 04:36] JimBobSquarePants commented on #287
That's an interesting idea! I know of one project [DotImaging](https://github.com/dajuric/dot-imaging) that does something very similar.

We'd have to do a fair amount of work refactoring colors etc to ensure methods like `Color.Compand` and the inverse were possible but it could be possible and performant.

Do you have any time to give it a go?

[2016-01-04 04:46] JimBobSquarePants commented on #284
Thanks for raising this. My initial suspicion is that it is something to do with the custom TypeConverters, I'll have a look at your project and see what I can come up with.

[2016-01-04 04:48] JimBobSquarePants commented on #282
Interesting... Could you provide what format `image.CurrentImageFormat` is?

[2016-01-04 05:31] yufeih commented on #287
I'd like to wait for more inputs and mature the design.

[2016-01-04 05:44] JimBobSquarePants commented on #287
No worries, we'll see if anyone chips in.

[2016-01-04 10:17] rubensr commented on #287
Sorry to barge in, but if you are using multiple (for example) chained filters, isn't the conversion byte -> float(operate) -> byte -> float(operate) -> byte going to cause a compounding loss of accuracy?

[2016-01-04 10:20] JimBobSquarePants commented on #287
Don't be sorry, The more input the better! :smile: That's one thing that doe bother me and will require testing to see if it is an issue.

[2016-01-04 23:27] JimBobSquarePants commented on #287
@yufeih Had a wee play around last night with a generic image/color format. Without templating support in C# this is going to yield some pretty awful looking code. I haven't done enough to be able to test performance yet. There's a generic-image branch uploaded anyway that I'm experimenting in (doesn't build)

        public static Color<T> operator +(Color<T> left, Color<T> right)
        {

[2016-01-05 06:34] rubensr commented on #287
How about something like this:

    namespace ConsoleApplication2
    {
        class Program
        {
            static void Main(string[] args)
            {
                var left = new Color<Single>(10, 10, 10, 1);
                var right = new Color<Single>(10, 10, 10, 1);

                var sum = left + right;

                System.Diagnostics.Debug.WriteLine(sum);
            }

[2016-01-05 06:40] JimBobSquarePants commented on #287
@rubensr That certainly looks much nicer than my current implementation. Any idea if there are any performance implications involved in operating in the individual array items? Ideally I'd like my RGBA values to be read/writeable for performance (My knowledge of the vector types is nil)

[2016-01-05 06:50] rubensr commented on #287
@JimBobSquarePants As far as I understand it, to take advantage of the SIMD feature, you'd need to perform all of your calculations using the operators defined within the Vector types like I did in the '+' operator above - as soon as you access the R, G, B, A properties I created and then use them individually for calculations, you lose the performance improvements.

But no I don't have any testin

[2016-01-05 06:54] JimBobSquarePants commented on #287
@rubensr Cheers. There wouldn't have been any SIMD benefits from the original property accessors against Vector4 anyway. We can certainly take advantage though by allowing conversion to Vector<T> for certain operations I'm sure.

[2016-01-05 06:56] rubensr commented on #287
@JimBobSquarePants Yeah I think for example operations like the Compand and InverseCompand could benefit greatly from using Vectors and Matrices.

[2016-01-05 07:01] JimBobSquarePants commented on #287
That's a super tricky one actually. I had one of the MS guys give it a go.

https://gist.github.com/mellinoe/e8b402c65da581d93445

[2016-01-05 07:16] rubensr commented on #287
Well well well I take that back :)

Vector time: 53s, array time: 4s

[2016-01-05 08:42] rubensr commented on #287
Yes fair enough I take that back :) Can't argue against 4s vs 53s !

[2016-01-05 09:03] cdie opened #289 "Black and white still have grey pixel"
It seems that black & white filter still produces some grey pixel (zoom in to find them). In some cases, we really need just black or white.
I know a method, but it uses BitmapData to process pixel by pixel.
I didn't found any method using matrix to do it...

[2016-01-05 09:18] JimBobSquarePants commented on #289
Yeah.... It's not exact but quick. You could probably do it using the binary threshold filter but that would leave it fairly ugly. Really an implementation of Otsu thresholding would be best.

https://en.wikipedia.org/wiki/Otsu%27s_method

[2016-01-06 15:13] PromontoryProtean opened #292 "Contribution Questions"
I posted a couple days ago about this (https://github.com/JimBobSquarePants/ImageProcessor/issues/103), but it was an aside to a follow up on an old closed issue. I'm not sure if the admins are alerted to posts on closed issues, so I figured I'd write a new post. I've been working a lot with ImageProcessor over the last couple of weeks and I built a file manager app as a proof of concept to invest

[2016-01-06 22:48] JimBobSquarePants commented on #292
Hi there,

Sorry I missed your post, I get quite a few on my various projects and some slip through the net when I'm looking at them on my mobile.

I'm absolutely looking for help build the next generation ImageProcessor.Web so any help you could give in that department would be most appreciated. I haven't looked at Asp.Net 5 at all yet so it will be a learning experience for me (Much like doing a

[2016-01-07 01:23] PromontoryProtean commented on #292
Hi Jim,
Thanks for the positive feedback. Your API concerns make complete sense to me. Sounds like a solid plan.

I've been prototyping since the early betas of asp.net vnext to investigate porting our CMS, so I've begun to learn the ins and outs. My current thinking is to get a basic file manager up and running (hopefully by the end of the weekend), and then start building an ImageProcessor.Web p

[2016-01-07 19:22] proff opened #293 ""Crop" with one or both dimensions greater then original does not work as expected"
Should do not crop anything at all in that dimension or just throw friendly exception in Crop method

System.ArgumentOutOfRangeException: Value cannot be less than zero or greater than the bitmap height.
Parameter name: y
   at ImageProcessor.ImageBase.get_Item(Int32 x, Int32 y) in ...\ImageProcessor\ImageBase.cs:line 133
   at ImageProcessor.Samplers.Crop.<>c__DisplayClass0_0.<Apply>b__0(Int32 y)

[2016-01-07 20:14] JimBobSquarePants commented on #293
In debug mode it throws a friendlier exception. I might be best off adding a try catch to the ParallelImageProcessor class.

[2016-01-07 23:09] JimBobSquarePants opened #294 "Blend modes"
It would be great to have the ability to blend colors based on the W3c specification.

http://www.w3.org/TR/compositing-1/#blending

Additional blend modes can be added as static methods on ColorSpacialTransforms in ColorSpacialTransforms.cs

Blend Modes:
- [ ] Separable blend modes
  - [ ] normal blend mode
  - [x] multiply blend mode
  - [ ] screen blend mode
  - [ ] overlay blend mode
  - [ ] d

[2016-01-07 23:11] JimBobSquarePants commented on #286
ColorMatrix operations now use SIMD methods.

[2016-01-08 23:04] PromontoryProtean commented on #292
Hey Jim - I've reached a point where I am beginning to bring V3 into my new file manager. I set myself up on Gitter under PromontoryProtean. I've never used Gitter so I'm not sure what you have in mind for creating a room. Do you have something already set up? Or are we doing this from scratch?

[2016-01-09 00:50] JimBobSquarePants commented on #292
Great to hear!

There's already a room setup here

https://gitter.im/JimBobSquarePants/ImageProcessor

You should be able to join that room an we can chat there.

[2016-01-09 15:09] PromontoryProtean opened #295 "Dependency Issues and Possible Resolutions"
I started doing some testing this morning and brought ImageProcessor into my project using MyGet. I immediately ran into dependency errors. I was able to resolve the dependency errors and get the project to build in not only .net core, but also 4.6.1. Changes I made were in 2 files and the new versions are as follows.

global.json
[code]
project.json
[code]

Not sure if you had left support for .n

[2016-01-10 07:47] JimBobSquarePants commented on #295
Hi there,

Net 4.5 is a definite no-go. The new vector types are integral to providing decent performance plus ASP is using .NET 4.6 for RC2 onwards.

Quick question? Isn't `1.0.0-rc1-update1` an older version than my currently installed 1.0.0-rc1-final?

[2016-01-10 14:56] PromontoryProtean commented on #295
I'm pretty sure rc1-update1 is newer than rc1-final. There were installer bugs that Microsoft fixed shortly after releasing rc1-final. Microsoft naming conventions at their finest. Anyway, this kind of explains it: http://blogs.msdn.com/b/webdev/archive/2015/11/18/announcing-asp-net-5-release-candidate-1.aspx.

I'm definitely on board for only supporting 4.6 and up, especially given that this is a

[2016-01-11 00:19] JimBobSquarePants commented on #295
Ok coke, so I've been doing some more reading...

As you said, [update-1](https://www.nuget.org/packages/dnx-clr-win-x64/) is newer so I've upgraded to that. I'm still sitting with the x64 architecture version for now since that allows me to benefit from the SIMD instructions used by the new vector types. I've also altered the json file to use `dotnet5.5` instead of `dnxcore50` as indicated at htt

[2016-01-11 03:50] christopherbauer commented on #260
Looks like we have the two missing color spaces merged into the v3 branch.

[2016-01-11 03:53] #273 closed

[2016-01-11 04:10] JimBobSquarePants commented on #260
Yup... Forgot to close this. Thanks!

[2016-01-11 05:55] JimBobSquarePants commented on #284
Oops, linked wrong issue. Still working on this one. Sorry!

[2016-01-11 05:56] JimBobSquarePants commented on #283
Fixed it. System.Drawing is weird!

[2016-01-11 07:08] JimBobSquarePants commented on #284
It's definitely the type converter causing the issue. Unfortunately it looks like the only way I can fix it is by replacing the current system with something more customised as there's not enough info passed to the converter to set up logic to ensure my methods don't interfere.

[2016-01-11 08:14] iansullivan88 commented on #283
Nice one, thanks!
On 11 Jan 2016 05:56, "James Jackson-South" <notifications@github.com>
wrote:

[2016-01-11 08:59] coultonluke commented on #284
Thanks for taking a look.  I guess my only question is, is the `IList<>` a suitable workaround and is it just `List<>` that is likely to be affected?

[2016-01-11 09:18] Shazwazza commented on #284
Can you point me to where you are setting these type converters? I assume the problem is that Image Processor is setting a Global property - which affects the default model binders.

[2016-01-11 09:19] Jeavon commented on #295
FYI, rc1-update1 is a minor bug fix release of rc1-final, I think only impacting the installer so nothing new really

[2016-01-11 09:32] Shazwazza commented on #284
Think this is the one: https://github.com/JimBobSquarePants/ImageProcessor/blob/V2/src/ImageProcessor.Web/Helpers/QuerystringParser/GenericListTypeConverter.cs

The main issue being that any time you replace anything on a global level from a library, there is a high degree of potential to affect a site that uses this library. I would assume that the logic in this global type converter could just b

[2016-01-11 10:35] JimBobSquarePants commented on #284
Thanks @Shazwazza yeah, I was planning on replacing the TypeConverter with something less invasive.

All the TypeConverters in that folder are used only by the [QueryParamParser](https://github.com/JimBobSquarePants/ImageProcessor/blob/V2/src/ImageProcessor.Web/Helpers/QuerystringParser/QueryParamParser.cs) class so if you have the chance to have a look at it today that would be amazing. If not, I

[2016-01-11 10:35] JimBobSquarePants commented on #295
Cheers @Jeavon!

[2016-01-11 12:57] tombille opened #296 "Using ImageProcessor with images stored in SQL"
Hi

Can I use this plugin to scale images served from a SQL database? I have an .aspx page which gets the bytearray from the SQL and serves it like this:

Response.Clear()
Response.ContentType = i.ContentType
Response.BinaryWrite(i.Image)
Response.[End]()

Then I try to process the image by setting the src to /ShowImage.aspx?id=202&filter=blackwhite. The filter is not applied.

When I process anot

[2016-01-11 13:33] JimBobSquarePants commented on #296
Hi there,

You won't be able to do it like that. You'll need to implement your own `IImageService`.

http://imageprocessor.org/imageprocessor-web/extending/#iimageservice

I strongly recommend against implementing pages in the manner you have for any images. Only the HttpModule will capture the request at the correct part of the page life-cycle.

[2016-01-11 13:34] #296 closed

[2016-01-11 14:53] PromontoryProtean commented on #295
Jim, I think I follow. I'll update my project to be .net core only and go from there.

Question on the MyGet feed - how often is that built? Is it done automatically somehow? I'll try to pull in whatever is available later today and see if I run into the same dependency errors. I have a feeling it will still throw up errors though. There was a weird issue with referencing one of the following that

[2016-01-11 17:57] nul800sebastiaan commented on #284
Shan asked me to tell you: he didn't have time today but if you can't get to it by tomorrow morning our time he'll give it another go!

[2016-01-11 18:23] christopherbauer commented on #294
Hey Jim, I was eyeing for something like this, but my initial thought seemed like this might be too simple. I don't have internet atm but the pseudo code I came up with was:

 Public color multiply (color destination)
    If(destination == Black)
        Return black
    If(destination == White)
         Return this
    Return new Color(this.r * destination.r, this.g * destination.g, this.B * dest

[2016-01-11 18:23] christopherbauer commented on #294
All my whitespace was removed! Damn

[2016-01-11 23:09] JimBobSquarePants commented on #294
Hi Christopher,

The only complexity involved that I see is that the color component values in the Color class are premultiplied. I'm not sure what issues that would cause with the formulas given.

[2016-01-12 01:23] christopherbauer commented on #294
I had to laugh - I was double checking the link and read the line "... In practice, this is usually all performed in one step. The blending calculations must not use pre-multiplied color values." D'oh!

[2016-01-12 01:34] JimBobSquarePants commented on #294
Aye... Now we have Maths to deal with. I wish I'd paid attention more in school!

[2016-01-12 04:42] christopherbauer commented on #294
Took a crack at it in my branch, just as a pre-multiplied basic version. What I plan to do is if this appears to be in the right direction I'll investigate using some of the library functions to convert it out to post-multiplied and perform the multiply blending to the post-multiplied color.

Could you take a look and give some feedback if I'm moving in the right direction?

https://github.com/chr

[2016-01-12 05:13] JimBobSquarePants commented on #284
Cheers @nul800sebastiaan Looks like I've got it sorted. Replace type converters with my own system. All unit tests are passing.

[2016-01-12 05:19] JimBobSquarePants commented on #294
Looks good. I've made a couple of notes for consistency.

I think we should move Lerp, Multiply and any other transforms into a new `ColorTransforms.cs`partial struct just to make it easier to see what is going on.

Once we have factored alpha into equations we can look at utilizing the backing vectors in the calculations also.

[2016-01-12 06:44] JimBobSquarePants commented on #258
Classical rotation works. Leaving Paeth for now.

[2016-01-12 06:44] #258 closed

[2016-01-12 07:09] JimBobSquarePants commented on #276
Fixed

[2016-01-12 07:09] #276 closed

[2016-01-12 07:09] JimBobSquarePants commented on #284
Fixed

[2016-01-12 07:09] #284 closed

[2016-01-12 07:09] #283 closed

[2016-01-12 07:10] #281 closed

[2016-01-12 07:10] JimBobSquarePants commented on #268
Fixed

[2016-01-12 07:10] #268 closed

[2016-01-12 07:10] #278 closed

[2016-01-12 08:37] coultonluke commented on #284
I'm really excited for the fix to be released, thanks James for addressing this!

[2016-01-12 08:59] Shazwazza commented on #284
:+1: Nice one !:)

[2016-01-12 09:29] JimBobSquarePants commented on #284
Cheers! :beers:

[2016-01-12 10:07] nul800sebastiaan commented on #284
Whoop!

[2016-01-12 11:19] JimBobSquarePants commented on #284
Oh @coultonluke it's released. I did it when I commented. https://www.nuget.org/packages/ImageProcessor.Web/

[2016-01-12 13:38] christopherbauer commented on #294
Yes I'm sure you've found this already, but if anyone else also takes a look a good link for some reading is https://developer.nvidia.com/content/alpha-blending-pre-or-not-pre.

I'll look more into better tests for this branch and doing the work without multiplication via some of the library functions. I'll validate against the examples from the links as well.

[2016-01-12 15:15] coultonluke commented on #284
I've just tested it and it seems to be working great now, no more binding issues.  Thanks again.

[2016-01-13 00:25] JimBobSquarePants commented on #294
Yeah chum, read that, then promptly forgot about it. I'd like to double check Lerp against it, I was having issues when mixing alpha and non alpha colors.

[2016-01-13 00:43] JimBobSquarePants opened #297 "API docs"
I would like to create documentation like the following:

http://dotnet.github.io/

MS are using the library below but I can't seem to follow the instructions.

http://dotnet.github.io/docfx/

[2016-01-13 00:53] robertjf commented on #297
@JimBobSquarePants I have a little spare time at the moment and can take a look at it - have had a look through the walkthroughs etc.

Have you started a project for this in Visual Studio yet?  If so do you want to check it in and I'll start with that, or do you want me to start from scratch?  And is your preference to use Visual Studio IDE or configure it under **dnx** instead?

[2016-01-13 03:42] christopherbauer commented on #294
I've been reading up on the premultiplied thing, it seems pretty random really, with whether or not something is actually premultiplied being up to whether or not the application that created the file following the spec for the file type. Like pngs are supposed to be non-premultiplied by default. Do we have a way of detecting this or a way of guaranteeing we have the type we're expecting?

[2016-01-13 04:09] JimBobSquarePants commented on #297
Awesome! Thanks mate :+1:

I haven't started a project yet, I planned to set a docs folder and stick a web project in there to do it all so I could preview.

[2016-01-13 04:16] JimBobSquarePants commented on #294
I premultiply the values when I read from pngs.

https://github.com/JimBobSquarePants/ImageProcessor/blob/V3/src/ImageProcessor/Formats/Png/TrueColorReader.cs#L53

Whether I should be doing this by default... Who know's. I could do with some advice from someone who knows more than I do.

[2016-01-13 05:00] JimBobSquarePants commented on #287
@yufeih I had a go at transforming to using Image<T> but the more i dug, the more complicated the API appeared to become. I'm not sure I will be able to make anything useful following that path.

[2016-01-13 09:41] yufeih commented on #287
I have 2 proposals in mind:

### 1. Image and HdrImage

`Image` is backed by bytes, and is the default pixel format. `HdrImage` is backed by Vector4. `Image` and `HdrImage` can be converted back and forth.

Most formats will just import to `Image`, except for specialized ones that works with Hdr formats.

Filters needs to support both Image and HdrImage, that means every filter will have 2 methods

[2016-01-13 22:29] PromontoryProtean commented on #295
Ok, I went with dnxcore50 in my file manager project and removed 4.6 support. I brought ImageProcessor in via the MyGet feed and it works, though I do get the following warning:
`NU1007 Dependency specified was ImageProcessor >= 3.0.0-alpha-596 but ended up with ImageProcessor 1.0.0.`

I'm not really sure what that means, but I am not getting any build errors, so maybe it has something to do with

[2016-01-13 22:31] JimBobSquarePants commented on #295
That's odd. I'll double check the build process, the version number mustn't be getting set. @Jeavon any ideas? You're the wizard when it comes to this stuff.

[2016-01-13 23:40] Jeavon commented on #295
Very odd that it says 1.0.0! I have had a thought that we probably need the AppVeyor build process to update the values in AssemblyInfo.cs as well as project.json so I'll take a look at getting that sorted. But that wouldn't explain where v1.0.0 is coming from as it would still be v3.0.0.0....

[2016-01-14 02:01] JimBobSquarePants commented on #295
Thanks @Jeavon appreciate it!

[2016-01-14 04:58] JimBobSquarePants commented on #287
I would much rather the second version but I've got a couple of questions, forgive me if I'm being daft...

1. If I'm converting to and from Vector4[] for each operation am I not going to be ultimately requiring the same memory as using the current float[] format.

2. How would you handle down-casting of float to byte as T in a manner to avoid overflow exceptions?

[2016-01-14 12:16] Jeavon commented on #295
I have absolutely no idea why but it seems that MSBuild is creating an additional folder depth in the NuGet package (maybe it doesn't understand dotnet5.5 yet) so we were getting lib -> dotnet5.5 -> dotnet5.5 -> dlls So I have switched to using dnu for both build and pack instead of MSBuild and now it's creating folders correctly. I have also added AppVyor AssemblyInfo patching.
See #299 for the c

[2016-01-14 12:21] JimBobSquarePants commented on #295
Cripes! How did you work that out? It didn't occur to me to use dnu to build, makes sense though. Still working my way through the docs.

[2016-01-14 12:53] Jeavon commented on #295
A journey of discovery and at times despair but at least I found a way out. Just experimentation on the command line really until the right thing happened.

[2016-01-14 12:57] Jeavon commented on #295
Interestingly, the series of commands in the before_build, build_script & test_script sections of appveyor.yml are now largely universal. You can run the same commands on OSX for example.

[2016-01-14 12:58] Jeavon commented on #295
p.s. At least there are some docs now, remember when we began this, there was more or less nowt!

[2016-01-14 17:50] optlink opened #300 "Lossless WebP support"
Is it possible to add lossless WebP support to the WebP plugin in V2? For my application, the VP8 codec seems to be incompatible with nearly everything out there. I have been poking around in the V2 code and libwebp documentation, and it seems to me that it only requires the import of a few more C methods and some way of determining when to use lossless encoding, perhaps when quality = 100?

[2016-01-14 18:28] PromontoryProtean commented on #295
Thanks for checking into this. I just took a look in Visual Studio, but I am still seeing build 596 from yesterday. I'll try again later tonight and see if the MyGet feed updated itself. I'm not really sure how the integration with MyGet works, so I'll need to educate myself a bit more. Will report back when I have some updated info.

[2016-01-14 18:32] Jeavon commented on #295
@PromontoryProtean I don't think James has merged in the change yet so their won't be a new build until he has

[2016-01-14 18:39] PromontoryProtean commented on #295
@Jeavon ok, makes sense, don't know why I didn't think of that. I'll keep an eye out for commits and go from there.

[2016-01-14 20:13] JimBobSquarePants commented on #300
I had a lot of trouble working out the bindings when adding support for WebP when I did it. (I don't read C) If you want to have a crack at adding lossless support then please give it a try. I'd add a Boolean to the encoder/decoder that is automatically triggered at 100 quality.

[2016-01-15 02:53] yufeih commented on #287
1. Indeed. The thinking was based on really simple cases like Hue, where processing a pixel does not sample surrounding pixels :+1:  An alternative is to have the pixel converter do per pixel conversion like:
`Vector4 ToVector4<T>(ref T color) where T struct` , but this adds a virtual function call overhead for each pixel access.

2. I don't quite follow the concern, shouldn't `clamp(float * 255,

[2016-01-15 04:06] JimBobSquarePants commented on #287
For 2. I'm having issues casting down to a byte from a float when I don't know it's a byte at runtime.

[2016-01-15 04:12] robertjf commented on #287
@JimBobSquarePants have you seen this? http://www.codeproject.com/Articles/23323/A-Generic-Clamp-Function-for-C

    public static T Clamp<T>(T value, T max, T min)
        where T : System.IComparable<T> {
        T result = value;
        if (value.CompareTo(max) > 0)
            result = max;
        if (value.CompareTo(min) < 0)
            result = min;
        return result;
    }

[2016-01-15 05:49] JimBobSquarePants commented on #287
@robertjf  I actually use that method in V2; the issue is further down the wire. despite the two types being what they are I get an invalid cast exception.

        public static T To<T>(this object obj)
        {
            Type destinationType = typeof(T);
            Type sourceType = obj.GetType();

            if (destinationType == typeof(float) && sourceType == typeof(byte))
            {

[2016-01-15 06:52] robertjf commented on #287
@JimBobSquarePants What if you use `Convert.ToByte()` and friends?  You'd need to catch `OverflowException` of course, but could use that to clamp the values...

[2016-01-15 07:33] yufeih commented on #287
My original thought was to use virtual dispatch like this: https://gist.github.com/yufeih/ee77890dbd1eed0cc88d

There is a virtual method call overhead each time we retrieve or store a pixel, but you don't have to deal with casting objects of unknown type and pay for the boxing overhead.

Performance wise, I am more towards having just a single `Image` with fixed pixel type. If there is a need for

[2016-01-15 13:59] christopherbauer commented on #294
Yeah I am going to start on trying to determine how to do this "the right way". Using the example from https://developer.nvidia.com/content/alpha-blending-pre-or-not-pre I'll be trying to determine how to get the multiply blending to return a "greenish red" instead of (what I expect will be) the "drab green" in the implementation we merged today. After that I can start attacking the other blend mo

[2016-01-15 19:00] PromontoryProtean commented on #295
I'm happy to report that I was able to install a newer build via the MyGet feed today, and all the dependency errors are gone. Thanks for clearing this up.

[2016-01-15 19:12] Jeavon commented on #295
:relieved: :triumph::boom:

[2016-01-15 19:47] christopherbauer commented on #295
:+1: Haven't been commenting here but been watching, great job guys!

[2016-01-16 07:31] JimBobSquarePants commented on #295
:100: Loving the little community we have got going here. I'll close this off now.

[2016-01-16 07:31] #295 closed

[2016-01-16 13:33] capt-caveman opened #302 "ImageProcessor.Web Out of the box issues"
Out of the box install into Umbraco 7.3.3 doesn't work on shared hosting(Arvixe). All files return as a server 500 response.

Disabling ImageProcessor does allow the images to display again but not without some hiccups in the xml.

After install, the lead <processing> node has two issues:
'fixGamma'  and  'interceptAllRequests' these attributes cause configuration errors. Removing them allows Imag

[2016-01-16 14:19] tompazourek commented on #260
I wrote a .NET library that deals with color spaces. Might be useful:

https://github.com/tompazourek/Colourful

[2016-01-17 09:02] JimBobSquarePants commented on #260
Hi Tom,

I'm sure that would be very useful. Would it be possible for you to cast your eye over the work we have done already to see if we have done anything daft?

Cheers

James

[2016-01-17 09:10] JimBobSquarePants commented on #302
Hi there,

Are you definitely running [ImageProcessor.Web v4.5.0](https://www.nuget.org/packages/ImageProcessor.Web/4.5.0)? The minimum version required for the `interceptAllRequests` value added in [ImageProcessor.Web.Config v2.2.5](https://www.nuget.org/packages/ImageProcessor.Web.Config/2.2.5) is that install.

The issues you are probably having are due to overzealous security configuration on

[2016-01-17 13:14] tompazourek commented on #260
Hi James,

I had a brief look at the color conversions. Just few observations and notes:

- Note that in the RGB color space the color is unambiguous only if accompanied by an [RGB color space (working space)](https://en.wikipedia.org/wiki/RGB_color_space). For, example this means that when you have an RGB triplet (0.6, 0.7, 0.1), it will represent slightly different colors if you say that the col

[2016-01-18 01:14] JimBobSquarePants commented on #260
Thanks Tom,

This is all excellent feedback which I really appreciate! :+1: I'll annotate your input with my response to make it clear for anyone following what we are talking about.

The Color struct defaults to the sRGB colorspace. I chose this since jpeg uses that as default (bitmap too?)  and it's by far the most common format. Realistically I should be specifying the color format since gif or

[2016-01-18 09:42] perosb opened #303 "ImageProcessor.Web.AzureBlobCache.1.0.6 sets incorrect Content Type"
In the latest 4.5.0 version it looks like Content-Type is default set to "text/html".

This seem to be for the second request when coming from cache. (in my case Azure Blob cache)

The first request set proper image/* header.

Prior to 4.5.0, the second request doesn't set any header at all, hence it still seem to work.

[2016-01-18 09:54] perosb commented on #303
This commit looks suspecious: https://github.com/JimBobSquarePants/ImageProcessor/commit/2f6e9f8c04c0f843b2e00f748e66f6d8550d0b24

[2016-01-18 09:57] perosb commented on #303
https://github.com/JimBobSquarePants/ImageProcessor/issues/276

[2016-01-18 10:05] JimBobSquarePants commented on #303
Hmmm... `this.mimetype` is not null then that means the content type of the blob should have been set.

https://github.com/JimBobSquarePants/ImageProcessor/blob/2f6e9f8c04c0f843b2e00f748e66f6d8550d0b24/src/Plugins/ImageProcessor.Web/ImageProcessor.Web.Plugins.AzureBlobCache/AzureBlobCache.cs#L223

If it is this causing the problem then it's not ImageProcessor.Web but the AzureBlobCache setting the

[2016-01-18 10:18] perosb commented on #303
It might be better to default to an unknown content type, image/xyz and have the browser decide.
Right not, text/html is not correct.

[2016-01-18 11:01] perosb commented on #303
From what I can see, the Content-Type header is set correctly on the Blob.
Also looks ok, when setting the metadata.

[2016-01-18 11:12] perosb commented on #303
@JimBobSquarePants think I fixed it.
issue was that using this.mimetype which is only set when adding to cache instead of using the GET requests headers.

[2016-01-18 11:25] perosb commented on #303
Also properly fixes https://github.com/JimBobSquarePants/ImageProcessor/issues/276 I believe

[2016-01-18 13:15] arknu opened #305 "Version 4.5.0 breaks percentage cropping"
When using a predefined crop in Umbraco, it generates a URL like this: http://localhost:1823/media/1019/loebere-paa-strand.jpg?crop=0.020427188497102129,0,0.72831839298854173,0.6610013498588786&cropmode=percentage&width=246&height=221&rnd=130975950450000000

This works fine with ImageCropper.Web 4.4, but breaks with 4.5. It throws an ArgumentException in the Crop processor. And debugging, it is qu

[2016-01-18 16:39] arknu commented on #305
I have a hypothesis that this is happening because I'm running on a system with da-DK culture. As no culture is passed into the ChangeType method, it uses the system culture. Hence it works on en-US system, but breaks in locales where we use comma as decimal separator. I'm testing this now - will produce a PR if this fixes it.

[2016-01-18 17:07] arknu commented on #305
Yep, ammending the line by passing in the culture fixes the issue:
    return (T)Convert.ChangeType(value, t, culture);

[2016-01-18 17:17] arknu commented on #305
PR is here: https://github.com/JimBobSquarePants/ImageProcessor/pull/306

[2016-01-19 02:56] JimBobSquarePants commented on #305
Thanks. Fixed

[2016-01-19 02:56] #305 closed

[2016-01-19 03:06] JimBobSquarePants commented on #260
Reopening this as I want to get it exactly right.

[2016-01-19 23:08] PromontoryProtean opened #307 "Evaluating resize performance in Core"
Hey Jim,
During my experiments with creating middleware for V3, I ran into some performance question marks when resizing images to generate thumbnails in my file manager web app. I've been trying to think of a good way to present these to you and finally settled on building a sample app in a fork.

My fork is here:
https://github.com/PromontoryProtean/ImageProcessor/tree/WebProjects
I added a new

[2016-01-20 01:06] JimBobSquarePants commented on #307
Hi there,

That's a big image! I'm fairly certain that would have caused issues with memory in V2 on some 32bit machines.

I'm getting around 5-6 seconds to decode/downscale/encode that using bicubic interpolation, I'm not convinced now that the resampler itself is the issue having boosted its performance somewhat. Other methods that do much less work (Hue) are still taking around 5 seconds. It lo

[2016-01-20 04:14] JimBobSquarePants commented on #307
To update.

It seems that simply encoding/decoding the jpeg takes around the same time as processing the image. I will need to have a look at improving the performance of the code there. The code is based on [libjpeg.net](https://github.com/BitMiracle/libjpeg.net), there are performance concerns noted [here](http://bitmiracle.com/blog/libjpeg-net-is-ready-for-download) but no commits that I can fi

[2016-01-20 04:15] PromontoryProtean commented on #307
It's definitely a big image, so I will describe our usage scenario so that you have some context. We have a proprietary CMS that has an image uploader. Our clients build a lot of image galleries, so we train them to take their images right off their phone or digital camera and upload them through the file manager in the CMS. The file manager takes care of reducing the source image to something usa

[2016-01-20 04:26] PromontoryProtean commented on #307
Jim, you must have posted that seconds before I posted my post. Thanks for the quick feedback. I am on the road tomorrow for work, but will definitely give the libjpeg.net link a read through. Lots for me to absorb here as I learn the nuts and bolts of how the library is built.

[2016-01-20 10:24] perosb commented on #303
Let me know if there is anything more i can do here.
I believe the PR https://github.com/JimBobSquarePants/ImageProcessor/pull/304 fixes the issue currently breaking all AzureBlobCache images.

[2016-01-20 10:28] JimBobSquarePants commented on #303
Sorry, I'll get this merged in. I'm juggling a few too many things just now.

[2016-01-20 10:53] perosb commented on #303
No worries @JimBobSquarePants
Just saw 4.5.1 and thought there still were issues with the PR.

Thanks!

[2016-01-20 11:22] JimBobSquarePants commented on #303
The PR is actually against the Azure plugin not ImageProcessor.Web

[2016-01-20 16:42] nul800sebastiaan opened #308 "OutOfMemory exception processing animated GIF"
Spent an hour to try to find some workarounds to fix an OutOfMemory exception when processing the GIF below. There error occurs after processing about 280 out of th 675 frames on this line of code:
https://github.com/JimBobSquarePants/ImageProcessor/blob/V2/src/ImageProcessor/Imaging/Formats/GifDecoder.cs#L59

The error was reported here: http://issues.umbraco.org/issue/U4-7720 as "The parameter i

[2016-01-20 19:55] JimBobSquarePants commented on #308
Hey chum,

There's no way I can think of that you'll get this to work with the present codebase - there's just too many frames.

Here's essentially what is happening. For `System.Drawing` to be able to edit an individual image frame it needs to be able to load it expanded into memory. With the way it's written just now that means we are attempting to load 675 images, each at 1280x720. We're succes

[2016-01-20 20:29] JimBobSquarePants commented on #308
Thinking about v3 I extract all the frames on load. Time to rethink that process!

[2016-01-20 22:06] JimBobSquarePants commented on #307
I'm having a look around just now for alternatives to work from but it could take a while to get something right.

[2016-01-21 10:45] nul800sebastiaan commented on #308
Thanks for the feedback! I may have some time to look into it today but I'm teaching courses, so I'm fully occupied until the end of the day. If they don't wear me out too much today I can have a look in the evening.

[2016-01-21 14:01] JimBobSquarePants commented on #307
I've managed to clean up the png encoder/decoder quite considerably and provide a small performance boost there. If I could make a bit more of the code there either parallel or use SIMD we'd be on to a winner.

https://github.com/JimBobSquarePants/ImageProcessor/commit/06d2d11922aa844dab91c857e540a6517eb88d45

[2016-01-21 16:20] PromontoryProtean commented on #307
Thanks for the update. I was on the road all day yesterday for work and playing catch up today, but should have time later today or tomorrow to check out the changes. I did read through the libjpeg stuff you referenced. So there are basically 3 steps to resizing a jpeg? Decompress, resize (process) and recompress? And you are hitting bottlenecks in all 3? When you say you are looking for alternati

[2016-01-21 22:09] SamuelEnglard opened #309 "ImageProcessor V3 on "Framework""
Been looking for a .NET image manipulation library not dependent on `System.Drawing` and ImageProcessor seems perfect. Only issue is that I'm developing on .NET Framework, not .NET Core/DNX.

On my local machine I have created a new Framework DLL that uses linked files so it has the same code and it does compile.

Before I continue (and start running tests) I wanted to know if this would be someth

[2016-01-21 22:21] SamuelEnglard commented on #287
While I work out in my head a better solution may I suggest T4? https://msdn.microsoft.com/en-us/library/bb126445.aspx

[2016-01-21 23:57] JimBobSquarePants commented on #307
I'm hitting bottlenecks in stages 1 & 3 more than 2. If I convert the image to bmp then decoding/resizing/encoding takes slightly less than 2 seconds on my machine.

The biggest bottleneck with resizing now is the need to expand/compress each color when iterating through them in order to more accurately resize the image as per http://www.4p8.com/eric.brasseur/gamma.html

There's no vector version

[2016-01-22 00:03] JimBobSquarePants commented on #309
Hi Samuel,

Would you be able to show me what changes you have made? I'm not quite following what you mean. (Truth be told I'm still struggling to get to terms with dnx etc.)

Cheers

James

[2016-01-22 00:11] SamuelEnglard commented on #309
See https://github.com/MapText/ImageProcessor/tree/Framework/src/ImageProcessor.Framework

[2016-01-22 00:27] JimBobSquarePants commented on #309
Ah right... I would wait it out. The ability to reference a dnx project in a csproj is supposed to be coming with RC2

https://github.com/aspnet/Home/issues/621

[2016-01-22 00:35] SamuelEnglard commented on #309
In that case yeah, I'll just wait. Thanks!

[2016-01-22 00:35] #309 closed

[2016-01-22 15:24] PromontoryProtean commented on #307
Jim, I'd say you made more than a small improvement in performance. I just tested with the newest build and resize time on the image in this post went from an average of 11.2 seconds to around 6.3. That's a huge jump, so nice job. It's unfortunate that the bottleneck is now in the libjpeg code. Optimizing and improving complex code that is not your own is always much more difficult. I also wonder

[2016-01-22 15:51] JimBobSquarePants commented on #307
That's great to hear! So happy to be making progress. :smile:

I've created a branch to test out the encoder/decoder in [FluxJpeg.Core](https://github.com/briandonahue/FluxJpeg.Core) The code there needs some work but for the most part is easily clean enough to follow and improve upon. The jpeg specification is a bugger to read though!

Managed code can be fast, really fast. You should see the wor

[2016-01-23 13:24] voidstar69 commented on #109
I am interested on working on this issue.

IGraphicsProcessor is an interface in the V2 branch. The V3 branch uses the IImageProcessor interface. It looks to me like the V2 filters are are single-threaded, so a callback progress indicator is simple to implement, but the V3 filters are multi-threaded (via ParallelImageProcessor and the Tasks library). So a callback progress indicator in V3 might be

[2016-01-23 14:27] voidstar69 commented on #259
@JimBobSquarePants is this the sort of change that you are looking for?

Changing Color.Lerp from this:

        public static Color Lerp(Color from, Color to, float amount)
        {
            amount = amount.Clamp(0f, 1f);

            if (Math.Abs(from.A - 1) < Epsilon && Math.Abs(to.A - 1) < Epsilon)
            {
                return from + (to - from) * amount;
            }

[2016-01-23 14:49] JimBobSquarePants commented on #109
Hi there,

I'd love to see what you could implement for either. A huge :+1: from me.

I agree that for V2 it should be a simple addition, for V3 (I think I'm going to rename that btw to Core.V1) I don't know. I thought about adding something to `ParallelImageProcessor` since that is the single point we can grab the sum of the processor count and provide accurate-ish feedback. Processors can be nes

[2016-01-23 14:54] JimBobSquarePants commented on #259
You're absolutely correct. I can use the built in `Vector4.Lerp` in that situation. The `Color` minus operator utilizes the backing vector but we might as well cut out the middle man.

The code, I believe, would be:

    return Vector4.Lerp(from.backingVector, to.backingVector, amount);

For premultiplied alpha we'd probably have to fall back to the non SIMD approach.

I'd imagine it would be a ve

[2016-01-23 16:02] perosb commented on #303
Sorry to bug you about this one @JimBobSquarePants, when do you think the Azure plugin will be released?

[2016-01-23 16:04] PromontoryProtean commented on #307
I checked out FluxJpeg and it actually has a built in resizer. I built a quick web forms app to test it out. I uploaded it here:
https://github.com/PromontoryProtean/FluxJpegImageResizer/tree/master/FluxJpegImageResizer

I was able to get resize times of less than 1.5 seconds using the test image in this post. So I absolutely  think it is worth while to explore and probably replace libjpeg with Fl

[2016-01-23 19:02] voidstar69 commented on #109
Hi,

I have now implemented the progress callback for the V3 branch: https://github.com/voidstar69/ImageProcessor

I decided to let the client code handle multi-threaded callbacks, rather than have `ParallelImageProcessor` try to serialise these into callbacks on the client thread.

The callback fires after each (source image) row is processed (potentially in any order, due to multi-threading). A

[2016-01-24 00:56] JimBobSquarePants commented on #303
There you go :smile:

https://www.nuget.org/packages/ImageProcessor.Web.Plugins.AzureBlobCache/1.0.7

[2016-01-24 00:56] #303 closed

[2016-01-24 01:15] JimBobSquarePants commented on #109
I like this! Any noticeable performance cost from adding the functionality?

[2016-01-24 16:51] voidstar69 commented on #109
Nothing conclusive. The existing stopwatch timing seems too variable for performance testing - a good performance test would probably execute a single filter many times to ensure code is JITed and cached, throw away the highest and lowest times, and average the rest.

Using the existing stopwatch timing, I only know how to view the trace output via debugging the code and looking in the Debug windo

[2016-01-24 22:48] JimBobSquarePants commented on #109
:smile: Yeah that doesn't yield much discernible difference. `Interlocked.Add` is supposed to do millions of operations a second so I doubt it will.

Looking forward to seeing that in place. I'll look into coding out a nice way to test performance of individual processors. and the encoders/decoders separately.

[2016-01-24 23:34] voidstar69 commented on #109
I changed all filters and samplers to provide progress updated, and submitted this as PR #310

[2016-01-25 09:06] kipusoep opened #311 "InvalidOperationException: An asynchronous module or handler completed while an asynchronous operation was still pending."
Hi James,

I updated ImageProcessor in one of our Umbraco projects last week.
I went from:

[code]

To:

[code]

Now we got an Exception caught by our Exception logger:
```InvalidOperationException: An asynchronous module or handler completed while an asynchronous operation was still pending.```

This was triggered by the URL: /media/1002/file.jpg?width=500&rnd=20151207104041
So I guess this might

[2016-01-25 21:26] coolmikkel commented on #308
We have in our Umbraco websites choose not to put any width or height on GIF images. So the gif is not handled by the ImageProcessor.

It looks like that ImageProcessor is doing a lot of work on GIFs. Resizing every single image in the animation and then finalizing it bye combining all the images to one GIF.

[2016-01-26 02:21] JimBobSquarePants commented on #311
Oh dear...

Did the exception logger provide any more detail? What was the output of the image request, did it resize?

[2016-01-26 08:19] kipusoep commented on #311
No more details unfortunately, I guess that's because there are no pdb files.
Got more instances of the error since I reported it yesterday and found out the picture isn't loading. I have an example URL for you, but can't post it here. It's just loading indefinitely.
I'll send you the URL via DM on Twitter.

[2016-01-26 09:04] JimBobSquarePants commented on #311
Looking at that image I think an out of memory exception is being thrown somewhere since it's 5760x3840 pixels. Unfortunately the error itself is not getting logged. I'm not sure why that would be the case.

[2016-01-26 09:48] kipusoep commented on #311
Just tested this with the previous version and everything is working fine, so it's an issue with the latest version.

[2016-01-26 13:26] JimBobSquarePants commented on #311
I'm not sure what is happening. Here's a screenshot of the image getting resized with the test website within the solution. The code there is identical to the latest release.

![resized](https://cloud.githubusercontent.com/assets/385879/12581629/1269adb2-c48c-11e5-9b51-ae4a6764cfdc.png)

[2016-01-26 13:44] JimBobSquarePants commented on #308
@nul800sebastiaan I've rewritten the code to work how I described above. The image can now be fully processed without the memory climbing too high. I'll do a release soon but it's after midnight and there's still something funny going on with transparent gifs. (Which I can't seem to solve)

However, I really wouldn't recommend someone attempting this kind of process on the fly, and I would recomme

[2016-01-26 14:26] bartvanderwal commented on #278
:+1: +1

[2016-01-26 22:02] #302 closed

[2016-01-27 14:03] nul800sebastiaan commented on #308
Ah awesome, thanks @JimBobSquarePants Been too busy to look at this until now. Yes, this just clicked for me too, you should not want this for all gifs!

How about a parameter that does the following: if there's more than `x` frames in a GIF, don't process and resize all of them, instead pick one (I don't know.. the 10th? the middle one? to be determined) and show that as a thumbnail. Or maybe pic

[2016-01-27 17:47] voidstar69 commented on #307
@JimBobSquarePants, you wrote:
"The biggest bottleneck with resizing now is the need to expand/compress each color when iterating through them in order to more accurately resize the image..."

If each color component were an 8-bit unsigned integer rather than a float, you could use a 256-entry lookup table to map a linear component to an sRGB component, and another lookup table to perform the reve

[2016-01-27 19:03] dampee commented on #308
If its for thumbnailing , the idea of an "abreviated" gif is superb.  Certainly if you take the frames spread across the image.  Eg, every 25th frame.  If the delay between the frames is slower and the total length is equal to the original image, the users will get a good idea of the original image.

If you can use estimated final size or "percentage" of quality to keep, it might work for differen

[2016-01-28 06:29] JimBobSquarePants commented on #308
@nul800sebastiaan, @dampee  Maybe... You'd have to add a parameter to the gif encoder telling it whether to and how many frames to skip, then do some maths. You'd then have to write something in Imageprocessor.Web to parse that instruction...

Makes me wonder how developers prepared gifs for the web before I wrote all this?

[2016-01-28 06:32] JimBobSquarePants commented on #307
@voidstar69 it would certainly be faster than the Bicubic or the rest of the more complicated algorithms. You would definitely introduce banding into the image though. I'd wager passing Box or NearestNeighbor would be nearly as quick though.

[2016-01-28 06:40] PromontoryProtean opened #312 "basic thumbnail middleware and benchmarking"
I've been doing some prototyping on middeware for V3. I decided to keep it simple and build a basic thumbnail middleware. I layered it on top of the file manager web app that I have been porting to asp.net core. My repository is here:
https://github.com/PromontoryProtean/AspnetCoreFileManager

It is a basic file manager app (with some quirks to iron out) that has a tile mode that shows thumbnails

[2016-01-28 23:46] JimBobSquarePants commented on #277
Fixed this in v4.5.0

[2016-01-28 23:46] #277 closed

[2016-01-28 23:54] #292 closed

[2016-01-28 23:54] #286 closed

[2016-01-28 23:58] JimBobSquarePants commented on #109
@cosmo0 @voidstar69 What are your thoughts on adding similar functionality to the Framework version? I'm concerned that we cannot now change the `IGraphicsProcessor` interface without a major version.

[2016-01-29 00:00] JimBobSquarePants commented on #81
Gonna close this since the Core version will be build against Asp Core which gives us everything we need.

[2016-01-29 00:00] #81 closed

[2016-01-29 02:32] Quintinon commented on #294
I'm looking into helping some with this as I've been wanting to get (back) into OSS. Most of these seem straight forward to implement. I'm interested in attempting to do some performance improvements later as those are always "fun". I've got some ideas on performance that might help but I need to learn the code base first, so for now I'll start work on the **screen blend**.

[2016-01-29 02:42] Quintinon commented on #294
I just noticed this was assigned to someone, if I should be working on a different item let me know, I won't be able to start working on it until this weekend anyways.

[2016-01-29 04:22] EnterpriseWide opened #313 "amazon s3 integration"
is the idea for the plugin for s3 to do the following:
image to be requested by the client from webserver
checks the s3 cache
which then in turn requests the full image from s3,
processes changes,
caches the result,
uploads the result to s3
then returns a redirect to the client pointing at s3?

[2016-01-29 05:01] JimBobSquarePants commented on #313
Yeah, that's how it should work. Have you had a look at the Azure plugin? That's a complete workflow.

[2016-01-29 05:08] JimBobSquarePants commented on #294
Hi @Quintinon, Love that you want to get involved! @christopherbauer do you want to work together on this?

Would love to see what you could ad performance wise also!

[2016-01-29 07:34] voidstar69 commented on #109
@JimBobSquarePants I will have a look at the Framework version this weekend, to see how much work is involved in adding progress updates.

We can make the change backwards compatible (i.e. the progress callback is optional) - does this then require a major new version of ImageProcessing for Framework?

[2016-01-29 07:58] kipusoep commented on #311
So I just upgraded IP again, due to an umbraco to 7.3.6 and now everything works fine... :confused:
Thanks for you time @JimBobSquarePants and I'm sorry it was nothing after all.

[2016-01-29 07:58] #311 closed

[2016-01-29 09:09] cosmo0 commented on #109
Large breaking changes in the API might require a new major version, but I don't think just introducing a new feature does.

[2016-01-29 15:05] JimBobSquarePants commented on #311
No worries chum,

Asynchronous threading is an odd affair in Asp.Net, more hack than true support as far as I can gather. Very glad you got it sorted!

[2016-01-30 01:49] JimBobSquarePants commented on #109
If we can get by without changing the interface then minor version, any interface changes will require a major version. I've made that mistake before. It ain't pretty.

[2016-01-30 15:00] voidstar69 commented on #109
It is possible to add the OnProgress event to all classes that implement IGraphicsProcessor, without adding it to IGraphicsProcessor. Not the cleanest approach, but it would then not require a major version.
Then when you have a reason for another major version, the OnProgress event can be added to IGraphicsProcessor.
The downside is that any code that generically handles IGraphicsProcessor-derive

[2016-01-31 08:59] voidstar69 commented on #109
Looking more closely at this, I believe a progress callback is generally not possible for the Framework branch. The issue is that most processors make a single call to a method of `System.Drawing.Graphics` or `System.Drawing.Image` to perform most of the work, and these classes do not provide any progress callbacks. I tried using `System.Drawing.Graphics.DrawImageAbort` as a progress callback, but

[2016-01-31 09:02] JimBobSquarePants commented on #109
@voidstar69. I concur, I was thinking about it today and drew exactly the same conclusion.  I vote for closing the issue.

[2016-01-31 09:07] voidstar69 commented on #109
@JimBobSquarePants I agree, this issue should be closed.

Hopefully the Core version will eventually become the single standard version of ImageProcessor for all platforms, and so all platforms will then have progress callbacks.

[2016-01-31 19:56] akusmin opened #316 "Disposing source stream"
Load(Stream stream, IList<IImageFormat> formats) method is disposing source stream. From my point of view it is not task for a processor to dispose source stream.
Will it stay as a feature of ImageProcessorCore or can it be fixed. ImageProcessor don't have such behavior...

[2016-01-31 22:08] JimBobSquarePants commented on #316
You're absolutely correct. The responsibility of managing the stream should be the responsibility of the client user. I'll make sure that's updated.

[2016-02-01 01:04] akusmin opened #317 "Resizing in a Pad mode"
Is there is any option to resize in a Pad mode like it was in a previous version in ImageProcessor? I've tried to find solution but no result...

[2016-02-01 02:31] JimBobSquarePants commented on #317
There are no resize modes as yet. This is still an alpha so we are concentrating on getting the raw basics of an API solid.

Please also bear in mind that the Core version is an entirely different library to ImageProcessor for the Net Framework. They perform different roles and will have different functionality available.

[2016-02-01 02:31] #317 closed

[2016-02-01 11:04] #316 closed

[2016-02-01 11:04] JimBobSquarePants commented on #282
Cant seem to replicate this. Please reopen if it still occurs with the latest builds.

[2016-02-01 11:04] #282 closed

[2016-02-01 22:46] akusmin commented on #317
Sorry for bothering you... It's clear that ImageProcessorCore is completely new and different library but I need to know is it in you plans to implement resizing with a result similar to ImageProcessor resize Pad mode?

[2016-02-01 23:20] JimBobSquarePants commented on #317
No worries at all... Eventually it probably will yeah.

[2016-02-02 00:55] troyfulton opened #320 "CAIR Plugin"
Hello,

I'm trying to use the CAIR plugin to do SeamCarving, but I can't find the URL syntax to use...can you please point me to any documentation that you may have regarding using the CAIR plugin.

Thank you.

[2016-02-02 01:34] JimBobSquarePants commented on #320
There isn't an ImageProcessor.Web `IWebGraphicsProcessor` implementation for Cair since for many scenarios you require a mask in order to produce decent output. That makes it mostly unsuitable for the web.

The ImageProcessor extension wraps this software and matches 90% of the API. https://sites.google.com/site/brainrecall/cair

Masks can be generated using https://code.google.com/archive/p/seam-

[2016-02-02 01:34] #320 closed

[2016-02-02 01:40] troyfulton commented on #320
Hi, Thank you so much for getting back to me.

Ok, so with ImageProcessor, is there a good way to crop an image like this:

http://cornerstone.kyamedia.com/kids.jpg

I know I could use anchor=bottom, and it does a nice job, but we’ll never know what the user might upload…I have another image where faces are in the top 1/3 of the image, so without knowing the anchor position is there a good way to

[2016-02-02 01:45] JimBobSquarePants commented on #320
No worries, :smile:

If you are not concerned with the actual dimensions of the output rather just capturing the are of interest you might get away with using the entropy cropper.

http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/entropycrop/

I keep meaning to add the ability to set minimum dimensions to that plugin but there's always a lot on my plate.

[2016-02-02 01:51] PromontoryProtean opened #321 "image.Process problems when resizing in Core"
I'm running into resizing problems when using the image.Process extension method in V3 (Core). The following works as expected, I'll call this scenario 1.
`image.Resize(width, height).Save(outputStream);`

The following incorrectly returns the original image, unaltered, but takes some time as if processing is being performed. I'll call this scenario 2.
`image.Process(width, height)`

The following

[2016-02-02 02:01] troyfulton commented on #320
Ok, thank you.

From: James Jackson-South <notifications@github.com<mailto:notifications@github.com>>
Reply-To: JimBobSquarePants/ImageProcessor <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, February 1, 2016 at 6:45 PM
To: JimBobSquarePants/ImageProcessor <ImageProcessor@noreply.github.com<mailto:ImageProcessor@noreply.github.com>>
Cc: Robert Fulton <troy.fulton@kyamedia.co

[2016-02-03 11:26] nul800sebastiaan commented on #308
@JimBobSquarePants That I can do, struggling a little as to how to pass the querystring value to the `GifDecoder`& `ImageExtensions.Copy`. Any hints on how you would handle that?

[2016-02-03 11:55] voidstar69 commented on #308
The principle of separation of concerns suggests that the gif decoder and encoder should not know anything about this frame-skip logic. Instead the client code using the gif decoder/encoder (maybe Imageprocessor.Web?) should handle the frame-skip logic. The gif decoder should simply supply all images from the file (all in one data structure, or maybe as a 'stream' of images), and the gif encoder s

[2016-02-03 12:17] nul800sebastiaan commented on #308
Yeah, I was going to start with doing just the first frame. I don't think you'd need to do much CPU intensive work though, you can pick frames to do processing on and ask for them by index.

[2016-02-03 15:55] nul800sebastiaan commented on #308
Started to dive into this and created PR #322

[2016-02-03 22:58] JimBobSquarePants commented on #308
Good conversation guys. First frame is definitely the way to go. Otherwise the logic would get mental.

[2016-02-04 06:12] #293 closed

[2016-02-04 06:21] JimBobSquarePants commented on #321
Hey chum, Can you list the Processors and the order you call them in scenario 3?

[2016-02-04 14:34] voidstar69 commented on #109
@cosmo0 Are you happy for this issue to be closed?

[2016-02-04 19:21] cosmo0 commented on #109
Sure !

[2016-02-04 19:21] #109 closed

[2016-02-05 14:57] PromontoryProtean commented on #321
I don't think I tested any scenarios with multiple processors. I ran into it when working on my pull request and building the test pages that showed examples with individual effects applied. But I got the errors with alpha and hue. For example the following trips:

[code]

But this works:
[code]

Hope that explains it a little better.

[2016-02-05 15:53] JimBobSquarePants commented on #321
Hue will try and operate on the full image. It uses the second overload internally if you check the source. We'll have to make it more robust though.

[2016-02-05 17:24] PromontoryProtean commented on #321
Ok, but am I wondering - was I correct in assuming that there is a problem causing scenario 2? Should the following return a resized image?
`image.Process(300, 300)`

I'm just getting back what appears to be the original, unaltered image when I use this overload. Though it does take some time as if there is some processing going on.

[2016-02-06 01:25] JimBobSquarePants commented on #321
No because we don't pass a the resizer. I'll put some thought to it.

[2016-02-06 16:16] PromontoryProtean commented on #321
Ok, I guess if you already have `image.Resize` that particular overload becomes redundant. I just looked at the source again and realized that there is no actual `Process(this Image source, int width, int height)` overload. I did some reading and realized that a params parameter is an optional parameter. Because it is optional the `Process(this Image source, int width, int height)` becomes implied

[2016-02-07 02:01] IanYates commented on #321
In my own app I have a repository locking API where I had a params parameter but it was a stupid error on my part if I left the params part empty.  Similar to what @PromontoryProtean is describing, I wanted to guard against this at compile time just to save myself some boneheaded mistakes and as a great early hint to others using the API.

I achieved it by changing the signature from something lik

[2016-02-07 18:09] shutdown256 opened #323 "Bug in loading png with indexed colors"
Hi,
I've find out that there is an issue with loading png images with 4 bits indexed colors. I belive the problem is cased by two bugs in[ Common/Extensions/ByteExtensions.cs](https://github.com/JimBobSquarePants/ImageProcessor/blob/Core/src/ImageProcessorCore/Common/Extensions/ByteExtensions.cs) and in [Formats/Png/PaletteIndexReader.cs](https://github.com/JimBobSquarePants/ImageProcessor/blob/Co

[2016-02-07 22:40] JimBobSquarePants commented on #323
Ah excellent! Thanks for this!

There's a few small bits of the codebase I inherited from other projects that weren't fully tested. Indexed pngs is one of those last sections. Would you be able to submit a PR with the updated code and a test image? I could start working on encoding them too then.

[2016-02-08 06:08] JimBobSquarePants opened #324 "Rewrite the Jpeg (De/En)coder"
The current Jpeg tools within the library are too slow and buggy, see #307 (Also cannot process 1x1 image)

I need to rewrite them or the library will be unusable for large images. I've been basing my work on https://github.com/briandonahue/FluxJpeg.Core but I cannot get it to work. (See jpeg branch) This is not going well...

Perhaps it would be possible to translate https://golang.org/src/image/

[2016-02-08 08:01] shutdown256 commented on #323
Sure, when I get to work I will get on that.

[2016-02-08 10:40] voidstar69 commented on #324
@JimBobSquarePants Do you have a feel for whether it is possible to get FluxJpeg.Core working? i.e. how close is the jpeg branch to a working jpeg decoder/encoder? I cannot tell by looking at that branch - are there jpeg tests that fail?

[2016-02-08 10:57] shutdown256 commented on #323
Ok so I have issued a Pull Request with proposed changes: #325 . I'm just getting started with GitHub so I hope I did it right.

[2016-02-08 12:00] JimBobSquarePants commented on #323
Absolutely brilliant. Thank you :+1:

[2016-02-08 12:00] #323 closed

[2016-02-09 06:50] JimBobSquarePants commented on #324
@voidstar69   It's not got any tests yet.... (I know! shocking :scream:)  as FluxJpeg doesn't have any unit tests. I've been doing an input/output comparison using a hex editor so far. I'm gonna see if I can pilfer some examples from the golang repo or libjpeg itself.

I _think_ the encoder is pretty much correct except for the actual compression part. All the marker headers before then seem ok. W

[2016-02-09 14:41] zpbd commented on #307
Just an observation here. But a few years ago (okay, 10, so a different world) I was working on an AI vision project in C# and I needed to do a lot of image manipulation very very fast (mainly resize, rotate and crop). At the time nothing seemed to exist that was remotely fast enough and I had to build all of my image processing manually in unsafe code. It took me absurdly long but the performance

[2016-02-09 14:45] JimBobSquarePants commented on #324
@voidstar69 I've just added a unit test for the Forward DCT method and that seems to check out correctly. It's either the Huffman encoder or my looping strategy when splitting up the image into 8x8 blocks that's the issue now.

https://github.com/JimBobSquarePants/ImageProcessor/commit/7933d5fcf4da5bf8eaf42e9e0d6709a70d68ce7d

[2016-02-09 14:50] JimBobSquarePants commented on #307
Hi there, your input is most welcome!

My algorithms are pretty quick so far (Im using SIMD where I have figured out where) but yeah, there's certainly some improvement to be had using unsafe code. I'm sure the pixel access indexer could be done better to utilize it for example. My experience with unsafe code blocks is severely limited though having only coded in managed code for the most part ove

[2016-02-09 17:47] voidstar69 commented on #324
@JimBobSquarePants Could you test FluxJpeg against the existing libjpeg library, writing tests to compare the Huffman encoder, Forward DCT method, and any other steps? Assuming that libjpeg produces the correct result, it might point out where the issue is in FluxJpeg.

I am afraid that I won't have time to work on this for a few days, maybe until the weekend.

[2016-02-10 03:51] JimBobSquarePants commented on #324
@voidstar69   I've been doing a physical comparison for the most part. Testing the Huffman Encoder is difficult though since it's so tightly coupled. It'd be great if you could figure this out. I'm scratching my head! :confounded:

[2016-02-10 15:26] JimBobSquarePants commented on #308
Just released now. V2.3.3 and V4.5.2

[2016-02-10 15:26] #308 closed

[2016-02-10 15:27] JimBobSquarePants commented on #300
I've just released the update supporting your changes. V1.0.4 Thanks again for your help :+1:

[2016-02-10 15:27] #300 closed

[2016-02-10 15:48] nul800sebastiaan commented on #308
Dude, are you still living on Scottish time!?

AWESOME!! Shannon promised he'll take you out for a beer when he's on holiday there next week! :beers:

[2016-02-10 23:03] voidstar69 commented on #324
@JimBobSquarePants I have stepped through the new jpeg `Encode` method, calling `writer.Flush()` in the Watch window to force it to dump each chunk of the binary data to file, and comparing the binary file in a text editor to the same file (rbg.jpg) produced by the old jpeg encoder.

- `WriteApplicationHeader `has only a few different bytes.
- `WriteDescreteQuantizationTables` has many different b

[2016-02-10 23:09] voidstar69 commented on #324
@JimBobSquarePants BTW on my PC, Windows Explorer thumbnails and Windows Photo Viewer do appear to load the rgb.jpg produced by the new jpeg encoder, albeit with incorrect colours. So maybe the jpeg structure is correct, but the quantization tables / huffman tables / encoded pixel data is wrong?

[2016-02-10 23:53] JimBobSquarePants commented on #324
@voidstar69 Thanks yeah, I think it's got something to do with the way I'm looping through and encoding the pixels. I can add the prior headers to an existing jpeg and it will continue to display correctly.

- `WriteApplicationHeader` is different because for some reason the image resolution is not getting preserved. (I don't think that is a factor)
- `WriteDescreteQuantizationTables ` is differen

[2016-02-11 06:08] JimBobSquarePants commented on #324
Here's a dump of the input RGB file as a byte array to help with unit testing.

[rgb.cs.txt](https://github.com/JimBobSquarePants/ImageProcessor/files/125943/rgb.cs.txt)

[2016-02-11 08:51] JimBobSquarePants commented on #308
:smile: It needed doing! Looking forward to seeing him when he comes over. I'll try not to steal him back.

[2016-02-11 15:23] kipusoep commented on #311
For future readers:

[2016-02-11 15:59] nul800sebastiaan commented on #308
@JimBobSquarePants Haha! Well, he hates the Danish winters so he'll return anyway at some point! ;-)

Thanks again!!

[2016-02-11 23:57] jonrandahl opened #327 "Unrecognized attribute 'postProcess'. Note that attribute names are case-sensitive."
After initiating an update from Umbraco 7.3.x up to both 7.3.7 and 7.4 I've experienced this issue:

	Server Error in '/' Application.

	Configuration Error

	Description: An error occurred during the processing of a configuration file required to service this request. Please review the specific error details below and modify your configuration file appropriately.

	Parser Error Message: Unrecogni

[2016-02-12 00:04] JimBobSquarePants commented on #327
Ah right.. I didn't set the config to remove the attribute. It's all xdt transforms. If you have a mo could you experiment? You can find the config transform for configuration package in the build folder.

https://docs.nuget.org/create/configuration-file-and-source-code-transformations

[2016-02-12 04:00] JimBobSquarePants commented on #294
Hey @Quintinon, @christopherbauer have you had a chance to chat about this?

[2016-02-13 03:24] JimBobSquarePants commented on #324
@voidstar69 Ok So I'm been doing some comparison testing against FluxJpeg and it turns out that their DCT encoder is deviating what what I would expect from the information derived from [Wikipedia](https://en.wikipedia.org/wiki/JPEG#Discrete_cosine_transform)

My unit tests in the solution match the described output but FluxJpeg doesn't

**Expected** `this.fdct.QuantizeBlock(dct, quantizationTable

[2016-02-14 00:24] christopherbauer commented on #294
Oh gosh I'm sorry I started a new job and have had no time to even think on this (actually work I've done for ImageProcessor is really making me an all-star over there! :)). I'd love for @Quintinon to take on some of the work here if he's still interested.

[2016-02-14 02:13] christopherbauer commented on #294
Side note: I can't for the life of me get xunit tests to run via the resharper xunit runner. Is anyone else having this problem? I miss nunit!

[2016-02-14 13:52] JimBobSquarePants commented on #324
Sent the wrong quality to FluxJpeg above, number still wrong though.

[2016-02-14 22:54] voidstar69 commented on #324
@JimBobSquarePants When I run the same test, it seems to produce the correct output from FluxJpeg for the first component:
[code]
It is only the output of the second component, from FluxJpeg, that does not match the expected output:
[code]

I cannot see how to test LibJpeg in the same way. Can you share your test code for LibJpeg? I want to help you create some more tests of this behaviour, and th

[2016-02-14 23:21] JimBobSquarePants commented on #324
@voidstar69 I created my [unit test](https://github.com/JimBobSquarePants/ImageProcessor/blob/5faed844e00aac8ed0baed1ff003ff5e46dec48c/tests/ImageProcessorCore.Tests/Processors/Formats/JpegEncoderTests.cs) based purely on the info supplied in the Wikipedia page. I can't find any decent unit tests anywhere for libjpeg or language derivatives. The best are in the [golang repo](url). The Wikipedia pa

[2016-02-15 06:59] JimBobSquarePants commented on #324
Here's the report from [JpegSnoop](http://www.impulseadventure.com/photo/jpeg-snoop.html) on my output.

Looks like it's definitely my SOS portion.

[code]

[2016-02-15 07:00] JimBobSquarePants commented on #324
Here's the input for comparison

[code]

[2016-02-16 14:21] JimBobSquarePants commented on #324
Maybe this will be useful?

http://www.opennet.ru/docs/formats/jpeg.txt

[2016-02-16 18:37] Yorkst opened #331 "The package does not contain any assembly references or content files that are compatible with that framework."
I'm trying to add alpha 692 to my project in visual studio 2015 and get an error:

Could not install package 'ImageProcessorCore 1.0.0-alpha-692'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, c

[2016-02-16 22:10] JimBobSquarePants commented on #331
ImageProcessorCore doesn't support NET 4.5, It's CoreFX only.

https://github.com/JimBobSquarePants/ImageProcessor/blob/Core/src/ImageProcessorCore/project.json#L30

We'll probably add NET 4.6 support before final release though. It can never support Net 4.5 due to the use of `System.Numerics.Vectors`

[2016-02-16 22:10] #331 closed

[2016-02-17 22:46] MasoudRahmani commented on #331
you could get system.numeric from nuget that way it would work on dot net 4.5.

[2016-02-18 20:18] Yorkst commented on #331
I've never worked with CoreFx. There is no option to change target framework in Visual studio as with .Net projects. Can you describe this a little more in detail?

[2016-02-18 22:12] JimBobSquarePants commented on #331
@MasoudRahmani What were your requirements that meant you needed .NET4.5? I ask because ASPNET Core will be .NET4.6+ only.

[2016-02-20 12:25] MasoudRahmani commented on #331
Building a WPF project for Windows seven, his question where too broad and that's why i said it could be used with Vector package from nuget.

[2016-02-23 10:52] olaj commented on #161
I was not sure if i should ask here or Stack Overflow but i posted a question about this on Stack Overflow and well nobody has answered so i thought i might ask here :)

http://stackoverflow.com/questions/35550998/optimal-settings-for-serving-images-with-imageprocessor-azureblobcache

Maybe someone else need more clarification!

Thanks for a great framework!

[2016-02-26 07:59] thehe commented on #324
what's about getting source of imagemagick or something and do a "1-on-1"-copy in c#?

[2016-02-26 08:20] dlemstra commented on #324
Copying from ImageMagick is not really an option because it uses libjpeg(-turbo). You could translate libjpeg to C# but I assume that it is going to be a lot of work. I noticed you starred https://github.com/BitMiracle/libjpeg.net, maybe that project can help you figure out what to do?

[2016-02-26 09:46] JimBobSquarePants commented on #324
I'm using BitMiracle already, it's incredibly slow for larger images and buggy for tiny ones plus the code is a minefield to read. I've spent weeks pouring through the source and got nowhere.

[2016-03-01 13:12] JimBobSquarePants commented on #324
I've been trying to do a byte by byte comparison between my code and FJCore (difficult due to differences in rounding) and I think it's the endianness of my output from the Huffman Table.

I'm using a specialist EndianBinaryWriter with Big Endian encoding to write to the stream and I think that the HuffmanTable class is already doing some sort of conversion already.

I suppose I have two choices.

[2016-03-01 13:30] JimBobSquarePants commented on #324
Well using the underlying stream works.... I'd much, much rather use the encoder throughout though.

![splash](https://cloud.githubusercontent.com/assets/385879/13428349/fba540ee-e00d-11e5-89f9-dcd0fa798d7c.jpg)

[2016-03-01 22:29] bjammin opened #333 "s3 support for CloudImageService"
I'm looking at using ImageProcessor.Web for processing images stored in s3.  Of course I can use it right now with the CloudImageService (have tested and it works fine) but I would have to make my buckets public and reference via http.

I was wondering if anyone has built a CloudImageService specifically for s3 that would enable you to specify the access key & secret and use the s3 api to retrieve

[2016-03-02 02:27] JimBobSquarePants commented on #333
Hi there,

Thanks for that.

ImageProcessor.Web uses the CloudImageService with http to ensure that there are not too many overheads fetching an image. I've a feeling adding service calls to S3 would incur many additional processing costs to the running server in comparison.

So unfortunately that would mean the additional functionality would not be something we are looking to add just now.

Incid

[2016-03-02 04:07] bjammin commented on #333
Thanks for the quick response James.

Surprisingly I have done some benchmarking with another product which has native S3 support and it was still very fast, actually faster than ImageProcessor!  So I think the overhead is negligible if anything.

Anyway it would be pretty trivial to prototype it up, so if we settle on ImageResizer I will certainly look into it.

[2016-03-02 10:08] ProNotion opened #334 "PNG Resize Blurring even at 100% quality"
Fantastic project by the way! We have an issue resizing some PNG's on a site which for some reason is causing blurring on the images even at 100%, this is most noticeable on straight lines and text. I've linked to an example,[ the first is the original PNG image](https://drive.google.com/file/d/0BxFLDfbc6Op0Q1o1ZWowM0J0YXM/view?usp=sharing) (566x537) and [the second is the resized version](https:/

[2016-03-02 10:58] JimBobSquarePants commented on #334
Hi Simon,

Thanks!

Not with the Framework version I'm afraid. The aspect ratio of your resized image is ever so slightly different which is going to lead to rounding errors. (The downside of pixels). The resampling algorithm used by `System.Drawing` doesn't preserve sharpness as well as some algorithms (Lanczos etc) plus at 8 bits per color component there are always errors at odd ratios so you w

[2016-03-02 10:59] #334 closed

[2016-03-02 11:04] ProNotion commented on #334
Thanks James for the quick response and detailed explanation. I can at least go back to the designer on the aspect ratio point which might help a little.

Keep up the great work!

[2016-03-02 11:33] JimBobSquarePants commented on #334
No worries, happy to help!

[2016-03-02 12:32] bjammin opened #335 "ImageProcessor.Web - overlay.size doesn't do anything"
I may be misunderstanding it in some way, but trying to use the [overlay method](http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/overlay/) and the overlay.size parameter does not appear to do anything.

`&overlay.size=100,100`

I'm not sure what the numbers refer to (pixels? percent?) but either way they don't seem to do anything whatever I change them to.

[2016-03-03 04:37] #333 closed

[2016-03-07 18:32] bussemac opened #337 "Error 400 (Bad Request) with ImageProcessor.Web and Azure Cache"
I think I have this setup correctly:
I have a classic storage account with two blobs: media and cache, both are set for public container (I wasn't sure if public blob was enough).
I have a CDN classic setup pointing to media.
All my config files have the azure accounts and keys, these nuget versions:
* UmbracoFileSystemProviders.Azure    {0.5.1-beta}
* ImageProcessor                      {2.3.3.0}

[2016-03-07 20:02] bussemac commented on #337
To further test this, I changed only cache.config to switch back to the DiskCache, and it worked fine, the image loaded with and without the query string. Here's the cache.config that's not working:

[code]

That CDN root is set with the origin as http://[account].blob.core.windows.net/ and has "Enable Query String" set on as well as HTTPS enabled.

[2016-03-07 21:39] LemonTVnz opened #338 "Alpha Mask"
Heres an implmintation of alpha mask (code has not been cleaned up and contains some umbraco stuff that should be refactored out etc)
It applies the alpha channel from a png to the current image

Not sure if you will find it uesful and I dont have time to do a proper git commit but I've attached the files anyway

[alphamask.zip](https://github.com/JimBobSquarePants/ImageProcessor/files/162152/alph

[2016-03-08 05:27] JimBobSquarePants commented on #338
Hi there,

Thanks for adding this. I'm wondering though, what functionality difference is there in this to the existing [Mask](http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/mask/) functionality.

Cheers

James

[2016-03-09 11:14] amh2013 opened #340 "Creates border around jpg"
I am getting a top and bottom black border around jpg after resizing

                file.SaveAs(fullpath);
                var size = new Size(imageSettings.ResizeWidth, imageSettings.ResizeHeight);
                var workingImage = imageFactory.Load(fullpath)
                     .Resize(size)
                     .Format(new JpegFormat { Quality = quality });
                workingImage.Save

[2016-03-09 13:36] JimBobSquarePants commented on #340
You must be changing the aspect ratio of the image. This by design since jpeg has no alpha channel. You can either maintain the aspect ratio, change the background color, or change to ResizeCrop mode.

Check the options in the documentation

http://imageprocessor.org/imageprocessor/imagefactory/resize/#usage

[2016-03-09 13:36] #340 closed

[2016-03-10 03:27] JimBobSquarePants commented on #337
Hi there,

The disk cache will work fine as there is no rewrite to an Azure url, everything happens locally.

There must be either an inconsistency in the way you have set up your containers and the rewrite url. FYI Public blob should be enough.

If I request /media/1010/image.png?width=40 I get an Error 400

ImageProcessor.Web will only create a cached image if a querystring parameter is present

[2016-03-10 03:47] JimBobSquarePants commented on #335
Hi there,

Great catch Thanks! :+1:

Unfortunately I managed to miss parsing size when I rewrote the querystring parameter parser - It used to work. Here's an old working example using ImageProcessor.Web v4.3.6
http://jamessouth.me/media/1011/bear.jpg?overlay=monster.png&overlay.position=30,30&overlay.size=100,100&overlay.opacity=80

The values are equal to pixels. I'll update the code now and get

[2016-03-10 11:10] GarethFZA opened #341 "Tilt functionality"
Hi James.  Is image tilt functionality on the roadmap?
Thank you
Gareth

[2016-03-10 12:24] JimBobSquarePants commented on #341
Hi Gareth,

Do you mean tilt by rotation to skew? We have rotation built in but I'll need help working out skew.

James

[2016-03-10 13:29] GarethFZA commented on #341
Hi James.  Thanks for the reply.
Our requirement is to take an image and tilt it (3 dimensionally) so that the top of the image appears to be closer to the view than the bottom.

[2016-03-10 14:19] bussemac commented on #337
I had it commented out because it was unclear what "newer Azure formats" was, and none of the examples I could find from the Umbraco community had the setting present at all.

So I uncommented it, changed it to true, and it worked, at least as far as not throwing a 400, but I still see it just requesting /media/... ; is the URL supposed to be rewritten to the CDN http://XXXX.vo.msecnd.net/ or not?

[2016-03-10 23:22] JimBobSquarePants commented on #337
Ah right...

The Umbraco forums can go out of date pretty quickly. I would recommend the readme and docs here as the source of truth.

The new format urls all end with _azureedge.net_ and it's only with a certain (non standard I believe) setup you need to change the value to false.

The request will appear relative on the surface but there is some rewriting going on. If you r-click and open the im

[2016-03-10 23:25] JimBobSquarePants commented on #341
Ah yeah... That I'm going to need help doing then. I have rotate and flip working fine but not that.

I'm fairly certain it's all easily possible with the System.Numerics.Vectors classes, I just don't know the API well enough to know how yet.

[2016-03-11 09:00] GaryRed opened #342 "Richer functionality"
Looking to extend some functionality - let me know if you find this of interest in including in the core product or you have plans for this.
- Passing position dependent parameters. Many functions take one a single value as a parameter. These functions would be far more useful if you could have a matrix of values, allowing different areas to be processed differently - think stripy multicolored tin

[2016-03-11 11:02] JimBobSquarePants commented on #342
Absolutely! As long as we can add everything cleanly, performantly and keep it very simple for the end user I'm more than happy to see these features added.

[2016-03-11 14:48] bussemac commented on #337
That helps, yes. So I busted out Fiddler and checked what I was seeing:

/media/1234/home.jpg -> HTTP 200, comes with a caching header: max-age [1 year], must-revalidate, and a probably redundant Expires date (also set for 1 year)
/media/2345/pic.jpg?width=40 -> HTTP 302 to the *.msecdn.net/cache/... path

Fiddler then shows the request for the cache item in the CDN (since I had cleared cache firs

[2016-03-13 17:47] mweber26 commented on #324
Has anyone looked at libjpeg.net -- it appears to be a port of the libjpeg native library for C#?

https://github.com/BitMiracle/libjpeg.net

[2016-03-13 20:23] mweber26 commented on #324
I will take a crack at converting https://golang.org/src/image/jpeg/ if you are still interested in that method.  Let me know if you still want to pursue that route.

[2016-03-13 21:08] JimBobSquarePants commented on #324
Hi there,

That would be by far and away my preferred route so if you can get that working that would be amazing! :+1:

Let me know if you need anything from me.

Cheers

James

[2016-03-14 03:45] JimBobSquarePants commented on #337
Yeah, that all looks correct. ImageProcessor is setting various header when uploading the images to blob storage. As for static images without querystring params (which IP will ignore), are you manually uploading them to blob storage or are they served from the file system?

[2016-03-14 03:48] bussemac commented on #337
The azure file system plugin uploads them to the media storage container.
Existing images were copied there, and once that virtual path provider was
tested and working, the ones in the web app were removed.
On Mar 13, 2016 11:46 PM, "James Jackson-South" <notifications@github.com>
wrote:

[2016-03-14 03:56] JimBobSquarePants commented on #337
The filesystem provider _should _be caching when files are added through the back office.

https://github.com/JimBobSquarePants/UmbracoFileSystemProviders.Azure/blob/develop/src/UmbracoFileSystemProviders.Azure/AzureFileSystem.cs#L210

They are then passed in the response when serving the virtual file.

https://github.com/JimBobSquarePants/UmbracoFileSystemProviders.Azure/blob/develop/src/UmbracoF

[2016-03-14 07:29] HelloKitty commented on #287
John Skeet has a neat library called MiscUtils that allow you to write generic maths with unexpectedly fabulous preformance. I don't know the platform constraints as it makes use of compiled expressions.

This may help unify the code and types that use different underlying pixel types.

[2016-03-14 07:52] JimBobSquarePants commented on #287
Thanks @HelloKitty, I'll check it out. If you have time yourself would you be able to do so. I'm under the cosh just now time-wise.

[2016-03-14 14:18] bussemac commented on #337
So there's no URL rewriting for things not passed through IP, and that's by design? I see the HTTP Headers being set, yet if I reload (not force-reload, just a regular click the reload button), the result is that the images that ARE done via IP are available instantly while everything else has to redownload.

![screenshot044](https://cloud.githubusercontent.com/assets/842344/13746850/c08396a6-e9cb

[2016-03-14 15:11] Mtahtaci opened #343 "Is ImageProcessor (with ImageFactory) and ImageProcessor.Web using same Core ?"
hello , youre doing excellent job here

i want to ask something about Processor Core

when i use ImageProcessor.Web ( http://xxx.jpg?width=1000&height=500 ) i get more quality image to using ImageFactory.Resize()

i dont really understand is my parameters wrong... i need some help here..

here is the Web Image

![qst001](https://cloud.githubusercontent.com/assets/10106272/13747619/c640d8d4-ea01-11

[2016-03-14 15:32] JimBobSquarePants commented on #343
Hi there,

Yes, ImageProcessor.Web uses the `ImageFactory `class underneath to perform all the image manipulation.

The difference you are seeing is due to a difference in the `ImageFactory `constructor usage.

In the ImageProcessor library the `ImageFactory `class when initialized using the default parameters will adjust the colorspace of the image when resizing to correctly handle gamma adjusted

[2016-03-14 15:32] #343 closed

[2016-03-14 15:36] kgiszewski opened #344 "Version 1.0.8 returns Bad Request for crops using Remote.axd"
Not sure if this is the right repo for this issue.

Version `1.0.8` returns `Bad Request` for crops using `remote.axd`

https://www.nuget.org/packages/ImageProcessor.Web.Plugins.AzureBlobCache/1.0.8

Works fine for `1.0.7` and prior.

[2016-03-14 15:44] Mtahtaci commented on #343
it solved my problem , im very grateful.

if it possible i want to ask another simple question.

when i try to Resize png image (has transparency) , i get an image with removed transparency ,

here is the original image

![wheel](https://cloud.githubusercontent.com/assets/10106272/13749963/33335282-ea0c-11e5-908f-c3ee6019696e.png)

here is the output

![wheel2](https://cloud.githubusercontent.com/

[2016-03-14 15:50] JimBobSquarePants commented on #337
Not exactly. With a VirtualPathProvider your relative request to anything in the media folder is redirected internally to the blob storage url which is requested using the Azure SDK. There's no 302 taking place at all since what you are requesting is a virtual path.

You cannot update the last modified header when saving items to Azure blob storage as it is readonly. This gets updated automaticall

[2016-03-14 15:53] JimBobSquarePants commented on #343
Is this using the `ImageFactory`?

That should not happen, Are you calling the `BackgroundColor` method?

[2016-03-14 15:56] JimBobSquarePants commented on #344
Is your config up to date?

I.E do you have the

`<setting key="UseCachedContainerInUrl" value="true"/>` property set? Nuget should have updated your config though it may have skipped it.

http://imageprocessor.org/imageprocessor-web/plugins/azure-blob-cache/#config

[2016-03-14 15:56] Mtahtaci commented on #343
yes , my code is here below

``
ImageFactory imgf = new ImageFactory(false,false);
imgf.Load(s.ToArray()); // s is MemoryStream of Image
imgf.BackgroundColor(Color.FromArgb(255, Color.White));
ResizeLayer rl = new ResizeLayer(new Size(1000, 350),ResizeMode.BoxPad);
imgf.Resize(rl);

[2016-03-14 15:58] Mtahtaci commented on #343
i need to add trasnparent border to image (even it has transparency)

[2016-03-14 16:04] JimBobSquarePants commented on #343
Well that's why then.

You are deliberately setting a background color using the `BackGroundColor` method as demonstrated here.

http://imageprocessor.org/imageprocessor/imagefactory/backgroundcolor/

[code]

Why are you setting the alpha component of the background color to 255? That is exactly the same as simply using `Color.White`

If you want the png to be transparent you need to not do that.

[2016-03-14 16:09] Mtahtaci commented on #343
thanks again :) it's solved.

[2016-03-14 17:57] mweber26 commented on #324
Ok -- the initial conversion of the library is done.  Right now it only supports decoding and the encapsulation is a little messy and needs to be cleaned up, but it works. I have not run any speed tests, but with some profiling we should be able to get it running quick (it's not really that complicated).

The sample program I used is basically
[code]

I am building on a mac/mono, so I don't know w

[2016-03-14 18:57] kgiszewski commented on #344
Ace, that was it. :+1:

Wondering if it should default to `true` for that setting if the key is missing.

[2016-03-14 18:57] #344 closed

[2016-03-14 23:47] mweber26 commented on #324
Encoding is up in the latest commit from that same repository.

[2016-03-15 01:20] JimBobSquarePants commented on #324
AMAZING!

I'm absolutely blown away by the speed you have done this! Simply getting a working encoder with less functionality has taken me months and I was working from a C# source. This is an absolute game changer as far as the project is concerned. I'm so happy!

I've not really played with Mono, I got the project building using Visual Studio Code on the Mac (Which I think is the recommended app

[2016-03-15 01:35] JimBobSquarePants commented on #343
No worries, happy to help. :smile:

[2016-03-15 01:53] JimBobSquarePants commented on #344
I had a reason. I can't remember what that was now though...

[2016-03-15 02:35] mweber26 commented on #324
Thanks,  it wasn't too bad.  There are a couple weird things in go that needed to be fixed after the line-for-line conversion.   But adding printfs to both and comparing the files allowed me to track down the conversion issues pretty quick.

I do everything from the command line, so no visual studio code for me, but am only targeting 4.5 now (it appears that numerics were added natively in 4.6).

[2016-03-15 03:00] mweber26 commented on #324
I also figured out how to build via command line:

[code]

[2016-03-15 03:34] JimBobSquarePants commented on #324
Nice! The new CLI they've been putting together is great for that kind of stuff. Way better than MSBuild.

I think if you can make it match the existing coding format a bit more and clean up the encapsulation we can mark it as complete. Any perf improvements or code transition to use existing functionality (e.g. implicit colorspace casting) can be figured out after.

If you fancy giving the subsam

[2016-03-15 04:38] mweber26 commented on #324
I will look at the subsampling, but it's not super high on my priority list since the project I'm working on only decodes jpegs at this time.  But I might take a crack at it -- it shouldn't be too hard.  We should probably create another issue for it after the gojpeg is merged.

[2016-03-15 04:47] #324 closed

[2016-03-15 04:49] JimBobSquarePants commented on #324
Ace... I'll have a look myself also now this is converted. Just merged your commit, it's a real relief to get this closed! :smile:

[2016-03-15 12:49] bcronje commented on #324
2,661 additions and **7,979 deletions**

That is always nice to see

[2016-03-15 13:19] JimBobSquarePants commented on #324
Yup!

[2016-03-15 15:49] mweber26 commented on #324
From looking around.  The only two encoding subsamples that are really used at 420 and 444.  Is there a reason to support the other, way less common, ones?  444 is very easy to do, I already have a pull that does that.  The other, more exotic, subsamples are more complicated.

[2016-03-15 21:48] JimBobSquarePants commented on #324
Yeah that works for me. If someone specifically wants the more rare variants they can add them. From what I see from your PR that should be a case of adding another switch and a method so shouldn't be too daunting for anyone with the requirement.

[2016-03-15 21:52] mweber26 commented on #324
Yeah -- that's the concept.  In practically, I couldn't get it to work that easily.  I attempted 422 (which is 2 per width, 1 per height), and had all sorts of problems.  You have to implement the 422 code to output the blocks and another 16x16_8x8_scale to combine the two width/two height and the 4 versions to complete.

After a few failed attempts and some research, basically nobody uses anythin

[2016-03-15 22:00] JimBobSquarePants commented on #307
Hey @PromontoryProtean I'm now getting 2 seconds to decode/downscale/encode that using bicubic interpolation. That's on a 12 core Intel(R) Xeon @ 3.20 Ghz.

That's a 3-4 second drop so we've made good progress. I'm sure there is a lot more we can do though.

[2016-03-16 00:46] JimBobSquarePants commented on #324
Cool. We'll stick to that then definitely for now.

[2016-03-16 09:44] JimBobSquarePants opened #347 "Speed. Hot nasty bad-ass speed!"
We've got a pretty good [feature set](https://github.com/JimBobSquarePants/ImageProcessor#what-works-so-far-what-is-planned) for a V1 release.

Now we need to make it fast.

Things to look at:

- Reducing array allocation [`ArrayPool`](https://github.com/dotnet/corefx/tree/master/src/System.Buffers/src/System/Buffers), `Slice<T>`
- Unsafe code where applicable
- Moar [SIMD](http://dotnet.github.io

[2016-03-16 09:45] JimBobSquarePants commented on #307
Closing this now in favour of #347

[2016-03-16 09:45] #307 closed

[2016-03-16 09:59] JimBobSquarePants commented on #327
Just remembered that I use the same config files as built-in resources so I can't add transforms.

I'm gonna have to close this as can't fix.

[2016-03-16 09:59] #327 closed

[2016-03-16 10:05] jonrandahl commented on #327
Thanks James, is it then a case of ensuring the ImageProcessor.web is the latest or the one shipped with 7.4.n?

[2016-03-16 10:11] mavenius commented on #347
Might want to check out Scientist.Net for comparing performance and
consistency between old and optimized branches. It's fairly new, but I've
read good things.

Thank you,

Mark Avenius
On Mar 16, 2016 5:44 AM, "James Jackson-South" <notifications@github.com>
wrote:

[2016-03-16 10:50] JimBobSquarePants commented on #327
I always upgrade, then again I know what comes with each upgrade. The one in 7.4.1 is pretty good though.

[2016-03-16 12:49] mweber26 commented on #264
I don't understand this issue.  What are the brushes for?  There doesn't appear to be any drawing code to use them.

[2016-03-16 13:21] JimBobSquarePants commented on #264
I've expanded on the issue. We'd obviously have to create bezier classes, a draw method, etc

I found a good primer on Beziers here. http://pomax.github.io/bezierinfo/

[2016-03-16 13:53] bussemac commented on #337
Yeah, you probably just need to set the Last-Modified header in the HTTP response when you return the file from the virtual path, and just retrieving the value from the Azure blob should work, no need to change it. I think if that's set properly, then the caching will work better. It might even work to just modify the cache-control property of the CloudBlockBlob to include Last-Modifed when you up

[2016-03-17 08:35] rold2007 commented on #347
The first task is obviously to identify the slow parts. I have never used BenchMarkDotNet but I heard about it recently, I guess this is a good opportunity to try it!
Maybe a new set of tests (performance) should be created for this? I think the benchmark should be done on small, medium, large and huge images (32x32, 512x512, 1024x1024, 10Kx10K ?).

I never heard of Scientist.Net before but maybe

[2016-03-17 08:47] JimBobSquarePants commented on #347
That would be great if you could. I had a read through the instructions but I am terrible when it comes to following them.

[2016-03-19 21:23] YahavGB opened #349 "ImageFormatException: Unknown component selector"
Hi,

I'm trying to add an image processing functionality to my ASP.NET Core project, and I'm getting the following exception while attempting to create a new Image instance:

Ways to reproduce:
- Download a profile picture from FB.
- Instantiating a new Image:
[code]

I've tested the code with the images attached to the project samples, and they do work correctly. I'm wonering maybe Facebook image

[2016-03-20 07:00] JimBobSquarePants commented on #349
Hi there,

Thanks for this.

It seems that within the images saved by Facebook there are multiple SOS (Start of scan) markers. This will be due to the images being saved in progressive format.

Oddly when parsing the second marker the `ProcessSOS` method returns the number of components as 1, previous scans are 3. I've been reading about and it looks to me like [LibJpeg.NET](https://github.com/Bit

[2016-03-20 10:37] JimBobSquarePants commented on #349
JPEGsnoop output of this image.

It's this marker that seems to be throwing everything out of whack. I'm going to investigate a better way to identify the huffman tables.

[code]

Here's the image:

![fb](https://cloud.githubusercontent.com/assets/385879/13903938/54c61548-eee3-11e5-9d57-208f3b9ff352.jpg)

[code]

[2016-03-21 13:28] mweber26 commented on #349
Sure -- I'll take a look.

[2016-03-21 13:39] mweber26 commented on #349
Progressive does appear to be in the golang version.  I will fix and submit a pull request.

[2016-03-21 15:24] Shazwazza commented on #49
Hi guys, reviving this conversation a little as I just need to get (and provide) some feedback here.

I've been aware of the issue and have had some discussion with regards to ways to mitigate the issue but there is unfortunately not perfect way  especially since people use ImageProcessor in many different ways and in ways we don't know.

@JimBobSquarePants you mentioned that you can restrict the

[2016-03-21 18:00] mweber26 commented on #349
That's strange -- I already ported the golang progressive stuff on the first round.  I wonder why it's not working.  I will have to do some more research.

[2016-03-21 18:06] YahavGB commented on #349
Thank you guys for the fast responses and dedicated work! You're awesome!

[2016-03-21 19:38] mweber26 commented on #349
Ok -- found the first problem.  There was a problem with the go conversion.  I have fixed that but the image still doesn't decode.  I will continue to search for the problem.

[2016-03-21 19:51] mweber26 commented on #349
I have verified that the image does work with golang.  So I just have to track down the conversion error I made.

[2016-03-21 20:54] ahmedanis03 opened #350 "why not supporting dnx451?"
i dun know it is a bug or intended and if it is then why?
Thanks a lot

[2016-03-21 20:58] mweber26 commented on #349
This image decoding is fixed with #351

I have another sample image (http://www.reasoft.com/tutorials/web/img/progress.jpg) that fails though -- still looking at that.

[2016-03-21 22:16] JimBobSquarePants commented on #349
Awesome work @mweber26!

[2016-03-21 22:26] JimBobSquarePants commented on #350
Hey there,

Mostly cos it's old, It doesn't support System.Numerics.Vectors, and AspNet Core minimum support is .NET 4.6

There's plenty of libraries including the classic ImageProcessor library that support NET 4.5. Personally I wouldn't bother though If you are going to use DNX (Or whatever the new build system is called now)

Hope that clears things up.

Cheers

James

[2016-03-21 22:26] #350 closed

[2016-03-21 23:32] JimBobSquarePants commented on #49
Hey @Shazwazza

Yeah you can still turn off individual processors. To do so it is a case of installing the configuration package and removing individual plugins from processing.config

For example this config restricts processing to what I would call the essential collection. It also limits the maximum size to 1920px in either dimension

[code]

There's also an additional setting you can use for t

[2016-03-22 00:16] mweber26 commented on #349
Fixed progress.jpg with pull request #352

[2016-03-22 00:29] crazyhor77 opened #353 "Unwanted Compression"
I have recently been using the Image Processor library for the autorotate function, which works great.  However, I notice the images can sometimes be significantly smaller in size.  My test image is 3mb, but after removing the rotation, it goes down to 1mb.  I have zoomed in on both images and can see the image is being compressed as the quality has dropped.  Even just loading the image and saving

[2016-03-22 01:48] JimBobSquarePants commented on #353
Hi there,

Yeah, The default output quality is 90. If you set the quality as specified in the [documentation](http://imageprocessor.org/imageprocessor/imagefactory/quality/) you can set this to 100.

[code]

Please bare in mind though that there will always be artifacts generated resaving a Jpeg since it is a lossy format. Also The Jpeg encode in System.Drawing is a bit crummy.

Cheers

James

[2016-03-22 01:48] #353 closed

[2016-03-22 02:29] JimBobSquarePants commented on #349
Excellent! @YahavGB  I've merged those fixes in and tested against both images. Everything now works as expected.

Much appreciated @mweber26. I'm gonna have a good dig through those classes to get a much better understanding of what is going on.

[2016-03-22 02:29] #349 closed

[2016-03-22 08:30] Shazwazza commented on #49
@JimBobSquarePants I'm absolutely happy to assist with this one, i just wanted to get an idea of how much we can limit functionality OOTB right now. I'll play around with this a little, my main concern (along with various other community members) is the ability to continually fill up the disk as part of an 'attack'. I'll get you a PR soon and can discuss there. Which branch would I target for this

[2016-03-22 08:57] crazyhor77 commented on #353
I think that will be fine.  Thanks for responding so quickly :)

[2016-03-22 09:06] JimBobSquarePants commented on #49
@Shazwazza Ace! Target the Framework branch please, that's the default branch for the current (hopefully soonish legacy version). Feel free to have a good dig around in there. If you spot anything silly give me a shout. I've been hearing some worrying reports regarding performance recently.

[2016-03-22 09:20] Jeavon commented on #49
@Shazwazza @JimBobSquarePants FYI, I once started working on a package for Umbraco which 100% locked it down unfortunately I haven't had the time to finish it. Anyhow it went like this:
Added a parameter to GetCropUrl (preset:true) which generated the IP.Web url and a guid, then it created a preset element in processing.config (if it didn't exist already) using the guid as the name and the encoded

[2016-03-22 09:25] JimBobSquarePants commented on #353
No worries, happy to help :smile:

[2016-03-22 13:06] mweber26 commented on #349
It's not that complicated.  I'm not sure you would have found these bugs since they were just golang conversion issues and without reviewing the go source I don't think they would be obvious.  But you can certainly learn a lot about jpeg from that code now.

[2016-03-22 13:44] JimBobSquarePants commented on #349
Definitely! I'm going to be refactoring a few things to more closely match my style and add a lot of commenting for other developers. I've got a great book which goes through the entire spec in great detail.

[2016-03-22 14:58] leye0 commented on #161
I feel like there is no good solution for now. The main problem is the SEO issue mentionned by the original poster @abadyl. Who says SEO says "the only solution is to maintain a list of UserAgent string". Because the rest of the ImageProcessor/AzureBlobStorage stream is optimal and should not be modified.

[2016-03-23 08:09] rold2007 commented on #347
I haven't been able to use BenchmarkDotNet with DNX so far, even on the most basic code. I'll report my issues to the BenchmarkDotNet team and see what can be done. Sorry about the delay.

[2016-03-23 08:43] JimBobSquarePants commented on #347
@rold2007 No worries, thanks for trying. I'm sure someone there will be happy to give us pointers.

[2016-03-23 08:50] rold2007 commented on #347
@JimBobSquarePants It is now [resolved](https://github.com/PerfDotNet/BenchmarkDotNet/issues/127). I'll be quite busy until next week but I'll continue with this asap.

[2016-03-23 09:18] JimBobSquarePants commented on #347
@rold2007 Awesome! Here's hoping we can get some great info to find bottlenecks.

[2016-03-24 11:54] eNTi opened #354 "ImageProcessor.Common.Exceptions.ImageProcessingException: Error processing image with Resize"
i'm having trouble with the resize method on a REMOTE SERVER. this doesn't occur on my local machine (in debug mode). i basically get an exception which tells the file upload (fineuploader) that something went south. this doesn't happen with every picture though. i've yet to find a pattern as to when that occurs. it seem to occur more frequently with .png files but it will also happen (less often)

[2016-03-25 02:39] JimBobSquarePants commented on #354
Hi there,

Without looking into any details you are most likely having problems since you are not disposing of any of the `IDiposable `objects within your method. Did you look at the example code?

http://imageprocessor.org/imageprocessor/imagefactory/#methods

[2016-03-25 08:54] eNTi commented on #354
oh... hmm. well if i did, i wasn't paying attention. i'm not used to memory management in c#. i'll try that out. thanks for the quick reply.

[2016-03-25 11:22] JimBobSquarePants commented on #354
No worries, happy to help. :smile: There's some stuff in C# that you need to keep an eye out for memory wise. Imaging is one of them with System.Drawing.

Update your code and I'll keep this issue open so we can see if that makes a difference. Fingers crossed that was the problem. If not we'll work it out together.

[2016-03-26 10:51] karl-sjogren opened #355 "Update the website"
I've noticed an error in the documentation at the website. I spent over 8 hours pinning this down so it would be a shame if others ends up doing it as well.

On the page for the [WebP-plugin](http://imageprocessor.org/imageprocessor/plugins/webp/) it says you need msvcr110.dll from the Visual C++ Redistributable Package with a link to the VS2012 redist package. But in 1d92a36cecacae8e694ec0376154d

[2016-03-26 13:06] JimBobSquarePants commented on #355
Sorry about that. I documented it on the Nuget package page but forgot to update the docs page. The docs are actually open source, stored in the gh_pages branch so if you are feeling adventurous they are there to update.

[2016-03-26 13:13] #355 closed

[2016-03-27 10:44] karl-sjogren commented on #355
Sorry I missed the gh-pages branch, never thought you were using that since the pages are so customized. I've created a pull request #356 that clarifies the situation a bit more even for users of older versions.

[2016-03-30 00:15] stbraley commented on #78
Hello,

Great project. On this issue. Have you looked at the [exiv2](http://www.exiv2.org/) project? Its cross platform C++, does reads and writes. Looks to be very comprehensive. The wiki has tones of information on this subject. Here is the link to the [documentation](http://dev.exiv2.org/projects/exiv2/wiki/The_Metadata_in_JPEG_files) for the algorithm they use (read/write) on jpeg metadata. To

[2016-03-30 09:31] JimBobSquarePants commented on #78
Wow! There's a ton of information here to look into. Thanks!

I don't know what the best approach would be. I'd like to do as much as possible in C# but it's a lot of work to do so. I need to clean up my jpeg code to make it easier to incorporate these kind of additions either way.

[2016-03-30 11:23] stbraley commented on #78
Yes, given what this project is trying to do. A full blown C# solution is best and may be the only option given the CoreCLR restrictions.

I started dorking around with the ImageProcessor code last night. I started by adding support for the 'APP1' marker in the jpeg decoder thinking I will just use the exiv2 code as my guide.

From what I gathered in the short time I spent. The exif data is actual

[2016-03-30 12:52] JimBobSquarePants commented on #78
I'm glad you agree. I'd much rather keep everything in one language.

I did not know it was stored in the TIFF format! I've been shying away from EXIF so far through development.

The individual core decoders can always be initialised so I would create a separate Tiff decoder then call an instance of that from within the Jpeg decoder to decode the EXIF data. Eventually we can write an encoder also

[2016-03-30 18:40] eNTi commented on #354
it seems your suggestion fixed my problem. weird behavior but i guess that's always the case with memory corruption/leaks thanks.

[2016-03-30 18:40] #354 closed

[2016-03-30 23:04] JimBobSquarePants commented on #354
Excellent! Glad you got it solved. :+1:

[2016-03-31 21:00] stbraley commented on #78
Just put in a pull request for this  #357 .

Let me know your thoughts.

[2016-04-01 12:42] joetossell29 opened #358 "ImageProcessor.Web custom IImageService causes NullReferenceException"
I've tried implementing a custom IImageService both in Umbraco and in a vanilla MVC app following the advice here: #105

But I think I might be missing a step as I only get this error:

[code]

I have a DatabaseImageService whose Prefix property and IsFileLocalSevice property get called but then I get the error above. IsValidRequest() and GetImage() never get called.

The code is a copy of LocalFi

[2016-04-02 07:02] JimBobSquarePants opened #359 "Rewrite the Gif LZW Encoder/decoder"
The ones currently in the codebase are unreadable and the encoder always uses 8 bits when it doesn't need to.

We need to write some clean, performant examples that are easy to understand and other developers to learn from.

Information resources.

- http://en.wikipedia.org/wiki/Lzw
- http://www.matthewflickinger.com/lab/whatsinagif/lzw_image_data.asp
- https://www.daubnet.com/en/file-format-gif
-

[2016-04-02 14:52] #359 closed

[2016-04-06 04:18] JimBobSquarePants opened #360 "Moving Image to IDisposable."
This relates to #347

I've been doing some benchmarking with various approaches to accessing pixel data within my `Image` class. If we can make that as fast as possible then we have a quick performance win which benefits the library as a whole.

So these are the three approaches I'm using (I'm only including the important bits):

**Image (The current default.)**

[code]

**Fixed Image (Pixels fixe

[2016-04-06 06:52] JimBobSquarePants commented on #360
Ok so I've been playing around a bit more.

If I change the setters a bit more to what would appear on the surface to be more efficient .

**Fixed Image (Pixels fixed upon access)**
[code]

**Unsafe Image (Pixels fixed at initialisation, implements IDisposable)**
[code]

I get the following results (Note the ratio is more important than time)

Both fixed and unsafe get a performance boost in linea

[2016-04-06 07:24] rytmis commented on #360
My results:

Benchmark code as-is

[code]
                   Method |     Median |    StdDev | Scaled |
------------------------- |----------- |---------- |------- |
                 1. Image | 15.9796 ms | 1.0788 ms |   1.00 |
        2. Image Parallel | 12.0840 ms | 0.4778 ms |   0.76 |
           3. Fixed Image | 12.2143 ms | 1.4041 ms |   0.76 |
  4. Fixed Image Parallel | 11.4232 ms | 0.8076

[2016-04-06 07:30] JimBobSquarePants commented on #360
Interesting. Thanks for that, useful to see. I'm assuming your direct assignment adjusted code is as I described in my sample.

This is an interesting learning process. It does seem clear to me in both our results that switching to `IDisposable` would yield an excellent improvement. Let's hope someone from the .NET team happens to stumble upon this.

[2016-04-06 10:31] ArturGol commented on #349
Hi

I'm trying to use an image processing in my ASP.NET Core. I am uploading images from web as stream. With some images is ok, but with other is not.  I have newest version from repo.

Image image = new Image(stream);

Exception message: "Bad RST marker"

Stack trace:

   w ImageProcessorCore.Formats.JpegDecoderCore.ProcessSOS(Int32 n)
   w ImageProcessorCore.Formats.JpegDecoderCore.Decode(Stream

[2016-04-06 12:24] mweber26 commented on #349
For the jpeg image, we will need a copy of the jpeg you are trying to open.

[2016-04-06 12:31] ArturGol commented on #349
http://m.moto-station.com//wp-content/uploads/ms_uploads/8325_normal.jpg

http://www.repsol.com/creatividad/productos_y_servicios/lubricantes/gama_moto/es_en/img/Moto2.png

[2016-04-06 13:19] JimBobSquarePants commented on #349
Thanks @mweber26 for picking this up :+1:

[2016-04-07 07:12] ArturGol commented on #349
Thx a lot. Now it works. Do you have any idea about png?

[2016-04-07 07:43] JimBobSquarePants commented on #349
@ArturGol That looks like a reference error in your solution to me. I can't download your png to test, it keeps timing out.

[2016-04-07 15:27] alastair-todd opened #362 "Nuget install issues"
In VS 2015 I get this reported trying to `install-package imageprocessor`

Given its core to Umbraco, I'm guessing its local issue, so I reinstalled VS 2015, but still no luck. Any ideas? I have tried all types of .net framework targets...

Interestingly I can install anything up to and including version 2.3.2

[2016-04-08 01:10] JimBobSquarePants commented on #362
Very odd... I have heard of this issue once before though.

I'll have to double check what version I am running. I might have switched to 4.5.2 as 4.5.1 has now reached end of life.

https://blogs.msdn.microsoft.com/dotnet/2015/12/09/support-ending-for-the-net-framework-4-4-5-and-4-5-1/

Have you tried switching your project to that?

[2016-04-08 08:35] alastair-todd commented on #362
Yeah tried all the variants. Ended up going the manual route for Umbraco. DIsappointing but had to get on. Certainly something amiss in my local env. just no idea what. I did a full reinstall of VS but still the same. Will try fixing frameworks

[2016-04-11 12:08] JimBobSquarePants commented on #360
I went ahead and merged this just now. Don't think there's any leaks but if anyone reads this please check.

[2016-04-11 12:08] #360 closed

[2016-04-11 12:52] JimBobSquarePants commented on #287
This issue still irks me; I really wish I could find a decent solution.

There's a big part of me that thinks I should revert back to byte but it would be a truly enormous amount of work and definitely a loss of flexibility.

[2016-04-12 18:15] Athl33t commented on #149
Same error but with jpg. Here is the image http://www.uline.com/images/en-US/family2.jpg

[2016-04-13 12:13] JimBobSquarePants commented on #149
Odd. I'm not able to replicate using the code. [Here](https://github.com/JimBobSquarePants/ImageProcessor/blob/dd89356a8aa43e93b884522c68f205a2ebf01fdd/tests/ImageProcessor.Playground/Program.cs)

[2016-04-13 12:31] zabulus opened #363 "ImageProcessorCore .NET Framework 4.5.2 build"
I've needed ImageProcessorCore library for using in our .NET Framework 4.5.2. And I've successfully built it. Will you accept PR for net452 target for the library?

[2016-04-13 13:20] JimBobSquarePants commented on #363
Cool! :sunglasses:  How did you get past the need for the vectors library? I didn't know it was installable on 4.5.2.

I'm assuming the need for this is so that you can use the same codebase in your application for both .NET Core and .NET 4.5.2?

If so, then yeah. I'd like to setup the configuration to support the full framework also.

[2016-04-13 13:32] zabulus commented on #363
According to this article: https://mariantines.com/2015/08/24/simd-support-in-net-framework/

So I simply added dependency for 4.0.0 version. With some little magic around System.Runtime it begun build. Though, I needed additional tweak in my dependant project.

Not exactly. We are using System.Drawing for saving PNG files in memory and profiler shows that it takes big amount of time. I'm looking

[2016-04-13 13:35] zabulus commented on #363
Just pushed:
https://github.com/JimBobSquarePants/ImageProcessor/pull/364

[2016-04-13 19:35] kgiszewski commented on #149
I just ran into this today myself with a `jpg`. Resaving the image in photoshop doesn't seem to help.

ImageProcessor version 2.3.3.0

Using a hex editor, the file is indeed a JPG `ffd8`.

<img width="597" alt="screen shot 2016-04-13 at 3 33 27 pm" src="https://cloud.githubusercontent.com/assets/4653907/14506704/1fa95a8e-018d-11e6-8afd-8116756cc1e6.png">

Continuing to figure it out. The same scri

[2016-04-13 20:00] kgiszewski commented on #149
In case it helps, the exception appears to be thrown at the `.load()` method in my code:
[code]
[code]

@JimBobSquarePants, I can send you a file privately that doesn't work if you'd like.

[2016-04-13 21:18] Leftyx commented on #311
Bloody hell. Same problem here. Didn't read the whole tread and wasted more than 2 hours to find the problem. **ImageProcessor.Web.Plugins.PostProcessor.dll** needs to be removed.

[2016-04-13 23:52] JimBobSquarePants commented on #311
Always be a readin' :wink:

[2016-04-13 23:54] JimBobSquarePants commented on #149
@kgiszewski Yeah, send me the image please so I can test and inspect it.

[2016-04-14 00:14] kgiszewski commented on #149
I'll DM you a link on Twitter tomorrow when I'm in front of a computer.

[2016-04-14 01:33] JimBobSquarePants commented on #149
Cheers! If you can share a private gist of the relevant bits your code also that would be great.

[2016-04-15 12:11] kgiszewski commented on #149
@JimBobSquarePants, sorry for the delay but I've resolved the issue. You'll be happy (or annoyed) to know that it was fixed by updating my own code.

This code snippet produces intermittent results:

[code]

Whilst adding a stream position reset makes it work for everything:

[code]

Thanks for all your hard work as usual :+1:

[2016-04-17 06:27] JimBobSquarePants commented on #149
Ah good! No worries, I'll need to have a wee look at the load method to ensure we are resetting the position before checking. I thought it was.

[2016-04-18 00:59] JimBobSquarePants commented on #321
@PromontoryProtean @IanYates Thanks both for your input. I think I might actually make the Process method internal (I haven't fully decided yet) since I have external chainable methods for all the processors anyway. I've already made restrictions on what processors can be mixed.

[2016-04-19 07:38] critot commented on #337
Hi James and Bussemac, I've some problem, and I'm not able to make the plugin working...

My environment:
Azure, basic plane, .net framework 4.6, pipeline integrated, host: http://xyz.azurewebsites.net;
A Blob service, https://xyz.blob.core.windows.net, width a container /photos (access type = blob);
A Cdn, http://xyz.azureedge.net, linked to the above blob.

I've installed the latest ImageProcess

[2016-04-19 07:43] critot opened #365 "ImageProcessor Azure problems"
Hi James, I've some problem, and I'm not able to make the plugin working...

My environment:
Azure, basic plane, .net framework 4.6, pipeline integrated, host: http://xyz.azurewebsites.net;
A Blob service, https://xyz.blob.core.windows.net, width a container /photos (access type = blob);
A Cdn, http://xyz.azureedge.net, linked to the above blob.

I've installed the latest ImageProcessor, ImageProc

[2016-04-19 09:17] JimBobSquarePants commented on #365
Hi there,

I have a couple of suggestions.

Could you try setting the `cache.config` to the following?

[code]

And your `security.config` to the following?

[code]

Hopefully that should help you get everything working. If not, could you help me diagnose the problem by sharing a link to an image stored in your photos blob. Both the blob and CDN versions if you can.

Cheers

James

[2016-04-19 10:12] critot commented on #365
I've tried with that settings but nothing...

for your diagnosis

https://spotlightphotos.blob.core.windows.net/photos/critot/e4309eeb-4df7-4cc8-ab11-aad153479082.jpg
https://cdn-spotlight-blob.azureedge.net/photos/critot/e4309eeb-4df7-4cc8-ab11-aad153479082.jpg

the cdn endpoint is configured for accepting query strings

thank you!

[2016-04-19 10:22] JimBobSquarePants commented on #365
Ok coke,

From those I can see that we should be definitely be enabling the cached container url in the settings.

Sorry but I have to ask...

How are you requesting your images?

Absolute Url
https://spotlightphotos.blob.core.windows.net/photos/critot/e4309eeb-4df7-4cc8-ab11-aad153479082.jpg

or

Relative Url (The correct way)
/photos/critot/e4309eeb-4df7-4cc8-ab11-aad153479082.jpg

If you are us

[2016-04-19 11:07] critot commented on #365
After uploading to the blob simple create a client side <img> to show the image with absolute url plus querystring....but not sure if I understand the question..!

[2016-04-19 12:37] JimBobSquarePants commented on #365
Image requests should be made with a relative url not an absolute one.

Think about it like this. The request you are making is outside of your current domain so it never hits the server. This means that ImageProcessor.Web can never intercept the call.

When you are using the relative url ImageProcessor.Web will capture that request since it is pointing at the server where ImageProcessor.Web is in

[2016-04-19 13:56] critot commented on #365
ok, the process is clear now, I've updated the url to relative, and

with the querystring I get error 500:

[KeyNotFoundException: The given key was not present in the dictionary.]
   System.Collections.Generic.Dictionary`2.get_Item(TKey key) +11770017
   ImageProcessor.Web.Plugins.AzureBlobCache.AzureBlobCache..ctor(String requestPath, String fullPath, String querystring) +70
   lambda_method(Clo

[2016-04-19 21:41] JimBobSquarePants commented on #365
That looks to me like you are missing settings in your cache config. Can you confirm you have it set up like the instructions?

[2016-04-20 06:35] critot commented on #365
Hi, certainly I'm making something wrong...

this is my cache config
[code]

and this my security.config

[code]

[2016-04-20 20:16] Vitalii-Efremov opened #366 "Gif images have black background"
Hello, I have some problems with the plugin.

I tried to use the plugin to optimize the gif image and have gotten black background after it.

`var format = new GifFormat();

            format.Quality = 80;

            byte[] result = null;

            using (MemoryStream inStream = new MemoryStream(image))
            {
                using (MemoryStream outStream = new MemoryStream())

[2016-04-21 06:06] JimBobSquarePants commented on #366
Yeah.... I'm struggling to fix this one. :disappointed:

Somehow the `System.Drawing` encoder is kicking in and re-quantizing the gifs reducing the quality to the built-in level and removing transparency on animated ones. I've tried every trick I know to fix it but the inner workings of the encoder are a mystery.

[An animated gif encoder is not that hard to write](https://github.com/JimBobSquareP

[2016-04-21 10:08] Vitalii-Efremov commented on #366
Thank you for the attempt to fix this issue. I am sorry but I can't help you to fix this problem because It is very specific field and I am not an expert in it. Is it possible to fix this problem at the nearest future?

[2016-04-21 12:19] christopherbauer commented on #294
Ho @JimBobSquarePants. I've been quite lax in my open source contributions because of the new job. I want to get started on the things we discussed in issue #329, are you still okay with what we discussed back in Feb?

[2016-04-21 12:54] JimBobSquarePants commented on #366
No worries. I'll have a further look. It might be a case of me replacing the whole infrastructure with a custom encoder...It's a lot of work though.

[2016-04-21 19:47] pinki opened #367 "[core] Cropping does not work as expected"
Hi,
I tried to crop an image, but it doesn't work as expected.
No matter what source rectangle is defined, the x and y values are ignored and I get a cropped image with the origin (0, 0).

[2016-04-21 21:31] pinki commented on #367
I've got the solution.

In Crop.cs, change line 32 to
`target[x, y] = source[x + sourceRectangle.X, y + sourceRectangle.Y];`

[2016-04-22 07:04] critot commented on #365
Hi james, any idea to resolve the problem? it doesn't work...
now, I have a suspicion... my webapp on azure doesn't get the cache.config settings; how does the AzureBlobCache plugin get that settings?
it's possible that I must set <appSettings> section  with key-value (and in that case the plugin must use CloudConfigurationManager.GetSetting(xyz)) and not <settings> for make it work?
I believe tha

[2016-04-22 13:36] JimBobSquarePants commented on #365
Truth be told I'm not quite sure what has gone wrong and what you are doing.

There is no reason to be using CloudConfigurationManager at all. This plugin works straight out of the box.

If you want to send me a zip file with your app I can have a look?

[2016-04-22 14:45] Philo opened #369 "Allow configuration values to be evaluated from appSettings and/or ConnectionStrings"
This issue is related to my attempts to utilise ImageProcessor (and the Umbraco Filesystem provider) in a project where we do not want to store any sensitive configuration information within the code base.  As we deploy our solutions to Azure we use the appSettings and connectionStrings section configurations from the Azure portal.  However image processors configuration is read from custom config

[2016-04-23 02:41] JimBobSquarePants commented on #367
Thanks for this, very much appreciated! Having to flatten my computer just now but will have a proper look asap

[2016-04-24 01:32] JimBobSquarePants commented on #294
Hi @christopherbauer that's no problem. Work always takes first priority.

Yeah, I'm happy for you to continue with that. On that note though, I want to write it all in a way that assumes all colors are premultiplied as that's how the class is intended to be used. If a developer ignores what I will be putting in the documentation then that will be their issue 😜

[2016-04-24 13:46] jemala opened #370 "rotating an image should change width/height as well"
If an image is being rotated, the width and height stay the same and the image gets cropped. This should be fixed, as it is a really important feature for an image processor.

[2016-04-24 23:50] JimBobSquarePants commented on #370
Hi Jemala,

Could you please provide some context here. Which library, the new one?

When raising an issue on an open source project it is usually good practise to provide as much information as possible.

Thanks

James

[2016-04-25 07:32] JimBobSquarePants commented on #369
Hi Philo,

This sounds like a lot of work with a strong possibility of breaking backwards compatibility. My focus is now very firmly on the new Core ImageProcessor so I'm loath to add new functionality to the Framework branch as managing these changes becomes an extra burden.

Although I wrote the Umbraco FileSystemProvider I consider them to be entirely separate entities and I wrote that code in

[2016-04-25 08:25] Philo commented on #369
I am appreciate any implementation would not be trivial and would need to be carefully considered to maintain compatibility.

Will the new Core version support a more abstract configuration sub-system?

It is not a question of the security of the source control system, that is secured vna PKI, the question is about the access the sensitive information provides to the underlying systems.  IN some c

[2016-04-25 09:14] JeffreyPerplex commented on #49
@Jeavon Hi Jeavon,

it would really help if we could switch on the setting to only accept presets but I have no clue where I can find this. Any idea since your last post?

Thanks, Jeffrey

[2016-04-25 09:51] jemala commented on #370
Hi James,

yes, I am talking about the new library ImageProcessorCore. I was using the latest source code of ImageProcessorCore and ASP VNext dnxcore50 release candidate.

Rotating the following image by 90 degrees:

![quick_banners32](https://cloud.githubusercontent.com/assets/18643746/14780165/f24226b8-0adb-11e6-8861-12dfaeb89f33.jpg)

Leads to this result:

![23866c27-ee30-4bef-a443-8e9544295b8

[2016-04-25 13:25] azzlack commented on #365
I've recently encountered the same problem as described here. Everything was correctly set up, similar config to an earlier site that was working (same as [you posted earlier](https://github.com/JimBobSquarePants/ImageProcessor/issues/365#issuecomment-211820481)), etc.

My problem turned out to be related to the new Azure CDN from the new portal. CDNs created in the old portal worked just fine, wh

[2016-04-25 21:43] JimBobSquarePants commented on #365
@azzlack Interesting. I'm able to work with the classic and new setup no problem. I'm assuming you gave the CDN time to propagate and have tried toggling the UseCachedContainerInUrl setting?

[2016-04-25 23:34] JimBobSquarePants commented on #49
@JeffreyPerplex  Presets are set in the config, there's a demo one specified in there.

http://imageprocessor.org/imageprocessor-web/configuration/#processingconfig

[2016-04-26 00:05] Myster opened #371 "Setting Default Quality"
I'd like to tweak the default quality down a bit to save bandwidth / load time.
I'd like to do this globally in the setting file? (I tried editing the processing.config to add a settings/setting within the quality plugin element but that didn't work)

Is it possible to set the default quality?

_It's not a big deal if not, I can encapsulate calls to the querystring generation to include it on the

[2016-04-26 03:29] JimBobSquarePants commented on #371
Nah not through the config I'm afraid but you could do it via the `ImageProcessingModule.OnProcessQuerystring`event.

http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/#events

[2016-04-26 03:29] #371 closed

[2016-04-26 03:30] JimBobSquarePants commented on #367
I've merged your code in now. Thanks again for this.

[2016-04-26 03:30] #367 closed

[2016-04-26 03:37] JimBobSquarePants commented on #369
Thanks for your thoughtful response.

I would love it to do so. I've been concentrating on pure image manipulation functionality so far but would like to move to extensibility code soon. When It comes to creating the .Web component I definitely want something as flexible as possible.

I do see your point regarding sensitivity of information so if you can design a usable way of doing this then I am

[2016-04-26 03:46] JimBobSquarePants commented on #341
Hey @GarethFZA I've added a new Skew method in recent builds. Would this cover your requirements?

[2016-04-26 03:47] #338 closed

[2016-04-26 13:54] JimBobSquarePants commented on #366
Had a flash of inspiration and managed to fix this. Will have a new release out asap.

[2016-04-26 17:38] Vitalii-Efremov commented on #366
Awesome, thank you very much for this work!

[2016-04-27 08:22] critot commented on #365
Hi James,
I've deployed on Azure a new AppWeb; it was created with Visual Studio 2013 template, simple an AzureCloudService with a standard WebRole and the latest Imageprocessor installed via Nuget, nothing more.
cache.config and security.config the same that we discussed above; I've uploaded an image to my blob (the CDN is running long since with endpoint the blob), opened the browser and called

[2016-04-27 10:01] JimBobSquarePants commented on #365
Hi Critot,

Thank for that link. I normally use config transforms with my CI to ensure that the correct settings are applied, but I'll look into it.

 I still have absolutely no idea what you are doing differently to others using this plugin. It just works.

This image for example

https://www.teachershealth.com.au/media/1131/userstory-trevor-tmb.jpg?anchor=center&mode=crop&width=470&height=355&qu

[2016-04-27 12:37] critot commented on #365
sorry James I've got you wrong links informations in latest post:

my webapp link is similar to this
http://mywebapp.**azurewebsites.net**

I've a blob where I upload images directly via azure portal, eg image.jpg inside 'photos' blob container with public rights

I've a cdn related and active to that blob
http://mywebapp-blob.**azureedge.net**

then
I call the image with this url: azure site link

[2016-04-27 13:10] JimBobSquarePants commented on #365
http://mywebapp.azurewebsites.net/photos/images.jpg
 ...and get 404, no redirect to CDN url...

I'd like to test something here.
Can you use the following software to look into your blob storage account? You should be able to see your image and right-click on it to get the web url.

http://www.cloudberrylab.com/free-microsoft-azure-explorer.aspx

To fix your config issues I'm going to have to see

[2016-04-27 15:03] mrfatmen opened #372 "First load on WPF project takes 5 a 10 seconds"
In my WPF application i need to make thumbs from photo the user add to the program. To do this i use the ImageProcessor package which works perfect for me. Bu i have one small problem the first use in an application session always takes 5 a 10 seconds to complete every next thumb making in the same session only takes milliseconds.

It looks like the DLL is only loaded on first use. Is there a way

[2016-04-28 00:49] JimBobSquarePants commented on #372
The Framework code yeah, not the new Core stuff?

When ImageProcessor first loads up it does a search through your referenced assemblies to look for pluggable file formats, it shouldn't be anywhere near as slow as that to initialize though. Does your application have a lot of references?

The relevant loading code code that does this code can be found [here](https://github.com/JimBobSquarePants/Im

[2016-04-28 06:20] critot commented on #365
the url of my blob is like:
https://mywebapp.blob.core.windows.net/photos/image.jpg

I sent you an email, thank you!

[2016-04-28 07:17] mrfatmen commented on #372
Indeed the Framework code.
That could be it my application has a few dozen assemblies referenced.
Most of them are DevExpress.*, Google.*

I think if those get excluded too, it must go beter.

[2016-04-28 13:29] JimBobSquarePants commented on #372
Yeah definitely. If you could list a couple I could add them, or PR?

[2016-04-28 13:45] mrfatmen commented on #372
I you could just exclude all assemblies starting with DevExpress and Google it would be reduced very much.
![image](https://cloud.githubusercontent.com/assets/4401786/14887931/26ad62c2-0d58-11e6-9157-82db8a281098.png)

[2016-04-28 14:17] JimBobSquarePants commented on #372
Cripes yeah! Will do.

[2016-04-28 14:19] mrfatmen commented on #372
Can you tell when it will be availible as nuget package?

[2016-04-28 14:24] JimBobSquarePants commented on #372
I've got a bit of work to do on the library before I can get a release out I'm afraid. You can see a list of open issues I need to clear out here.

https://github.com/JimBobSquarePants/ImageProcessor/milestones/Framework%20Consolidation

I'm hoping the community will step up and help.

[2016-04-28 18:15] GVX111 opened #373 "Watermark in Core"
When will be available watermark method in .NetCore?

[2016-04-28 22:14] JimBobSquarePants commented on #373
As I explain in the readme under "Things that might never happen" Font support requires new code from Microsoft to be written before I can proceed.

Reading and writing text to images is well outside my fields of expertise so I will need help from the developer community in order to make it happen.

So to answer your question... Dunno.

[2016-04-28 22:14] #373 closed

[2016-04-29 11:11] JeffreyPerplex commented on #49
@JimBobSquarePants Thanks for the reply! Is is possible to use the RestrictTo on all plugins, such as Quality and Alpha? Or is only possible for the resize plugin?

[2016-04-29 20:42] GVX111 commented on #373
I want Image watermark no text watermark. at this stage in Core exists like this method?

[2016-04-30 02:58] JimBobSquarePants commented on #373
My mum always used to say to me "I want never gets".

I'm hoping that this is just a language issue but you come across as quite demanding.

[Watermark](http://imageprocessor.org/imageprocessor/imagefactory/watermark/) in the original Framework code is specifically for text overlays there is a separate method called [Overlay](http://imageprocessor.org/imageprocessor/imagefactory/overlay/) which co

[2016-04-30 02:59] JimBobSquarePants commented on #49
@JeffreyPerplex Happy to help :smile:

No, I'm afraid not. It's a pretty good idea though!

[2016-04-30 08:13] Jeavon commented on #49
@JimBobSquarePants I guess a setting for ImageProcessor.Web to only accept presets was a figment of my imagination. Is it feasible to add?

[2016-04-30 08:26] JimBobSquarePants commented on #49
@Jeavon Aye probably. I'll add it to my TODO list.

[2016-04-30 22:45] kendallb opened #374 "ImageCacheBase.IsExpired is incorrect?"
The function is currently written like so:

[code]

however this is going to make the expiration date be 2x the value of MaxDays? So the default of 365 days means that cache items will not expire for exactly two years, not one. It should be written like this:

[code]

[2016-05-01 01:34] JimBobSquarePants commented on #374
I am absolutely blown away that no one has noticed this before; the code is so obviously wrong that I feel a little ashamed to have published it. Many, many thanks for picking up on it! 👍

[2016-05-01 01:52] razblack commented on #363
Hi, I want to say there is a problem with moving down to 4.5.2  atleast with regards to DNX.

I tried to move down to 4.5.1 for the current project I'm working on and it was failing quite badly with..

In particular, my input file is PNG and I wanted to convert down for thumbnails to JPG... eventually to Base64String for blobs...:

[code]
at using (Image image = new Image(stream))

`StackTrace = "

[2016-05-01 09:04] voidstar69 commented on #347
I have tried installing BenchmarkDotNet into ImageProcessorCore.Tests via Nuget, both the official release and the prerelease. I cannot use either - the prerelease appears to need the NETStandard libraries, and the official release appears to not support DNXCore 5.0.

@JimBobSquarePants @rold2007 Have you managed to get BenchmarkDotNet working to benchmark an existing unit test in ImageProcessorCo

[2016-05-01 14:35] JimBobSquarePants commented on #347
@voidstar69 Truth be told I've not tried, I've only used it outside for testing. I'll have a look as soon as I can.

It's probably best, however, to put the benchmark tests into a separate NET 4.6 console project so that I can do direct comparisons against System.Drawing.

[2016-05-01 19:29] razblack commented on #369
If you happen to be using the latest for ASP.NET (5/Core or RC1), you have a couple options already...  one (which you want to avoid) by using json configuration files to save key/value pairs...  but you also have the ability to use environment variable.  These should also work in Azure.

This is done by injecting IApplicationEnvironment into your Startup ctor, and including the .AddEnvironmentVar

[2016-05-04 00:04] JimBobSquarePants commented on #369
Thanks @razblack We're talking about the Framework version though, this won't be available on Asp.NET core. I'll bear your advice in mind though when designing the new system.

[2016-05-04 08:06] JimBobSquarePants commented on #347
@voidstar69 Just added it to the repo now :smile:

[2016-05-05 00:49] kendallb opened #377 "Limit available image sizes?"
For security purposes and to avoid someone running a nasty script against a site to generate all images in a zillion different sizes (with the intent to fill the disk and crash the server), I am wondering if it would make sense to have some kind of white list for allowed image sizes that can be generated? If the passed in width (and/or height) does not match the allowed values, the URL is rejected

[2016-05-05 01:11] kendallb opened #378 "IImageService.IsValidRequest is called twice for each image URL"
This is first called inside the GetImageServiceForRequest() function (except for the case where it matches a service by request path prefix). Then it is called again later for the resource path, but this seems redundant to me? Is there some reason the second call is required?

[2016-05-05 03:40] JimBobSquarePants commented on #378
I can't think of a scenario where we would need to call it twice. It's probably a hangover from refactoring. Will trace through and see why.

[2016-05-05 03:44] JimBobSquarePants commented on #49
Reopening this issue. Following a conversation with @JeffreyPerplex we're going to have a look at adding the ability to restrict all plugins to particular values.

[2016-05-05 03:45] JimBobSquarePants commented on #377
There's a property on the resize plugin called restrictTo that we can restrict sizes. There's actually a discussion about that scenario in a raised longstanding issue. You can see it here #49 (The important stuff is at the bottom)

[2016-05-05 05:04] kendallb commented on #377
Interesting discussion and it touches on the same issues. I took a completely different approach for the way I did it and it might possibly make sense to move it upstream if you are interested. My approach is to filter the allowed widths (we don't allow heights) in the file image handler. I wrote my own code for this and hooked it into the IsValidRequest() function so that if it does not pass my t

[2016-05-05 05:59] JimBobSquarePants commented on #377
In IImageService yeah? That's interesting, I'd like to see that.

I'd much, much rather go the code over configuration route if possible but the API is quite creaky really, I designed the greater part of it over a weekend and I wish I could change most of it.

[2016-05-05 12:40] #378 closed

[2016-05-05 12:43] JimBobSquarePants commented on #366
Closing for now as will be in the next release and I'm tracking it.

[2016-05-05 12:43] #366 closed

[2016-05-05 12:44] JimBobSquarePants commented on #365
I kept an eye out for an email but I haven't seen one.

[2016-05-05 12:55] JimBobSquarePants commented on #362
I wonder if it is caused by different Nuget versions? I always keep my version up to date.

I have set no constraints but you never know with Nuget.

[2016-05-05 14:05] critot commented on #365
I sent you on  james_south@hotmail.com...

[2016-05-05 14:17] kendallb commented on #378
Check it for the remote file service also as if will get called twice there as well on a different code path.

[2016-05-05 15:34] JimBobSquarePants commented on #378
Does it... Bugger, Can you give me some line numbers.

[2016-05-05 15:38] JimBobSquarePants commented on #365
Odd. I must have blocked you by accident when I was cleaning out my email. Sorry about that.

Send it to jamesmsouth (at) gmail.com and it should go through.

[2016-05-05 15:42] priyanshu92 commented on #297
@JimBobSquarePants  I looked at it and created a sample documentation following their tutorials and I was able to create it but it doesn't seem to work on .NET Core projects with project extension as **.xproj. I think currently it only supports .csproj files.

Let me know if I can help.

[2016-05-05 16:12] kendallb commented on #378
It all happens in GetImageServiceForRequest(). The first block of the code matches an image service on a prefix, but never calls IsValidRequest() at all. So I suspect the code in ProcessImageAsync() that you changed was originally added to make sure it got called for remote processing that matches a specific prefix. However for the local file service it calls it specifically and then for the last

[2016-05-05 16:59] kendallb commented on #377
This is the base class I use for my custom local and remote file image services. It is a bit hacky in that it has to look specifically at the query string, but really that is no different to looking at it through the query string hook anyway, since it all does the same thing.

[code]

The config file looks like this:

[code]

[2016-05-05 18:04] critot commented on #365
ok sended again at gmail, thank you

[2016-05-06 00:44] JimBobSquarePants commented on #365
Excellent. I can see that. Will have a dig asap.

[2016-05-06 00:48] JimBobSquarePants commented on #297
@priyanshu92 Thanks for giving it a go, I had issues myself when I tried. Maybe I should look elsewhere for something to use.

Ideally I want something people can make pull requests against. I just wish Jekyll wasn't such a chore on Windows machines.

[2016-05-06 01:22] JimBobSquarePants commented on #378
Ah I see now. If it is a custom, unprefixed service we are still calling it twice.

The fix is trivial then:

[code]

We need to call `IImageService.IsValidRequest` later on in the pipeline for requests with a prefix because we need to manipulate the url first to separate out the composite parts before sanitising.

[2016-05-06 04:25] Bartmax opened #379 "Interlacing is not supported"
When using a Png file I get this error:
[code]
some png works but some doesn't.

The code is here:
https://github.com/JimBobSquarePants/ImageProcessor/blob/abbf63f863635d4df1a04d322eccd425db7e82db/src/ImageProcessorCore/Formats/Png/PngDecoderCore.cs#L385

What does this mean? is this a limitation of the library or am I doing something wrong or a bug?

[2016-05-06 04:29] Bartmax opened #380 "Index was outside the bounds of the array."
When trying to do a resize of an image that's 1500x2800 to 400x746 I get this error.

[code]
Tried 100x100 and 50x50 : same error.

Surprisingly, doing 10x10 works.

Ideas?

[2016-05-06 04:36] JimBobSquarePants commented on #379
Hi @Bartmax

It means exactly that. Png files can be interlaced but it is strongly recommended not to do that as it hurts compression, increasing filesize.

See

- http://stackoverflow.com/a/14124340/427899
- http://blog.codinghorror.com/getting-the-most-out-of-png/

Interlaced png files are generally uncommon so I haven't gone out of my way to support them cos it's complex. I could maybe add supp

[2016-05-06 04:37] JimBobSquarePants commented on #380
That's odd, shouldn't happen. Will investigate.

[2016-05-06 04:39] Bartmax commented on #379
Thanks for the fast reply.

Here is a sample file that is failing. I have 3 out of 10 that seems to be interlaced :(

![546ce378-2bcf-4604-8338-91d9065727c4](https://cloud.githubusercontent.com/assets/3386797/15064484/31fc702c-132b-11e6-8bf9-1500c51e43f1.png)

[2016-05-06 04:42] Bartmax commented on #380
exactly.
Source: 1500x2800
Target:
400x746 = fail
100x100 = fail
50x50 = fail
10x10 = resize ok.

I can send you the file, but must be private.

[2016-05-06 04:54] JimBobSquarePants commented on #379
No worries. I'll branch off and try to tinker with it. Fingers crossed it's not too difficult.

[2016-05-06 04:55] JimBobSquarePants commented on #380
Nah that's cool. I should be able to replicate by making one the same size.

If not I'll get you to email me one. Was it a png?

[2016-05-06 04:57] Bartmax commented on #380
It's a `.JPG` file.

here the details on file properties:

![image](https://cloud.githubusercontent.com/assets/3386797/15064707/ced4bb14-132d-11e6-8bea-741f1b9766c8.png)

let me know if you need something else.

[2016-05-06 05:30] JimBobSquarePants commented on #380
So I'm not able to replicate this on my machine.

Could you email me the image james_south@hotmail.com and also post a code sample of how you are resizing the image?

[2016-05-06 05:41] Bartmax commented on #380
Email sent with the image and the exact code i'm using.
Thanks!!

Here is a minimal repro of the code:
[code]

[2016-05-06 06:11] razblack commented on #380
I've seen this also.

The image was 7200x10800 and I was trying to jpeg it to 320x180,

I found that if I used a multiple of its' lowest common ratio (108x72) and began multiple (*2, *3, *4...)

to a thumbnail of size 216 x 324, it ran fine... but was odd.

[2016-05-06 06:17] JimBobSquarePants commented on #380
@Bartmax @razblack  What build are you both using? I'm able to resize against the emailed image to the specified dimensions no problem.

[2016-05-06 06:18] razblack commented on #380
I actually compiled it myself a couple days ago.. I can check the dates.

[2016-05-06 06:18] Bartmax commented on #380
[code]

is this bad?

[2016-05-06 06:20] Bartmax commented on #380
just updated to 790, same outcome.

[2016-05-06 06:23] razblack commented on #380
here's the project.json I used to do the build.  I had to push it up to net46, otherwise I was runing into System.IO.Compression problems (not sure why though, https://github.com/JimBobSquarePants/ImageProcessor/issues/363#issuecomment-216007733 )

{
  "version": "1.0.0-*",
  "title": "ImageProcessorCore",
  "description": "A cross-platform library for processing of image files written in C#",
  "

[2016-05-06 06:25] JimBobSquarePants commented on #380
Super odd. That's the build version I'm testing against.

I'm afraid you're going to have to attach a debugger against the source to figure this one out. We know the error is happening in `PrecomputeWeights` but not why.

Can you both please pull the latest source and give it a go?

[2016-05-06 06:30] razblack commented on #380
absolutely, it will have to be tomorrow though, and I'll try to do a sample project with ImageProcessorCore as an added project instead of a nuget dependency to see if I can help trace it down.

[2016-05-06 06:32] JimBobSquarePants commented on #380
Brilliant. Thanks!

[2016-05-06 06:36] razblack commented on #380
in the meantime, here's the sample image i was working with for tests:

https://onedrive.live.com/redir?resid=3DD1F9A38CC00B28!46237&authkey=!AHld1zYjSxZRfBI&ithint=file%2c7z

[2016-05-06 06:50] Bartmax commented on #380
Pressing F10 here throws. I don't understand what's going on unfortunately. Feel free to give me some gidance or tell me if there's any data you need to know.

![image](https://cloud.githubusercontent.com/assets/3386797/15066174/79c81570-133d-11e6-9b9e-2704c9ba936d.png)

[2016-05-06 06:54] Bartmax commented on #380
As you can see, is trying to get `results[18].Values[15]` but it only has 14 items.

![image](https://cloud.githubusercontent.com/assets/3386797/15066246/25844c62-133e-11e6-9048-5050a6f9d3ec.png)

[2016-05-06 07:00] Bartmax commented on #380
Changed this line and worked:
[code]
to:
[code]

this was a guess shoot so I'm not sure if this is really the issue here.

[2016-05-06 07:03] davepermen commented on #380
i'd go with Values = new Weight[right - left] instead?

[2016-05-06 07:04] davepermen commented on #380
actually new Weight[right - left + 1] i guess. given the forloop is <= right.

[2016-05-06 07:06] Bartmax commented on #380
```new Weight[right - left + 1]``` also worked.

[2016-05-06 07:11] Bartmax commented on #380
@JimBobSquarePants I guess you have everything you need... the only question I still have is why you weren't having the same issue.

Let me know if I can help any further. This was so far the most satisfying experience on OSS so far for me. Thanks!

[2016-05-06 07:12] JimBobSquarePants commented on #380
This was a nasty little bug!

Protip: Never base array sizes on floating point calculations. :smiling_imp:

My two test machine must support extended floating point types which meant they gave more accurate answers for rounding. @Bartmax Your solution would work but the solution @davepermen gave will be quicker. I'll push some new code in a mo.

[2016-05-06 07:26] JimBobSquarePants commented on #380
There should be an updated build available soon. You can track it's progress here

https://ci.appveyor.com/project/JamesSouth/imageprocessor/branch/Core

[2016-05-06 07:26] #380 closed

[2016-05-06 09:53] Shazwazza commented on #49
HI all, I've created a PR here which will give you max flexibility for securing these requests based on an event:

https://github.com/JimBobSquarePants/ImageProcessor/pull/381

Using this you could just cancel the request if the parameters don't match what you want. An example (NOTE: I put no thought into this example!) :

    ImageProcessingModule.ValidatingRequest += (sender, args) =>
    {

[2016-05-06 16:59] razblack commented on #380
looking forward to give that a try soon..however, I believe I may be seeing something different:

somewhere in JpegDecoderCore.cs @#468  (decodeHuffman)

this is the first i've dug this far into your code.. not sure what that means exactly.

[2016-05-06 17:39] razblack commented on #380
ok with ImageProcessorCore v1.0.0.802,

I still get this "errMissingFF00"  exception while it generates the jpeg; however, it no longer throws and generates the blob (which is my end result):

`            string filePath = storagePath + fileName + fileExtension;

            try
            {
                var blob = "";
                var blobName = storagePath + fileName + ".blob";

[2016-05-08 23:09] JimBobSquarePants commented on #380
@razblack It just means that the software that encoded your jpeg didn't do a great job. The decoder recognizes the error and works around it.

[2016-05-10 07:52] JimBobSquarePants commented on #49
Thanks @Shazwazza for this I think it's a great enhancement.

[2016-05-10 09:34] JeffreyPerplex commented on #49
Hi guys,

I was thinking to add settings to all plugins in the processing.config. Especially adding minvalue, maxvalue, default and/or allowedvalues.

Minvalue: Restrict the minimumvalue for this plugin or setting in a plugin. Applicable if the plugin expects a integer or decimal.
Maxvalue: Restrict the maximumvalue for this plugin or setting in a plugin. Applicable if the plugin expects a integer

[2016-05-10 15:41] tomeglenn commented on #358
I'm also having the same issue. Has there been any resolution to this?

[2016-05-11 07:39] JimBobSquarePants commented on #358
@tomeglenn  I'll have to revisit this as it should be a case of implementing the API. All the built in ones are implementations of the `IImageService`. My hunch is that the settings are not wired upcorrectly in the implementation.

Would you be able to share code or configuration files?

[2016-05-11 12:02] tomeglenn commented on #358
Hey @JimBobSquarePants

Sure, my setup is very similar to @joetossell29 I suspect. I installed the `ImageProcessor`, `ImageProcess.Web` and `ImageProcess.Web.Config` NuGet packages.

`cache.config` and `processing.config` remain untouched.

`security.config` contains the following:

[code]

Then my implementation of the `IImageService` is as follows:

[code]

Thanks

[2016-05-13 15:44] sprintstar opened #382 "ImageProcessor.Web - Can't make it intercept a IHttpHandler request"
I am trying to make ImageProcessor intercept an image url that's not just a static image.  I have an IHttpHandler that returns an image, but putting ImageProcessor.Web parameters on that url doesn't work, the image doesn't get processed.  For example:

// Image gets processed, and return 100px wide
http://localhost:57944/images/img.jpg?width=100

// Image doesn't get processed
http://localhost:579

[2016-05-14 02:20] JimBobSquarePants commented on #382
Hey there,

Use a custom IImageService instead as per the documentation. If you check out the code in the Framework branch you'll see examples.

Hope that helps.

[2016-05-14 02:20] #382 closed

[2016-05-16 03:29] JimBobSquarePants commented on #365
Hi @critot I've just spent the last wee while looking through that example project you sent me. I cannot find a single image request within the codebase. Without a more complete example I cannot really do much for you I'm afraid.

I did notice however that the default url given to me in the `CloudImageService` was inaccessible.

I get the following message.

[2016-05-16 04:57] ctolkien commented on #265
Looks to be solved?

![image](https://cloud.githubusercontent.com/assets/515955/15280681/8b8d4c12-1b76-11e6-90b3-557f513c75d5.png)

[2016-05-16 04:59] phillip-haydon commented on #265
I like it.

[2016-05-16 05:20] robertjf commented on #265
major improvement :)

[2016-05-16 05:32] ctolkien commented on #265
Uh, just for clarity.. this isn't me :)

Spotted initially here:
https://twitter.com/James_M_South/status/730616556674113537

And is now featured in the readme.

[2016-05-16 05:45] JimBobSquarePants commented on #265
Thanks @ctolkien totally forgot I had an open issue on that!

Yup definitely solved. I'm very happy with it.

If anyone from Instagram is reading I can help you with yours if you like. :stuck_out_tongue_winking_eye:

[2016-05-16 05:45] #265 closed

[2016-05-16 06:17] #341 closed

[2016-05-16 06:19] JimBobSquarePants commented on #321
@PromontoryProtean @IanYates I'm changing the code now to only accept a single processor. That reduced the number of allocations per request and doesn't reduce flexibility since you can still loop.

[2016-05-16 06:23] #321 closed

[2016-05-16 06:24] JimBobSquarePants commented on #289
Closing for now as thresholding is out of scope for this release.

[2016-05-16 06:24] #289 closed

[2016-05-16 07:56] critot commented on #365
Hi James, thank you for your time, I owe you a beer...
for the default url, I forgot to enable default page in azure, now it works, so anyway...

I do not make requests in codebase; the sample app has imageprocessor installed and configured via .config files, then I make calls via browser; why a more complete example if this simple process dont work? for what I understand with ImageProcessor, Imag

[2016-05-16 10:55] ctolkien opened #383 "Exif data isn't stripped unless a resize operation is taken"
I'd hoped to put together a decent repro, until I can that done...

* Create a image factory with `preserveExifData` set to `false`
* Load an image source (I tested with a `stream`)
* Change the image quality
* Save the image out
* Newly saved image still has exif data.

If I throw a resize operation into the chain, then the exif data _is_ stripped.

[2016-05-16 13:47] JimBobSquarePants commented on #383
Bit of an oversight on my part there. Didn't realise the data was getting copied. Fixed on dev for now anyway.

[2016-05-18 11:56] sprintstar commented on #382
Hello, thanks. I have tried writing my own, but am still having some problems.  If I wish to use something like
/MyImageHandler.axd?id=nnn&width=200

(where nnn is the id of an image)

.. and have image processor intercept that call, get the image and process it to, I end up writing code that goes to /MyImageHandler.axd to get the image.  This causes the image processor to intercept it, and we get

[2016-05-18 12:42] goldenalfer opened #385 "OutOfMemoryException big pictures"
In my web application I need to work with images with sizes 1000-6000 px width. But ImageProcessorCore generates OutOfMemotyException with 5000x3500px image.

This my scenario:
1. User is uploading an image
2. Web site should save this image and make several copies with different sizes (160px, 320px, 480px, 720px, 1080px heights)

But ImageProcessor generates OutOfMemotyException on step of readin

[2016-05-18 13:56] JimBobSquarePants commented on #385
Hi @goldenalfer

I just edited your question slightly since you were referring to ImageProcessor when you, in fact, meant ImageProcessorCore.

I just tested the Image locally on my laptop and was able to resize it along with other images within my unit tests with no issues.

First off, I must stress, ImageProcessorCore is still most definitely an alpha so you shouldn't be using it in a production

[2016-05-18 14:36] JimBobSquarePants commented on #382
Ah right, I must ask, why the DB and not something like AzureBlobStorage? Storing images in a DB is never wise.

I have a very battle-tested working implementation (It's used in UAAS)

https://github.com/JimBobSquarePants/UmbracoFileSystemProviders.Azure

Feel free to borrow code from there if you are committed to using the DB.

So is your `IFileSystem` implementation still tied to a `HttpHandler`

[2016-05-19 05:34] goldenalfer commented on #385
OK, I understood.

My machine setup is 12 MB of RAM on 64bit Windows desktop. I'm using IISExpress.

Console application works without exceptions, but asp.net 5 mvc application with file uploading by user generates OutOfMemoryException.

[2016-05-19 06:10] JimBobSquarePants commented on #385
Ah! It's IISExpress that's your issue then. That runs 32bit by default.

You can change that by following the instructions here. The settings are the same for both VS 2013 and VS 2015.

https://www.exceptionnotfound.net/using-64-bit-iis-express-in-visual-studio-2013/

[2016-05-19 13:45] JimBobSquarePants commented on #49
Sorry @JeffreyPerplex just got onto this. From a first glance I think it' going to add a lot of complexity parsing each set of values for each plugin. I'll have a good think about it.

[2016-05-19 20:19] sprintstar commented on #382
Thank you for taking the time to respond.  We're writing an IFileSystem that will store the media in the database, but will utilize FILESTREAM or FileTable technology for speed. Storing media on the filesystem is a real pain point for our development team.  Here is our MK1 database IFileSystem: https://github.com/sprintstar/UmbracoFileSystemProviders.SQLFileStream

Anyway, so your recommendation i

[2016-05-19 21:00] goldenalfer commented on #385
Understood. Thx

[2016-05-19 21:12] voidstar69 commented on #347
@JimBobSquarePants Thanks for adding BenchmarkDotNet to the repo, looks like it will be very useful to compare against System.Drawing.

I have started off by looking at the performance of Crop. On my laptop the System.Drawing version take about 800us, while the Core version takes about 1380us.
I tried a minor optimisation in Crop.cs, changing this:

[code]

to this:

[code]

This appears to speed

[2016-05-19 23:35] JimBobSquarePants commented on #347
Hi @voidstar69 Thanks for having a look at this. Have you go the latest version of the codebase?

I have a test against Crop [here](https://github.com/JimBobSquarePants/ImageProcessor/blob/f983a6153e9a7f902f37f4c22b52025a0b70e3e4/tests/ImageProcessorCore.Benchmarks/Samplers/Crop.cs) which resulted in Crop taking half the time of `System.Drawing` on my machine. Admittedly results will vary dependin

[2016-05-19 23:36] JimBobSquarePants commented on #385
Excellent. I'm going to close this now.

[2016-05-19 23:36] #385 closed

[2016-05-19 23:47] JimBobSquarePants commented on #382
No worries :smile:

My recommendation is not to use a `HttpHandler` at all.

You should be able to use your `IFileSystem` implementation with a virtual path provider as I do in the Azure version. That way your paths should follow the expected Umbraco default of `/media/1234/your_image.jpg`, will work with the cropper, and will be easily transferable amongst deployment environments.

Grab my code f

[2016-05-20 08:26] tomeglenn commented on #358
Just to let you guys know, I have fixed this for now by downgrading the NuGet packages I am using to the following.

ImageProcessor - v2.2.5
ImageProcessor.Web - v4.3.2
ImageProcess.Web.Config - v1.0.0

[2016-05-20 08:41] JimBobSquarePants commented on #358
Good to know. I'll test your implementation against my current build asap.

[2016-05-20 08:43] JimBobSquarePants commented on #358
Quick glance at your implementation though and it says true for IsFileLocalService which is incorrect.

[2016-05-20 08:53] mattwarren commented on #347
Hi, I'm one of the developers for BenchmarkDotNet and it's cool to see you using it, I added you to [our list](https://github.com/PerfDotNet/BenchmarkDotNet/wiki/People-using-BenchmarkDotNet).

BTW there's a [Diagnostics Nuget package](https://www.nuget.org/packages/BenchmarkDotNet.Diagnostics.Windows) that might be help you out. It gives you information about [memory allocations](http://mattwarre

[2016-05-20 09:02] JimBobSquarePants commented on #347
Hi @mattwarren thanks for dropping by.

That package sounds like it would definitely be very useful thank you! Happy to have made your list. :smile:

[2016-05-20 09:15] 0xYG3NIUM opened #388 "Azure cache is not updated once original image changed."
I have a pretty much standart config on my site with imageprocessor and azure cache plugin enabled. I dont have CDN enabled/configured.  Everything works except when I need to change source image - imageprocessor is not updating the cache. This only happens when I turn on Azure cache. If I switch back to DiskCache - everything works perfect. Any idea where I should look?

[2016-05-20 09:57] 0xYG3NIUM commented on #388
Update from 1.0.4 to 1.0.8 fixed it

[2016-05-20 09:57] #388 closed

[2016-05-20 11:30] JeffreyPerplex commented on #49
Hi @JimBobSquarePants, I know it will have impact, but I think the benefits of security definitely outweigh the cons. As said, the possibility of bringing down a site is way too big right now. But I definitely agree that his a some impact on your code. Give a good think, and I'll hear from you :)!

[2016-05-20 14:20] critot commented on #365
Hi James, finally it works!
the problem was the 'host' setting in my security.config... I didn't understand that it has to point to the blob storage and not the site url, this was not clear for me on the documentation!
Now, when I call an image with querystring in my app I get the image resized (with cdn link).

thank you.

[2016-05-20 15:00] JimBobSquarePants commented on #365
Oh that's the best news! I'll update the documentation to make it more clear. :smile:

[2016-05-20 15:00] #365 closed

[2016-05-21 08:12] JimBobSquarePants commented on #363
This should all work now I have released the RC2 update targeting netstandard1.1 (works on my machine) please let me know when you have tested it

[2016-05-21 08:12] #363 closed

[2016-05-21 08:14] JimBobSquarePants commented on #135
See #313 for the workflow

[2016-05-21 18:17] voidstar69 commented on #347
Hi @JimBobSquarePants, I got the latest code from the Core branch before I tried my changes, and I did test them in Release mode.

That is the same test that I ran on my machine, but the performance profile is different for me (i5 CPU, 4 logical processors). What were your timings in us (microseconds)? If you try out my Array.Copy code, does it make Crop faster or slower on your machine?

You are

[2016-05-22 04:25] JimBobSquarePants commented on #347
@voidstar69 I've taken your advise on board re `SetPixels()` as that seems like a logical interpretation of expected behaviour. The code will be in the next push.

As for timings. Here's the timing on my main laptop. It's got waaay less cores than my work machine which has twelve. On that machine ImageProcessorCore is 0.46 when scaled which is good and quick.
[code]

Using your code addition

[cod

[2016-05-22 04:30] JimBobSquarePants commented on #347
One thing that we should definitely have a look at which affects all processes is how I manage threading.

in `ParallelImageProcessor.cs` I split up jobs into tasks

https://github.com/JimBobSquarePants/ImageProcessor/blob/0300f596b0c59a7187ba7ce0efcf0d9e98932a4f/src/ImageProcessorCore/ParallelImageProcessor.cs#L45

I determine the number of tasks based on multiplying the processor count by 2 whic

[2016-05-23 00:20] JimBobSquarePants commented on #358
I figured it out. Neither of you are initializing your setting properties and I'm checking for the presence of a specific property.

[code]

I'm gonna ensure that when I create an instance it's initialized from now on if the developer forgets to do so.

[2016-05-23 00:20] #358 closed

[2016-05-23 01:37] JimBobSquarePants commented on #379
This is tricky stuff...

Reading up it looks like I need to decode each scanline 8 times. Which will require some significant refactoring here.

https://github.com/JimBobSquarePants/ImageProcessor/blob/7d28a87716e4b7c2dea73bc0fb804873d30372f6/src/ImageProcessorCore/Formats/Png/PngDecoderCore.cs#L242

I could really do with someone who has done this before stepping up and adding the code.

[2016-05-24 14:11] neilw1 opened #389 "No ability to set encoders (CCIT G4 gets changed to LZW)"
Hello,
1 bit CCITT T.6 (group 4) TIFF files are being auto converted to 32 bit LZW without any available option in the library to set compression or formats.

However, I've found the exact code that works on Stackoverflow and I guess could easily be added to the library to support saving of any available compression or format supported by .NET imaging library:
http://goo.gl/2MBvOo

thanks.

[2016-05-24 14:50] JimBobSquarePants commented on #389
Hi there,

I've just updated the code to allow the preservation of existing bit depth and also to change them.

In order to not make too many breaking changes I'm defaulting the Tiff Compression to CCITT T.6 (group 4) for 1 bit images and LZW for anything else.

I'll be getting a release out soon.

[2016-05-24 15:03] JimBobSquarePants commented on #49
I've been reflecting further on this and I cannot make too may changes without a major version number (Which I cannot do as it breaks the upgrade path for many libraries).

Now that we have the ability to intercept and block calls, as a compromise I think for this version I shall enable only the following processors as default:

- AutoRotate
- BackgroundColor
- Crop (I might be able to ditch this

[2016-05-24 15:34] neilw1 commented on #389
Cheers.

That was quick :)

I've actually just spotted an issue. Well with my code anyway. It came in
as lzw and I exported as ccitt g4. Then realised it converted all the greys
to black :)

Essentially color manipulation makes no sense to 1 bit
On 24 May 2016 3:50 p.m., "James Jackson-South" <notifications@github.com>
wrote:

[2016-05-24 18:11] Shazwazza commented on #49
Hrm, to be honest I'm not sure ;) I'll have to ask jeavon I think, will ping him on twitter

[2016-05-24 18:27] Jeavon commented on #49
Yes we do use the crop processor in Umbraco

[2016-05-24 21:33] JimBobSquarePants commented on #49
Cheers. That stays then...

[2016-05-24 23:03] JimBobSquarePants commented on #389
Yup, Yeah, you're not gonna get very far doing that. Thanks for raising the issue here anyway, it was a nice quick win. :beers:

[2016-05-25 00:34] cartman300 commented on #264
Is there any progress on this? I have quite a good idea how to implement these. Might give it a go.

[2016-05-25 00:57] neilw1 commented on #389
I did a workaround by showing the 32 but image and the to-be 1 bit image.

But I don't know if there's a bug in your old code but I cannot save 1 bit
images to a memory stream (using the code I pointed you at anyway), I get
an unsupported format error. As a workaround i've had to write the stream
to a file then load it back in in order to pick up the converted 1 but
image, if that makes any sense

[2016-05-25 01:15] JimBobSquarePants commented on #389
There's probably a bug in the old stuff. I was doing something funky when copying images. I'll double check the stuff I just committed to ensure the image can still be loaded from a stream afterwards.

[2016-05-25 01:28] JimBobSquarePants commented on #264
@cartman300 None whatsoever.

I'm not the greatest mathemagician in the world so I struggle with this kind of stuff so If you know how to do it please give it a go. I would really appreciate it!

I'm essentially looking at first implementing path drawing. I think we should be able to break bezier and quadratic curves into neat methods and take advantage of the new vector types for things like Vect

[2016-05-25 18:14] cartman300 opened #390 "Rebracer"
It would be nice if the creator added a [rebracer](https://visualstudiogallery.msdn.microsoft.com/410e9b9f-65f3-4495-b68e-15567e543c58) file to the solution, it would give some consistency because my VS is configured to use tabs and put braces on the same line (instead of new line). Currently i can't use auto indent because it would change the whole opened file with my own style.

[2016-05-25 23:11] cartman300 commented on #264
![example](https://cloud.githubusercontent.com/assets/3836060/15558972/bde60784-22de-11e6-8eb2-d0cf82727c1b.png)

I've implemented this in my fork

[2016-05-26 01:35] JimBobSquarePants commented on #264
@cartman300 This is incredible! I'm super happy to see this come together. :smile:

The syntax is great also; really clean and pretty much exactly what I wanted. I had a quick look through the source code and I can see that you're still working on thickness. What's the status of antialiasing?

Buzzing with this demo. I appreciate it so much!

[2016-05-26 05:00] #390 closed

[2016-05-26 05:02] JimBobSquarePants commented on #390
I didn't know about this tool. An excellent idea!

[2016-05-26 09:07] Jeavon commented on #390
.editorconfig file too please :) http://editorconfig.org/

[2016-05-26 10:18] JimBobSquarePants commented on #390
@Jeavon How does that one work? Do I have to save the settings manually?

[2016-05-26 11:29] Jeavon commented on #390
@JimBobSquarePants you just add a .editorconfig to the root of the project, then any IDE (VS or otherwise) that has the EditorConfig plugin installed will obey the rules. We have it installed in VS and Sublime so C# devs and front enders are all using the same space style for example.
e.g. https://github.com/CrumpledDog/Umbraco-AzureCDNToolkit/blob/develop/.editorconfig

[2016-05-26 12:43] JimBobSquarePants commented on #390
Yeah but do I have to manually write those settings or can I export them from visual studio?

[2016-05-26 13:56] Jeavon commented on #390
Yes you do need to create it (or copy it from an existing one)

[2016-05-26 14:10] JimBobSquarePants commented on #390
Cool. I'll have look, just wanna make sure I do it correctly.

[2016-05-27 14:17] pammann-work opened #392 "bmp images with negative height produce Exception when decoding"
Exception: array dimensions exceeded supported range
at: BmpDecoderCore.cs
float[] imageData = new float[this.infoHeader.Width * this.infoHeader.Height * 4];

due to negative this.infoHeader.Height

[2016-05-27 14:17] pammann-work commented on #392
for negative height in bmp see here:
see http://www.drdobbs.com/architecture-and-design/the-bmp-file-format-part-1/184409517

[2016-05-27 14:39] nbastoWM opened #394 "Resize outputs an image half black"
My code:

[code]

When I call the action with a square image and width and height = 300, the result is:
![image](https://cloud.githubusercontent.com/assets/15138821/15611172/f83bba6c-2420-11e6-8d74-4e4c676bd6e4.png)

I tryed different images, sizes and resize modes abut the image is never complete.

[2016-05-27 17:06] nbastoWM commented on #394
I found out that the portion of the image that becomes black is the ratio between the original size and the resize measure. The example I gave is originaly 720x720, so the black portion is a little more than half.
If I resize it more than 720 then the whole image appears.

[2016-05-29 00:23] cartman300 commented on #264
Eh, i forgot antialiasing was a thing. I should definitely implement it. Maybe even some kind of serial image processor, because stuff like this can't be parallelized easily (in fact, it makes it slower). I also have to fix the bézier paths because they don't stack easily, got no idea why yet.

[2016-05-29 06:07] JimBobSquarePants commented on #392
Thanks for submitting a fix. I'll close this off now :smile:

[2016-05-29 06:07] #392 closed

[2016-05-29 06:18] JimBobSquarePants commented on #394
@nbastoWM Bugger... I thought I'd cracked this. I'll give it another go.

[2016-05-29 09:10] JimBobSquarePants commented on #264
Excellent. Thanks!

You can actually turn off the parallel nature of the processors by overriding the `Parallelism` property, setting it to `1`. I do that here in [Resizer](https://github.com/JimBobSquarePants/ImageProcessor/blob/ae5a785823ff084974143114b2776346240b4e1d/src/ImageProcessorCore/Samplers/Resize.cs#L32)

[2016-05-29 15:08] #394 closed

[2016-05-29 15:09] JimBobSquarePants commented on #394
That should do it...

[2016-05-30 09:00] pammann-work opened #395 "bmp/gif save to stream will close the stream"
MemoryStream ms = new MemoryStream();
image.SaveAsBmp(ms);

will lead to a closed memory stream

and this will then not work:

using (var dest = new FileStream(destFileName, FileMode.Create, FileAccess.Write, FileShare.None, bufferSize: 16384))
{
  ms.CopyTo(dest);
}
-> Exception: "Cannot access a closed Stream"

[2016-05-30 13:33] JimBobSquarePants commented on #395
These are the kinds of thing unit tests miss and only real usage will catch. That' one of the reasons I'm running such a long alpha. Thank for this!

[2016-05-30 14:09] Mtahtaci opened #397 "Image types"
hi james ,

have you got an example code for figuring out the image type (jpg,png,svg,gif,bmp,....)  ?
i dont want to look at the file extension , bcs some files has wrong extensions (eg. File's codec is jpeg but extension is png)

**Update** : Image data coming from MemoryStream and i convert it to System.Drawing.Bitmap class.

**Update 2** : I will use this image for Resizing in ImageProcessor ,

[2016-05-30 14:55] #397 closed

[2016-05-30 15:12] JimBobSquarePants commented on #397
Hi @Mtahtaci,

I see you opened and closed this issue. Did you find what you are looking for?

Both libraries, ImageProcessor and ImageProcessorCore use the various file headers to identify what format the image is and use the correct encoders and decoders. If it's not a supported image format e.g. svg then they will throw an exception.

You will be able to query the loaded format by looking at th

[2016-05-30 15:13] #395 closed

[2016-05-31 03:07] #370 closed

[2016-05-31 03:11] JimBobSquarePants commented on #370
Hey @jemala, assuming you were using the `Image.Rotate(float angle)` method that's now fixed.

[2016-05-31 23:36] JimBobSquarePants opened #398 "Skew causes zoom"
The current skew implementation is causing the image to be zoomed.

The below image (rendered using CSS) shows what the output image should be like vs what it is like.

![image](https://cloud.githubusercontent.com/assets/385879/15693692/9fbc961e-27da-11e6-8bfa-bba65638e9ac.png)

The skew process is as follows:

- If expanding the canvas, calculate the bounding box using `ImageMaths.GetBoundingRect

[2016-06-01 03:08] mzajkowski commented on #335
Hi Jim, are you planning to release new version soon? I updated all packages from nuget and it seems to broke my overlays :) Just want to know if I need to revert to some old version or just wait for new release. Thanks in advance for your answer!

[2016-06-01 04:22] JimBobSquarePants commented on #335
@mzajkowski I'm hoping to get a new release very soon now that I've got an established plan for some security concerns. Hopefully before the end of the week.

Fingers crossed that's not too much of an issue.

[2016-06-01 05:30] sreevishnu opened #399 "Crop the black part of the image"
I am using ImageFactory for resizing images. But for some images, black color padding appears. I saw suggestions mentioned in Git for this issue. But I see, I need a different behavior. I need to crop out the black padding if it's there. So how do we know there is a black padding ? And any method to crop it out ?

[2016-06-01 06:10] JimBobSquarePants commented on #399
Hi @sreevishnu

You should apply a different resize mode as per the documentation.

http://imageprocessor.org/imageprocessor/imagefactory/resize/

If you are changing the aspect ration it is most likely you want `ResizeMode.Crop`

Hope that makes sense.

James

[2016-06-01 06:10] #399 closed

[2016-06-01 06:23] sreevishnu commented on #399
ResizeMode.Crop only crops the black part of the image ?+

[2016-06-01 06:57] JimBobSquarePants commented on #399
Ah sorry, I thought you meant you want to prevent the black areas appearing on resize.

You mean detect the black areas and remove them? You might be able to do it using EntropyCrop

http://imageprocessor.org/imageprocessor/imagefactory/entropycrop/

That might end up cropping more than you want though. Other than that there is nothing in the library.

[2016-06-01 08:34] fabianScout opened #400 "Filesize bigger after resize"
Related to #197
I upload a jpg file with original file size 60kb(width of the img 1920px).
I resize the file to 1920px and 1200px. The resized 1920px file is 130kb and the 1200px file is 180kb?!

Set Gamma adjustment and upscale to false. I expect that the file size should be the same, 60kb or smaller.
Is there an explaination?

[2016-06-01 09:23] JimBobSquarePants commented on #400
Hi @fabianScout

It could be a multiple of factors really. Most likely though was that image was been encoded originally at a lower quality setting using a better encoder than the one offered in `System.Drawing`.

It's very odd that the 1200px wide one is larger than the 1920px wide one though.

I would play about with the quality setting to see if that makes a difference but I doubt you will matc

[2016-06-01 09:23] #400 closed

[2016-06-01 09:47] mzajkowski commented on #335
Awesome @JimBobSquarePants. Looking forward for this. Could you meanwhile describe from which version problem occurs? Want to roll back to this version before the next release.

[2016-06-01 11:41] sreevishnu opened #401 "Image zoom issue"
#If I try to resize a thumbnail image( for eg : 70x70) to a larger one, the image is getting zoomed. Instead I have to set the same image as is, to the larger canvas and make rest part as transparent. I don't see such an option in the documentation.

[2016-06-01 12:53] JimBobSquarePants commented on #401
Hi @sreevishnu

I really cannot determine from your issue what you are trying to do.

Please.

- Tell me which library and which version you are using.
- Share a code sample of what you are doing.
- Show me an example of your image and your expected output.

[2016-06-01 13:32] sreevishnu commented on #401
=> Tell me which library and which version you are using
        id="ImageProcessor" version="2.3.3.0"
=>  Share a code sample of what you are doing.

      ` `using (MemoryStream inStream = new MemoryStream(fileContent))
            {

                using (MemoryStream outStream = new MemoryStream())
                {
                    using (ImageFactory imageFactory = new ImageFactory(prese

[2016-06-01 14:06] JimBobSquarePants commented on #401
That's much better thanks. So you want this image as your output yes?
![](https://cloud.githubusercontent.com/assets/3965656/15711310/15cb9cec-282b-11e6-8cff-8852ed9712b0.png)

You probably want something like the following.

    imageFactory.Load(inStream);
    int height = imageFactory.Image.Height;
    int width = imageFactory.Image.Width;

    if (height < size.Height || width < size.Width)

[2016-06-01 14:13] sreevishnu commented on #401
Now I wrote something like this
` imageFactory.Load(ImageToResize.ToStream(ImageFormat.Jpeg));
                        if (imageFactory.Image.Height < size.Height || imageFactory.Image.Width < size.Width)
                        {
                            imageFactory.Resize(new ResizeLayer(new Size(imageFactory.Image.Height, imageFactory.Image.Height), ResizeMode.Crop))

[2016-06-01 14:20] JimBobSquarePants commented on #401
Jpeg's don't support transparency. They don't have an alpha channel.

[2016-06-01 14:23] sreevishnu commented on #401
ah...I really forget that! :D

[2016-06-01 14:25] JimBobSquarePants commented on #401
I forget myself sometimes :smile: Change the format to png for transparency

[2016-06-01 14:28] sreevishnu commented on #401
I done like
`Image ResizedImage = Image.FromStream(outStream);
                    ResizedImage.Save($@"MyPath/imageResized.png", ImageFormat.Png);`

but still transperency is not working.

Is there any way to do it via ImageFactory ?

[2016-06-01 14:30] JimBobSquarePants commented on #401
Yeah

    .Format(new PngFormat())

http://imageprocessor.org/imageprocessor/imagefactory/format/

[2016-06-01 14:34] sreevishnu commented on #401
Yup, that makes my life easier :)

[2016-06-01 14:37] JimBobSquarePants commented on #401
Excellent! If you have everything please close the issue. I'm very glad I could be of help.

[2016-06-01 14:38] sreevishnu commented on #401
Sure, I'll close the issue. Great help Jim! Thank you very much :)

[2016-06-01 14:38] #401 closed

[2016-06-05 04:27] JimBobSquarePants commented on #49
Ok... So this is the new pipeline.

Processors are locked down to the following by default:

- AutoRotate
- BackgroundColor
- Crop
- Format
- Quality
- Resize

Early in the request we have the `ValidatingRequest` event handler we can tap into to add custom restrictions and sanitize the request. That can cancel the request.

If the request passes, anything that makes an **image request containing a

[2016-06-05 23:19] JimBobSquarePants commented on #264
Hey @cartman300, Just found this excellent document on line drawing where at the end they deal with line thickness and antialiasing. We can certainly simplify the code sample by applying some of the Vector methods. I'm hoping it would be as useful to you as it looks.

[Bresenham.pdf](https://github.com/JimBobSquarePants/ImageProcessor/files/299563/Bresenham.pdf)

[2016-06-05 23:34] cartman300 commented on #264
Yes that's useful, but in the following weeks i'm not really sure if i'm gonna have any time to do any programming. But i'm certainly gonna have time after June ends.

[2016-06-06 05:21] JimBobSquarePants commented on #347
Well ain't this nice... :smile:

[code]

[2016-06-06 08:00] Shazwazza commented on #49
Not sure off the top of my head, @Jeavon  would certainly know better. I can have a look in our code this week if he's not sure

[2016-06-06 08:05] JimBobSquarePants commented on #49
Thanks!

[2016-06-06 09:13] Jeavon commented on #49
@JimBobSquarePants so something like /images/mybg.jpg?v=0.0.1?

[2016-06-06 09:47] JimBobSquarePants commented on #49
@Jeavon yeah, something like that. That would trigger the processor and cache previously. It would be possible to create a noop processor to allow it per server if necessary.

[2016-06-06 09:52] Jeavon commented on #49
We don't have anything which does that specifically in Umbraco but cache busting querystrings are pretty common practice. I would certainly allow "v" and "rnd", perhaps a noop processor where variables can be easily added? IP caching with only cache busting variables is good and is very useful when using the Azure Blob cache.

[2016-06-06 10:01] JimBobSquarePants commented on #49
How to do that without making it an attack vector though?

[2016-06-06 10:06] Jeavon commented on #49
True, caching of these is not a massive advantage. My Azure CDN Toolkit will resolve asset paths directly that are not being cached by ImageProcessor anyway but the requests with "v" or "rnd" querystring variables will need to be allowed and ignored by Image Processor.

[2016-06-06 11:50] JimBobSquarePants commented on #49
Hows about that?

[2016-06-06 11:52] Jeavon commented on #49
Looks fab!

[2016-06-06 11:54] JimBobSquarePants commented on #49
Ace.... Just docs to write now.... groan :cry:

[2016-06-06 17:41] Jeavon commented on #49
:+1:  This is going to be quite breaking for developers using processors in Umbraco which will now be disabled by default (.e.g. RoundedCorners), I'm guessing this new ImageProcessor version will at minimum be a dependency on Umbraco v7.5? /cc @Shazwazza @nul800sebastiaan

[2016-06-07 09:10] alexmbaker commented on #347
You may find something useful in https://github.com/Microsoft/Microsoft.IO.RecyclableMemoryStream

[2016-06-07 10:33] mrfatmen commented on #372
Hi Jim, Can you give a estimated release date?

[2016-06-07 10:39] JimBobSquarePants commented on #372
The code is finished but I cannot release without updating the docs. I'm gonna do my best to get them done tonight.

[2016-06-07 13:58] JimBobSquarePants commented on #389
New version now released :boom:

[2016-06-07 13:58] #389 closed

[2016-06-07 13:59] JimBobSquarePants commented on #383
New version now released :boom:

[2016-06-07 13:59] #383 closed

[2016-06-07 14:02] JimBobSquarePants commented on #377
I ended up adding a new event `ValidatingRequest` which allowed all services to intercept requests plus restricted all processor. Available in the new release now.

[2016-06-07 14:02] #377 closed

[2016-06-07 14:02] JimBobSquarePants commented on #374
Thanks for your help. New version now released :boom:

[2016-06-07 14:02] #374 closed

[2016-06-07 14:03] JimBobSquarePants commented on #372
New version now released :boom:

[2016-06-07 14:03] #372 closed

[2016-06-07 14:05] JimBobSquarePants commented on #369
I've decided that additional configuration to this extent would require a major version and as such is out of scope of the project just now. I will bear this in mind in the Core version though

[2016-06-07 14:05] #369 closed

[2016-06-07 14:06] JimBobSquarePants commented on #362
Fingers crossed this issue does not affect the new release.

[2016-06-07 14:06] #362 closed

[2016-06-07 14:07] #337 closed

[2016-06-07 14:07] JimBobSquarePants commented on #335
New version now released :boom:

[2016-06-07 14:07] #335 closed

[2016-06-07 14:09] JimBobSquarePants commented on #49
New version now released :boom:

Thanks everyone for their input. These kinds of conversations are awesome!

[2016-06-07 14:09] #49 closed

[2016-06-07 14:40] alastair-todd commented on #362
Yes that works. The lurgy has now jumped to Markdown 1.14.4.

Anything in particular was changed to fix that?

[2016-06-07 14:48] JimBobSquarePants commented on #362
Excellent!

I updated all the individual projects to use the latest Visual Studio build version. Other than that I've no idea what could have caused it unless there was a bug in the version of Nuget I was using to pack it.

I'm working from a fresh Windows install now.

[2016-06-07 14:54] alastair-todd commented on #362
well a forced install of Markdown + Automapper specific versions before Umbraco-cms has worked.

i had been installing umbraco first via VS 2013, then switching...actually less painful. i really dont like getting involved with nuget. its just supposed to work right?

[2016-06-07 15:11] JimBobSquarePants commented on #362
That's the idea yeah... Never had any positively identifiable issues.

[2016-06-07 16:26] kendallb commented on #377
Awesome, I will give it a look see!

[2016-06-09 13:26] michielpost opened #402 "Pre release of ImageProcessorCore on NuGet.org?"
With RC2 now available and ASP.net Core RTM in just a few weeks, are there any plans to publish a ImageProcessorCore package to the official nuget.org feed?

I know there's already a MyGet feed and using that currently. But it would help if the (pre release) package is also available on NuGet. Using it in more projects would be easier.

The readme says "when ready", but a pre release on NuGet, eve

[2016-06-09 14:40] JimBobSquarePants commented on #402
Hi there,

I'm loath to do so just now as I really haven't had enough feedback from the community as to the shape of the API and some of the core work. If I put it on Nuget, even in pre, people are going to use it in production environment despite me telling them not to.

I keep asking for code reviews in various forums but I simply am not getting any constructive feedback. Once I finally have som