[2016-06-09 14:59] michielpost commented on #402
Yes, if you really don't want people to use it in production yet, then not putting it on NuGet is probably the best idea.

We're currently only using it for getting the size of an Image and will start using resizing soon.

Adding it to the NuGet.config is pretty simple yes. But using a CI feed for a stable project feels wrong, but maybe that's exactly what you want :)

[2016-06-09 15:07] JimBobSquarePants commented on #402
Ooh er! I wouldn't go so far as saying it's stable yet ☺. I keep changing and adding API calls, it's only 2 months ago I switched to IDisposable also.

I do really need devs to start digging around in the code and double checking my approach. For all I know it could be idiotic as there's nothing out there to compare against.

[2016-06-09 18:55] Feasoron opened #403 "Center an Image for Blend"
If I am blending two images, say to add a logo to the middle of an image, it should be possible to  move the second image before blending. For example, if I am doing something like:

[code]

I would like to center it, rather than upper left hand corner. It is possible that that is what the version with Rectangle does, but reading the code and documentation I can't determine how it should be used.

[2016-06-10 09:46] JimBobSquarePants commented on #403
Took me a moment to realise you meant the new Core stuff there...

The overload with the rectangle means to only blend the certain part of the given image constrained by the given rectangle.

If you wanted to centre your watermark image you could use the Pad(width, height) method to pad the image out to the same size as its target.

[code]

Hope that helps

James

[2016-06-10 19:22] Feasoron commented on #403
That does! Sorry for not being more clear in my question, but that's doing exactly what I need now. I love the work you've done with this project - I know from experience porting to core is no small task.

[2016-06-11 00:48] corneliutusnea opened #404 "System.AccessViolationException doing a Resize"
Hi guys,

I'm getting an 'System.AccessViolationException' doing a resize of a JPG about 400k in size.

Crash is at ImageBase:153.
[code]

Original image size: 1306x979. New Image size: 200x200 with Pad.

Resize code is:
[code]

[2016-06-11 05:33] JimBobSquarePants commented on #404
Hi there, what version number are you running from myget? Would it be possible to share the image?

[2016-06-11 05:35] JimBobSquarePants commented on #403
That's great to hear! 😄 Yeah, this is certainly a massive learning experience.

[2016-06-11 05:35] #403 closed

[2016-06-11 08:37] corneliutusnea commented on #404
I tried with 1.0.0-alpha-860 from nuget and with latest source code straight from GH.
Any larger image will do. The issue I think is the dispose in ImageExtensions:169.
Code is disposing the incoming source object that is now owned by your method but it's the one I own so you should not be disposing it.
That happens at the end of the image.BackgroundColor() call. Then the second call to image.Resi

[2016-06-12 13:36] JimBobSquarePants commented on #404
Bugger... This is tricky... Every method returns a new image.

I'm making a copy so that if something goes wrong the original pixels can be returned. This is done throughout. If I don't dispose of the source then I get a memory leak as I create more and more copies.

I'll have to rethink this. Good thing it's alpha :smile:

[2016-06-12 19:40] azzlack opened #405 "Issue with animationprocessmode"
Every time animationprocessmode is added to the url, the query fails with a `The request could not be understood by the server due to malformed syntax` message. This happens whether the value is set to `first` or `all`.

It works perfectly with other queries like `width` or `height`, but `animationprocessmode` seems to crash the request.

Here is the full error:
[code]

and here is my config

[cod

[2016-06-13 08:52] JimBobSquarePants commented on #405
Why would you ever want to use that method with a jpg? `animationprocessmode` was never designed to be used on it's own and is specifically designed to be used when manipulating animated gifs to extract only the first frame for rendering.

[2016-06-13 09:58] JimBobSquarePants commented on #405
Requesting `animationprocessmode=all` is essentially a noop since that is the default behaviour for animated gifs. However, I'm going to allow it on its own in the release along with `animationprocessmode=first`.

[2016-06-13 10:23] JimBobSquarePants commented on #405
I've just popped out a release that fixes your issue. https://www.nuget.org/packages/ImageProcessor.Web/4.6.1

[2016-06-13 10:23] #405 closed

[2016-06-13 10:25] azzlack commented on #405
@JimBobSquarePants Thanks! I agree that it is unecessary for a jpg(png, but in this particular case I don't know the file type beforehand.

[2016-06-13 10:26] JimBobSquarePants commented on #405
No worries. Thanks for raising the issue :smile:

[2016-06-15 09:01] Vitalii-Efremov opened #406 "Quality for png files is not working"
Hello!

I used quality attribute for png files and It increased the file size.

For example, I have the original png image and this image has 1.7 Mb size. I set a quality attribute to 85 and ImageProcessor produced the file which has 2.0 Mb.

Original file (1.7 Mb)
![orginal](https://cloud.githubusercontent.com/assets/16013311/16073873/3e2f727c-32e8-11e6-85fc-7980a079b0bc.png)

Compressed file (2.

[2016-06-15 12:04] JimBobSquarePants commented on #406
Png files in System.Drawing have no concept of quality so this has no effect. I actually specify in the documentation that this method is for jpeg files only.

http://imageprocessor.org/imageprocessor/imagefactory/quality/

[2016-06-15 12:04] #406 closed

[2016-06-15 12:06] JimBobSquarePants commented on #406
The png encoder in System.Drawing also doesn't allow you to set the compression which is why images can sometimes be bigger.

[2016-06-15 12:18] Vitalii-Efremov commented on #406
Thank you, James!

Please, give me advice how I can compress png images. You are the pro in this questions, maybe you know some other libraries which can help me to compress png images.

[2016-06-16 09:16] DermotAtPimss opened #407 "ImageProcessor Unit Tests Fail on 'Framework' branch"
Hello,

I believe that the current version of ImageProcessor available via NuGet is from the 'Framework' branch.

Forgive me if I am wrong.

I have cloned the repository and switched to the Framework branch and tried running the unit tests in the 'ImageProcessorUnitTests' project. Three Unit Tests fail.

When I try to run the test 'ResizeIsApplied' on its own, this test also fails.

`System.Argume

[2016-06-16 09:42] JimBobSquarePants commented on #407
Hi there,

It's an odd one... I recently updated Nunit and since then I get intermittent failing tests when I run them all the same time. If I rerun any of those tests they always pass.

![tests](https://cloud.githubusercontent.com/assets/385879/16112322/38f154fc-33fa-11e6-9817-3d10edc5e111.png)

I'd like to see that section of failing code you have written if I can. System.Drawing doesn't return

[2016-06-16 10:38] DermotAtPimss commented on #407
Hi James,

Attached is the skeleton of a console application prototyping a requirement that an uploaded image should be no greater than 1Mb.

It is using the ImageFactory to perform a number of resizes and only fails with Gifs.

[Program.cs.txt](https://github.com/JimBobSquarePants/ImageProcessor/files/318186/Program.cs.txt)

[2016-06-17 09:19] JimBobSquarePants commented on #407
Thanks. I'll have a look as soon as possible :smile:

[2016-06-21 00:33] #404 closed

[2016-06-21 01:47] JimBobSquarePants commented on #404
@corneliutusnea That should be it fixed now. I need to do some research into how long the unmanaged pixels are held onto within the original source image before the GC collector kicks in though so if you have any advice on that please let me know.

[2016-06-21 02:26] corneliutusnea commented on #404
@JimBobSquarePants How long they stay in memory depends mostly on GC pressure and the type of GC. If you want to do a quick test use nbench to whip a memory pressure test https://github.com/petabridge/NBench

I've been thinking a lot about this if you should always return a new image or you should always edit the current image and there are some pros&cons.

Let's see if I get them right, and maybe

[2016-06-21 12:47] JimBobSquarePants commented on #404
Thanks for that, all good stuff.

The approach I'm trying to take is to return what becomes to the user, the same image but altered, internally switching out the image for a new one. There's a few places I could return the same image without switching but I will have to do some work to redefine filters and samplers within the framework. (I'm defining filters as anything that can operate on an imag

[2016-06-22 05:16] JimBobSquarePants opened #408 "ImageBase API design and unmanaged memory."
This issue stems from #404

In the current codebase the `ImageBase` class implements the `IDisposable` interface combined with  `GCHandle` to pin the pixels array in memory for the lifetime of the image. You can see that code [here](https://github.com/JimBobSquarePants/ImageProcessor/blob/16779a3ac82e4d9ca67d4b9dd318b443c12e0949/src/ImageProcessorCore/IImageBase.cs).

This has been done in order t

[2016-06-23 02:53] SamuelEnglard commented on #408
First let me answer your 3 questions:

1. I hate to use the line but... "It depends"
2. The unmanaged references are around till you get rid of them aka till `Dispose` is called. If you don't call it something else either has to or it will be around till the process dies.
3. There are really only two reasons a finalizer will not be called: The process exited before it could, in which case the memo

[2016-06-23 03:46] JimBobSquarePants commented on #408
Thanks for the input. I look forward to seeing what else you can add :+1:

[2016-06-23 04:03] xoofx commented on #408
In an old project [SharpDX.Toolkit](https://github.com/sharpdx/Toolkit), I used an [Image](https://github.com/sharpdx/Toolkit/blob/master/Source/Toolkit/SharpDX.Toolkit.Graphics/Image.cs) class and It was basically manipulating only a pointer to a buffer (managed or unmanaged).

Typically, if it was initialized with a managed byte[] buffer bigger than 85Ko, the buffer was pinned, otherwise it was

[2016-06-23 04:41] SamuelEnglard commented on #408
It's 12:33 AM here so take my advice with a grain of salt.

I would move all manipulation into it's own class that implements `IDisposable` and remove both `IDisposable` and the pinning from `ImageBase`. Then to manipulate an image you call `GetManipulator()` which returns this manipulation class. When it's created it pins the memory and needs to be disposed and has a finalizer.

Advantage to this

[2016-06-23 04:44] JimBobSquarePants commented on #408
Hi @xoofx,

Thanks for the info, that's very interesting to note. I didn't know about the size constraints.

I've not designed the API to interop with any GPU hardware (That's well outside my field of expertise) so I'm only expecting a single pixel format once I have decoded an image. It's a bit of a closed system really.

As far as the `IImageBase` interface is concerned, I only put that in there

[2016-06-23 04:51] JimBobSquarePants commented on #408
@SamuelEnglard I see what you're thinking there. A bit like my Lock/Unlock idea but using an `IDisposable` instance. That could work but kinda disassociates pixel manipulation from the image itself. I want to keep the API really simple.

[2016-06-23 04:51] aerionTech opened #410 "IImageService not working on localhost only IIS Express"
Hi, I have created a brand new test project and is installed ImageProcessor.Web .
I have created a new IImageService called TestImageService

It's a brand new MVC site using MVC 5.2.2

[code]

security.config

[code]

When i run this code and debug it using IIS Express my custom image is visible and works. When i change it to run using Localhost, all of a sudden i get a 404 page, when it previousl

[2016-06-23 04:56] SamuelEnglard commented on #408
@JimBobSquarePants I get that want but I think the cost is worth it, IMHO 😄

[2016-06-23 05:15] JimBobSquarePants commented on #410
Hi there,

I take it the 404 is thrown by this line?

[code]

[2016-06-23 07:55] JimBobSquarePants commented on #408
@xoofx @SamuelEnglard I'd like to thank you both very much for your input. I think I have this cracked now.

I'm introducing a new class called [`PixelAccessor`](https://github.com/JimBobSquarePants/ImageProcessor/blob/9b7174022ac6745534acff3ed69718d143e91e6f/src/ImageProcessorCore/PixelAccessor.cs) which pins the image array allowing access to the pixels like the `ImageBase` class did before.

Us

[2016-06-23 09:19] aerionTech commented on #410
No, i wish it was. I can't get a breakpoint to hit any code while I'm debugging.
Only on IIS Express i can step through it all.
It doesn't get into anything on localhost using normal IIS. nothing in Elmah logs as well as Stackify prefix.

[2016-06-23 17:19] JimBobSquarePants commented on #410
OK, the best way to debug what is going on then is to fork and download the source and add your `IImageService` implementation to the test website within the solution. That way you can step through  every line of code and we can figure out what is happening. You'll want to use the Framework branch.

Could you please do that and feed back to me?

[2016-06-23 19:05] JimBobSquarePants commented on #408
Gonna close this for now.

[2016-06-23 19:05] #408 closed

[2016-06-23 21:58] aerionTech commented on #410
http://localhost:61655/
with img tag of
[code]

GetImageServiceForRequest method checks if the path starts with the prefix.
[code]
http://localhost/ImageProcessor.TestWebsite/
where on localhost
[code]
and then this code  fails and does not return the service

[code]
because the path does not start with the prefix. This is failing on all custom image processor not running in IIS Express or under t

[2016-06-23 22:02] aerionTech commented on #410
It would probably be better to do a Replace At start only.
Something like the solution listed here would be a better choice http://stackoverflow.com/a/4335913
 than a replace all

[2016-06-23 22:36] JimBobSquarePants commented on #410
Ah... That's because your path is not rooted. This would never be an issue for any normal website so I haven't come across it before. I'll check out the link and run some tests asap. If you have the time to do PR yourself that would be most appreciated. Thanks!

[2016-06-24 01:09] neilw1 opened #413 "Alpha method causes system exception and no means of trapping error"
Hello,
I'm using the latest 2.4.1.0. Not quite sure how you can recreate this as it's sometimes random but it always happens...

I have a factory:
            private ImageFactory ifac;

It is populated by an image and I update it a few times:

[code]

The Alpha (it doesn't matter if I call it first in the list or last) method generates a System exception that cannot be caught:
An unhandled except

[2016-06-24 01:19] neilw1 commented on #413
Definitely seems to be time bases (so a threading issue?). If I go slowly in my calls to this method, it works fine. If I go slightly fast, it always fails with an untrappable fault, but only ever on Alpha.

[2016-06-24 05:05] JimBobSquarePants commented on #413
Hi there,

I cleaned up your code sample a little to make it more readable. Could you post a completeb sample so I can test it properly?

Cheers

James

[2016-06-24 06:49] neilw1 commented on #413
I've got a workaround, but that workaround shows the fault. The part of my
application that requires constant updates in quick succession does not
need alpha so when it is 100 in code I don't call it, as it's straight
after a reset.

So essentially the fault is calling alpha straight after a reset.

You can probably just copy my lines of code and stick then on a button?

Dunno if it makes a differ

[2016-06-24 07:06] perosb commented on #405
I'm getting the same error on gifs with the below
`/media/3549/giphy.gif?anyparamhere`
I'm I missing some new configuration? I have the latest 4.6.1 and the default "enabled".
This works on a 4.5.3 version.

[2016-06-24 09:54] xumix opened #414 "Unable to process some images after 2.3 > 2.4 upgrade"
Ver: 2.3.3.0 -> 2.4.1
4.5.3.0 -> 4.6.1.0
Prev version worked fine, after upgrade I get this:

[code]
[code]

[2016-06-24 10:19] xumix commented on #414
If I make url like this: http://localhost/media/technoparks/res/1085.jpg?upscale=false
The error becomes
[code]

[2016-06-24 21:53] JimBobSquarePants commented on #414
Can you send me the image please. I'd like to know why the gif encoder is kicking in working with a jpeg

[2016-06-24 21:55] JimBobSquarePants commented on #405
@perosb  Please don't hijack issues unless you have the exact same symptoms.

    /media/3549/giphy.gif?anyparamhere

Is this your url? How am I supposed to diagnose anything from that?

[2016-06-24 22:00] JimBobSquarePants commented on #413
That workaround is very useful thanks. I'll start digging.

[2016-06-24 23:03] xumix commented on #414
@JimBobSquarePants it's an actual gif image with jpg extension

[2016-06-24 23:04] xumix commented on #414
![1085](https://cloud.githubusercontent.com/assets/250118/16352657/160da2e4-3a79-11e6-87b6-e5b7c6b2a81c.jpg)

[2016-06-26 02:01] JimBobSquarePants commented on #407
Hi @DermotAtPimss I had a dig around and discovered two issues, one with the unit tests themselves and one with the the `Reset()` method on `ImageFactory` I just ran your code with the current  codebase on the Framework branch and all is good. I'll have a new release out soon.

[2016-06-26 02:05] JimBobSquarePants commented on #406
Hey @Vitalii-Efremov  Apologies for the slow reply, I was travelling out of the country.

Yeah, there's [pngquant](https://pngquant.org) which you could use. I actually have source code showing how to call it from the command line in my postprocessor plugin.

https://github.com/JimBobSquarePants/ImageProcessor/blob/4c030bfa70ef58e212335269ea1311b5191efe5a/src/ImageProcessor.Web.Plugins.PostProcess

[2016-06-26 21:29] aerionTech commented on #410
I've made the code update and the pull request, I think you were notified @JimBobSquarePants

[2016-06-26 22:50] JimBobSquarePants commented on #410
Yeah thanks for that. Very, very much appreciated... I need to test that PR first before I can merge it though which I've not had the chance to do yet, fingers crossed new releases today.

[2016-06-27 00:36] JimBobSquarePants commented on #414
Fix and released.

Just to note, that parameter is only valid in conjunction with either height or width. That is why the second error is thrown and is by design.

[2016-06-27 00:36] #414 closed

[2016-06-27 00:37] JimBobSquarePants commented on #413
Fixed and released

[2016-06-27 00:37] #413 closed

[2016-06-27 00:37] JimBobSquarePants commented on #410
Fixed and released. Thanks for your help! :+1:

[2016-06-27 00:37] #410 closed

[2016-06-27 00:37] JimBobSquarePants commented on #407
Fixed and released. Thanks for raising the issue.

[2016-06-27 00:37] #407 closed

[2016-06-27 00:44] aerionTech commented on #410
No Problems, Do I take the framework branch and build it to get the DLL's? I initially found the project via Nuget.

[2016-06-27 02:02] JimBobSquarePants commented on #410
Nah... There's a new download on Nuget v4.6.2.

https://www.nuget.org/packages/ImageProcessor.Web/

[2016-06-27 04:14] aerionTech opened #415 "Replace all instances of request.Path with new code"
Hi,
I pulled the newest update of the newget package and got it running that code fix worked however there is more spots in code where the same problem is occuring e.g
ImageProcessingModule
[code]

These and other instances will also need to be replaced. When i do a test build and replace it using similar code The iamges load correctly however the above code generates the following error
[code]

W

[2016-06-27 04:24] aerionTech commented on #415
Forgot to mention this is for the first request to every url. after the first one the image loads correctly.
Hopefully it wont take too long to update all isntances or locations where the url is being processed

[2016-06-27 04:35] JimBobSquarePants commented on #415
Can you test and submit a PR with all the required changes then please.

I was under the impression that you had already tested your PR that you had submitted given the urgency in which it appeared you wanted the code changes deployed.

[2016-06-27 04:45] aerionTech commented on #415
I Had tested that code and that exception hadn't been raised in the tests only know that i got it working on the project i'm currently on. I'll do a change and test on all request.path tomorrow

[2016-06-27 05:03] JimBobSquarePants commented on #415
That would be brilliant if you could. I appreciate that catching all  issues can be tricky (I have missed too many countless times). I look forward to seeing your PR :+1:

[2016-06-27 06:48] xumix commented on #414
Great, thank you!

[2016-06-27 07:55] neilw1 commented on #413
Thanks. Looks like a lot of changes 😧

When will it be up on nuget as a binary?

[2016-06-27 08:02] JimBobSquarePants commented on #413
It already is.

http://www.nuget.org/packages/ImageProcessor/

[2016-06-27 09:16] ststeiger opened #416 "It lacks WEBP support"
You should add support for the WEBP image format (according to readme.md).
That's basically 24-bit color animated gifs with transparency.
A successor to the .gif format.
https://developers.google.com/speed/webp/
https://en.wikipedia.org/wiki/WebP

There is some C# handling-code here:
https://webp.codeplex.com/
something to build on, perhaps, not that you start from scratch when you don't have to.

[2016-06-27 09:18] neilw1 commented on #413
That is magnificent. Thanks.
On 27 Jun 2016 9:02 a.m., "James Jackson-South" <notifications@github.com>
wrote:

[2016-06-28 00:57] JimBobSquarePants commented on #416
Hi @ststeiger What lacks WebP support, the new core library?

Could you please be more specific, remember, tickets have to be accessible to all users independent of their knowledge of the repo.

WebP support is available in the Framework release by installation of the plugin [ImageProcessor.Plugins.WebP](http://www.nuget.org/packages/ImageProcessor.Plugins.WebP/) This obviously only enables WebP o

[2016-06-28 00:57] #416 closed

[2016-06-28 07:57] #398 closed

[2016-06-28 18:44] neilw1 commented on #413
Hello,
I'm afraid it doesn't work. Well, it's either this release or a version after 2.3.3.0 which was my last one.

As soon as you call the hue method (e.g. ifac.Hue(0)) it is adding a positive hue to the image and turning everything reddish. It looks like you've got an index offset issue as it's the equivalent of calling 1 not 0. In my case it is pictures of people and they all get a red face :)

[2016-06-28 18:45] neilw1 opened #417 "#413 fault"
Hello,
 I'm afraid it doesn't work (the update to fix Alpha). As soon as you call the hue method (e.g. ifac.Hue(0)) it is adding a positive hue to the image and turning everything reddish. It looks like you've got an index offset issue as it's the equivalent of adding 1 to the hue. In my case it is pictures of people and they all get a red face :)

[2016-06-28 18:47] neilw1 commented on #417
what I mean is, if I apply Hue(-1) then the image is as it was loaded. When you call Hue(0) it becomes Hue(1) out of your code.

[2016-06-28 19:00] neilw1 commented on #417
I can't recall testing it with other versions, I was doing so much work but it's definitely not an issue 2.3.3.0

In hue.cs could this be the problem, when you merged the rotate and degree code?

    if (this.ShouldProcess && degrees > 0)

[2016-06-28 19:06] neilw1 commented on #417
Yep, I've retried 2.4.1.0 and all is well. Use 2.4.2.0 and it effectively applies +1 to whatever hue you pass in, e.g. Hue(0) becomes Hue(-1). So in code if I due .Hue(data.Hue-1) it works as normal.

Hope this helps.

[2016-06-28 22:53] JimBobSquarePants commented on #417
Hi there. I have a few questions for you.

Firstly. Did you read the [contribution guidelines](https://github.com/JimBobSquarePants/ImageProcessor/blob/Core/contributing.md) that are highlighted to you every time you raise an issue?

Secondly. How is this issue related at all to issue #413 ? At no point in that issue do you mention the hue calculation being an issue. Issue #413 is a `System.Argume

[2016-06-28 22:53] #417 closed

[2016-06-29 08:40] mattwarren commented on #347
Have you added the [BenchmarkDotNet.Diagnostics.Windows](https://www.nuget.org/packages/BenchmarkDotNet.Diagnostics.Windows) package to your project as well?

[2016-06-29 09:10] neilw1 opened #418 "2.4.2.0 apply a positive hue to all images when Hue is called"
Hello,
In the latest version 2.4.2.0 it seems to have created a bug with Hue by applying an increment of 1 to Hue when you call the Hue method.

All was well in 2.4.1.0. I raised a fault relating to an Alpha bug and subsequently a release was made. I downloaded and tried. Whether the two are related I have no idea but simply it was working in 2.4.1.0 and not in the release made the following day t

[2016-06-29 09:18] neilw1 commented on #417
Because it was OK in the previous version and not the next day, so I
presumed the only change was to this bug I raised.

Simply apply hue of zero to an image and it gets modified with a hue of 1,
ie it alters the original to a reddish tint.

I've create a new case instead.
On 28 Jun 2016 11:53 p.m., "James Jackson-South" <notifications@github.com>
wrote:

[2016-06-29 23:50] crohkohl opened #419 "Heap Corruption in 2.4.2"
I run the following code repeatedly very often:

[code]

With the nuget package 2.4.1 everything works fine.
After an update to version 2.4.2 running the same code results in a heap corruption after some time.

There must have been some change between the two versions causing this behaviour.

[2016-06-30 01:07] JimBobSquarePants commented on #419
I'll have to do a diff but the only change of any significance is in the `Reset` method where I was incorrectly not resetting the current image format.

[2016-06-30 03:58] JimBobSquarePants commented on #287
Just a heads up to say I'm still playing around with different pixels formats here

https://github.com/JimBobSquarePants/ImageProcessor/tree/14be25789f2d8cbfc10b39557e63b60819d393ef/GenericImage

[2016-06-30 04:11] JimBobSquarePants commented on #347
@mattwarren Yeah I do. Here's the message. I'll open an issue if you like.

[code]

[2016-06-30 15:44] neilw1 commented on #419
I'm getting issues with 2.4.2 (but I raised another issue for this, I just wanted to see if it might have any bearing/or help with your fault) specifically the image factory Hue method is not working and ends up setting the wrong value.

[2016-06-30 20:29] manu-rv commented on #260
I wanted to understand the code base before moving to complex features.
Since this is unassigned, I would like to take up this feature.

[2016-07-01 00:20] JimBobSquarePants commented on #419
@neilw1  I don't think that will be related but I'll have to dig around.

@crohkohl  I'm not touching anything _I think_ in the unmanaged realm using those methods but I'll double check.

[2016-07-01 00:23] JimBobSquarePants commented on #260
@manu-rv Awesome! Most of the code is there already but still need the additional white point work added.

[2016-07-01 00:57] JimBobSquarePants commented on #419
@crohkohl Do you have any detail on the exact error message?

[2016-07-01 05:41] JimBobSquarePants commented on #418
I think this is actually a rounding error in some internal custom color translation.

[2016-07-01 22:09] danijel-peric commented on #347
my test for resize, used jpeg image 960x540 and resized it to 320x240, code

` using (MemoryStream inStream = new MemoryStream(Image))
                using (MemoryStream outStream = new MemoryStream())
                    using (ImageFactory imageFactory = new ImageFactory())
                        imageFactory.Load(inStream).Resize(new Size(320, 240)).Format(new JpegFormat { Quality = 50 }).Sav

[2016-07-01 22:28] gradha opened #420 "Error loading images in statically linked osx binary"
I'm trying the following test code:
[code]
After building in xamarin studio I can run the binary from the commandline with:
[code]
Then I try to create a statically linked binary with the following shell script:
[code]
The binary is generated, but when I try to run it an exception is raised:
[code]
My guess is that the static linking missed the jpg image format being dynamically loaded. Any sugges

[2016-07-02 15:43] dlemstra commented on #419
Maybe this is related to the PixelAccessor you introduced in the last version?

[2016-07-02 18:27] crohkohl commented on #419
It is a standard heap corruption - mostly difficult to debug due to some
invalid memory accesses.
Maybe there is a problem with thread-safety? I run my code in
Parallel.ForEach(); statement?

2016-07-02 17:43 GMT+02:00 Dirk Lemstra <notifications@github.com>:

[2016-07-02 23:38] JimBobSquarePants commented on #419
@dlemstra That's actually the new Core code the `PixelAccessor` was added to, the issue is in the Framework ImageFactory branch. I am concerned though about my `FastBitmap` class though as one of my unit tests is suddenly repeatedly failing complaining that I am attempting to access protected memory. I don't know whether it is a test issue as I can run the code in my playground project just fine b

[2016-07-02 23:52] JimBobSquarePants commented on #347
Hi @danijel-peric

Thanks for your info but you're actually benchmarking the wrong codebase. This issue has been raised specifically for ImageProcessor.Core.

There's going to be some overhead using the legacy `ImageFactory` code as I copy the image over to a new pixel format when loading. If you were going to benchmark you should be benchmarking the `Resize` method only. There is absolutely no pa

[2016-07-03 01:00] rold2007 commented on #347
@danijel-peric : Also, make sure you compare apples with apples. Resize methods like nearest neighbor and bicubic have a very different speed, and quality. But I'm not even sure what ImageProcessor is using.

[2016-07-03 07:25] danijel-peric commented on #347
:), it looks i have tested with old ImageFactory which was on https://www.nuget.org/packages/ImageProcessor

sorry, will do another test with ImageProcessor.Core, so in order to get it i need to download source? and build it, do you have binary files somewhere for download?

[2016-07-03 15:47] YovavGad commented on #414
Just had the same issue, the new version fixed it, THANKS Jim!

[2016-07-03 16:30] YovavGad commented on #414
I found out that an exception is still thrown if you .Format() first and then .Resize like this:

`imageFactory.Load(inStream.ToArray()).Format(formatResizeMemoryReusable).Resize(resizeLayer).Save(inStream);`

But it works just fine if using:

`imageFactory.Load(inStream.ToArray()).Resize(resizeLayer).Format(formatResizeMemoryReusable).Save(inStream);`

`An unhandled exception of type 'System.Acce

[2016-07-03 21:39] SamuelEnglard commented on #287
As I mentioned to @JimBobSquarePants on slack, and possible solution would be having the actual backing data type be opaque. To show how this could be done I've created a simple prototype of `Number` on gist https://gist.github.com/SamuelEnglard/0c2a10ea13dae8a58fd7007289f84b60

[2016-07-03 23:00] JimBobSquarePants commented on #414
Ah @YovavGad that info is vital thanks! I've uncovered that access issue in #419 but I didn't have a decent stacktrace.

[2016-07-03 23:21] YovavGad commented on #414
Thank you for an awesome project Jim! :+1:

[2016-07-04 03:52] HelloKitty commented on #287
While I don't personally do any image processing did the potential solution I suggested earlier not pan out?

The idea is outlined by Marc Gravell and implemented in Jon Skeet's MiscUtil lib. It should allow for you to create performant generic pixels like Pixel<T> and have T switch between byte, short, int and whatever you'd like.

This may be what you want http://www.yoda.arachsys.com/csharp/gen

[2016-07-04 04:09] SamuelEnglard commented on #287
@HelloKitty What I and @JimBobSquarePants have been working on is actually based on Marc and Jon's work there!

[2016-07-04 04:16] JimBobSquarePants commented on #287
@HelloKitty @SamuelEnglard  Yeah, I think we might be onto something and would absolutely love to crack it. Need to take some time to look over it properly though.

 Toughest issue is probably talking to decoders/encoders in a simple generic way I would imagine.

[2016-07-04 04:20] SamuelEnglard commented on #287
@JimBobSquarePants Want to hop on Slack to talk about the gist? Or do it here?

[2016-07-04 04:24] JimBobSquarePants commented on #287
@SamuelEnglard   Will hop on but we should make sure all comms are also public.

[2016-07-04 07:50] JimBobSquarePants commented on #420
Hi @gradha apologies for the slow reply on this.

The image formats are being dynamically loaded by typefinding code within startup so I imagine that is what is causing the issue.

https://github.com/JimBobSquarePants/ImageProcessor/blob/53a3f6c5588d1012925b2959ca7fcf7e8595c60a/src/ImageProcessor/Configuration/ImageProcessorBootstrapper.cs#L71

I have literally zero experience with static linking

[2016-07-04 08:14] scottgerring opened #422 "[framework] ImageProcessorBootstrapper not finding WebP plugin"
Hi,

I've got a simple asnet5 web app set up, and have been using ImageProcessor to convert from PNG to WebP on the fly - which works great!

When I try and convert the other way around - read WebP and output PNG - I get unsupported format exception:

[code]

It looks like **ImageProcessorBootstrapper** is failing to discover the WebP plugin when it is initialised, returning only the built-in form

[2016-07-04 17:34] SamuelEnglard commented on #287
I've updated the Gist. Main differences are that I've made improvements to memory usage, I've cut down on repeated code a lot, I added code to make it useable with unmanaged memory, and I started added methods to supplement the `Math.*` methods. I really think my `Number` idea could be the answer

[2016-07-05 00:21] JimBobSquarePants commented on #408
@xoofx I have a question if I may about memory alignment.

I've just realized in my code that I am not actually copying the array if the buffer size is less than 85 within my PixelAccessor.

I've had a dig through SharpDX to see how best to do this but I can't wrap my head around the memory alignment stuff.

https://github.com/sharpdx/SharpDX/blob/e4e820ea5d1fcd98fe4199be299b5de4831d6758/Source/Sh

[2016-07-05 00:32] JimBobSquarePants commented on #287
@SamuelEnglard I agree; the progress you have made is excellent. If you are keen I'd like to give you direct access to the repository so we can work together on a branch that would implement this. What do you think?

[2016-07-05 00:48] JimBobSquarePants commented on #422
Hi Scott,

First off I'd like to say I'm really recommending developers **not to use the ImageProcessor Framework library on Asp.NET Core based projects**. There's simply too many unknowns to cater for and I am writing the **ImageProcessorCore** library to specifically cater for that environment.

The failing is most likely due to a change in how binaries are stored within a Asp.Core based applica

[2016-07-05 03:30] yufeih commented on #287
@JimBobSquarePants Did you consider support platforms where dynamic expression compilation is not available? like Xamarin iOS.

[2016-07-05 04:52] JimBobSquarePants commented on #287
@yufeih I'm only planning on supporting anything that runs .NET Core.

According to this IOS and Android both should be possible.

https://msdn.microsoft.com/en-us/library/dn878908(v=vs.110).aspx

Is there something specific you have flagged?

https://developer.xamarin.com/guides/ios/advanced_topics/limitations/

[2016-07-05 04:58] yufeih commented on #287
In the ios limitations page:

**The System.Reflection.Emit is not available**, which means dynamic expression compilation technique described at http://www.yoda.arachsys.com/csharp/genericoperators.html is not likely to work on an iOS device.

[2016-07-05 05:06] yufeih commented on #287
OK, after looking at @SamuelEnglard 's gist, it does not use expression compilation, which solve the problem of running everywhere. Performance wise, it might be slow.

[2016-07-05 05:18] JimBobSquarePants commented on #287
@yufeih @SamuelEnglard Yeah we'll need to benchmark the hell out of it to see if it is usable.

[2016-07-05 09:19] xoofx commented on #408
Memory alignment is not really a requirement, so you don't have to worry much about it. It helps mostly to ensure that pixels will fit into the same L1 cache line and don't cross over. It can help also for SIMD access that can be faster if data is aligned on a 16 bytes boundary. But recent processors will often hide the problem, so you could not notice an impact of it (but it can happen in some  m

[2016-07-05 09:28] JimBobSquarePants commented on #347
Yeah, they're on MyGet, you can see it in the readme. There's benchmark tests in the source though.

[2016-07-05 11:41] JimBobSquarePants commented on #408
@xoofx Thanks for that.... I've been trying for a wee while now to get the allocation and copying working but it doesn't seem to be working could you give me some pointers (pun intended :smile:).

[code]

[2016-07-05 12:27] xoofx commented on #408
Not sure if you are working in 64bits, but the AllocateMemory in SharpDX Toolkit had a bug and it should be actually `var ptr = (ulong)((float*)memPtr + sizeof(void*) + mask) & ~(ulong)mask;`

Also, if you use a Lock/Unlock pattern, GCHandle/pin the array should be ok, as long as the PixelAccessor is mostly used for a relative short period of time (for buffers < 85kb) and because you are using 4 f

[2016-07-05 13:40] JimBobSquarePants commented on #408
Thanks for that. I've ditched the copy now then as pinning only lasts for the time it takes to loop through the pixels.

Switching to a `Color[]` buffer was an excellent idea. It looks like I've bumped performance up as a result of switching that out..

[2016-07-05 15:44] SamuelEnglard commented on #287
@yufeih I would note that on platforms where dynamic expression compilation isn't available, it would fall back to interpolation. So the code would still work, just slower.

While I admit I have not run benchmarks on it (mostly from lack of any idea what a good test would be) it should perform well. Biggest issue it would have is that currently the way I store the actual backing type isn't great.

[2016-07-05 18:49] nueverest opened #423 "Unsure what to include (newbie)"
What using statement(s) do I need to get the correct `Image` class?

I can't seem to get this code from the readme working.

    Image image = new Image(stream);
    image.Resize(image.Width / 2, image.Height / 2)
         .Greyscale()
         .Save(output);

I tried `using System.Drawing` but that didn't work.  It must be something simple, but I just don't know what to try.

[2016-07-05 20:11] nueverest commented on #423
I found another way by modifying the example in the [documentation](http://imageprocessor.org/imageprocessor/imagefactory/), and sleuthing out the correct using-statements.  Maybe it will help others. This will save the resized image to disk which is my basic use case.

    using System.IO;
    using ImageProcessor;
    using System.Drawing;

    string input_file = @"C:\path\to\image.png";
    st

[2016-07-05 20:11] #423 closed

[2016-07-05 23:20] JimBobSquarePants commented on #423
Hi @nueverest, Welcome and I'm glad you solved your issue!

I can imagine that there is a lot to take in when looking at the library for the first time.

The first code example you listed when opening the issue is specific to the new **ImageProcessorCore** library as specified in the readme. The second example from the website is from the **ImageProcessor** Framework library.

I've tried to make t

[2016-07-06 07:02] SamuelEnglard commented on #287
Updated the Gist again. I continued performance work I started before and I think I solved the issue of how I'm storing the backing data.

[2016-07-06 07:17] JimBobSquarePants commented on #287
Excellent. I've got another Idea I'm playing with that uses packed vectors to store the image data. I think it might work also and will share asap. I'm killing myself bit-shifting just now though.

[2016-07-06 09:00] piehouserat commented on #402
Hi James,

Have you seen this project? https://github.com/imazen/imageflow

They seem to imply that the vast majority of other on-the-fly image manipulation frameworks are full of security holes and have performance issues. Might be worth having a look to see if they've actually got something there or have a laugh at their claims...

[2016-07-06 11:07] JimBobSquarePants commented on #287
@SamuelEnglard Before you go too far down the rabbit hole I'd like you and @yufeih to have a look at this. https://github.com/JimBobSquarePants/ImageProcessor/tree/e8d174508130e99cb9152e3c6dad690232425075/GenericImage

I've made some good progress and would now be able to convert to and from bytes fairly easily in a generic manner which would allow the existing formats to communicate with them. Wi

[2016-07-06 12:00] SamuelEnglard commented on #287
@JimBobSquarePants The idea looks sound, though I don't see a way to do byte based pixels in it

[2016-07-06 12:10] JimBobSquarePants commented on #287
@SamuelEnglard The Rgba32 format packs the 4 bytes into a `uint`. You can pack them using `PackBytes(x,y,z,w)` and recover the byte array using `ToBytes()`. Manipulating each component can be done via `ToVector4()` which is what we would use in the various algorithms.

Does that make sense?

[2016-07-06 12:13] SamuelEnglard commented on #287
@JimBobSquarePants Ok, now I see it. The setting via floats threw me off. So how would you allow float based images?

[2016-07-06 12:25] JimBobSquarePants commented on #287
@SamuelEnglard  This is one thing I'm trying to figure out.... I don't know how to pack 4 floats and retrieve them without first clamping the value. A loss of precision is acceptable but a loss of range is not.

Once I crack that I can support HDR image formats also.

All file formats I know of use bytes for actual storage which is why I added those other methods.

[2016-07-06 12:41] SamuelEnglard commented on #287
Maybe do it how I did in my `Number` type? I just "store" the internal bytes that make up the floats

[2016-07-06 12:51] JimBobSquarePants commented on #287
That might work yeah.... I have been told that GPU's support the concept of half-floats 16bit ones so my money is that there is something within MonoGame we can steal.

[2016-07-06 13:41] SamuelEnglard commented on #287
@JimBobSquarePants That might work, though you're outside my skill set now :)

[2016-07-06 14:09] simoazzo opened #424 "Accessing images with remote.axd from subdomain"
Hi guys,

I have an issue where I getting images from another place, using the remote.axd.

From the staging url (http://www.staging.com/remote.axd?http://www.remax-malta.com/UserImages/24/large/L_878263c333524b61bb336ed6eba363a2_iList.jpg?anchor=center&mode=crop&width=1358&height=800&rnd=131081472090000000?entropycrop=250&width=1358&height=800&mode=crop) WORKING FINE.

Now, we have gone live and

[2016-07-06 14:49] JimBobSquarePants commented on #424
Im afraid t doesn't work in subdomains... Yet... Waiting on a PR

See #415 and #410

[2016-07-06 15:11] simoazzo commented on #424
Hi JImBob,

thanks for you reply.
Not the remote.axd, but the general image processor is not working.

Are there any solution?

[2016-07-06 15:32] simoazzo commented on #424
Hi JimBob,

It is strange because the www is also a subdomain.

So how come http://www.staging.com is working and http://www.mysite.remax-malta.com is not working?

Thanks

[2016-07-06 16:36] gdoron opened #425 "IndexOutOfRangeException when trying to crop an image to dimensions bigger than it's"
The issue can be caught a lot sooner and give a clearer error and save some CPU time.

System.IndexOutOfRangeException: Index was outside the bounds of the array.
 at ImageProcessorCore.Formats.JpegEncoderCore.emitHuffRLE(huffIndex h, Int32 runLength, Int32 v)
 at ImageProcessorCore.Formats.JpegEncoderCore.writeBlock(Block b, quantIndex q, Int32 prevDC)
 at ImageProcessorCore.Formats.JpegEncoderCo

[2016-07-06 22:48] JimBobSquarePants commented on #425
Thanks! Yeah, still lots of sanitation work to happen yet. Should be easy enough to trap.

Just checking... You used the Crop() method not the CropProcessor yeah?

[2016-07-06 22:53] gdoron commented on #425
Correct, it was `Crop`.

To be honest, it seems like an **awesome!** library, but really lacking of documentation.
 I tried for hours to figure out how I can take an image and convert it to a thumbnail.
 Meaning, crop it from the sides so it will be square and and resize it to be 150px*150px.

 I literally tried that for most of the day.
 It's a shame, because it really looks like the best tool we

[2016-07-07 00:23] JimBobSquarePants commented on #425
The new stuff isn't documented yet as it is still a very early alpha. That's why it's only available on Myget for now. Please don't use it for production yet as there is still a lot to do and there's a very strong  possibility I will be changing the API a wee bit very soon.

Also... That's really nice of you to say! I'm really hoping that once it's ready for release it will be second-to-none for e

[2016-07-07 00:37] gdoron commented on #425
@JimBobSquarePants Ohhh, O.K.
BTW, I still didn't figure out how to do that, so I'll be really grateful if you can give me a hand here :smile:

**Thank you for the contribution!**

[2016-07-07 02:55] JimBobSquarePants commented on #425
My pleasure. :smile:

You want to resize to those dimensions cropping the excess if they overlap yeah?

This would do that.

[code]

[2016-07-07 02:56] JimBobSquarePants commented on #419
That was reaaaaaaally tricky to debug and fix but I've cracked it. Should get a wee performance boost also.

[2016-07-07 03:13] JimBobSquarePants commented on #415
Hey @aerionTech it looks like the two extra places you spotted the issue were the only issue. Just successfully pulled remote images using the following url. Will have a fix out soon.

localhost.imageprocessor.test.com

[2016-07-07 03:29] JimBobSquarePants commented on #424
It's all in the number of periods in the url. The HttpModule wasn't correctly mapping the application path.

I've just pushed a fix testing against both
- `.imageprocessor.foo.bar.baz.com`
- `www.imageprocessor.foo.bar.baz.com`

and it now works perfectly.

I'll get a release out soon.

[2016-07-07 03:50] aerionTech commented on #415
ok cool. Sorry I have been held up on project and hadn't been able to get onto the pull request yet. I had it scheduled for this sprint.

[2016-07-07 03:54] JimBobSquarePants commented on #420
I've added a new method which allows statically adding image formats for your scenario. This will be in the next release which I will release asap.

[code]

[2016-07-07 03:55] JimBobSquarePants commented on #422
I've added a new method which allows statically adding image formats for your scenario. This will be in the next release which I will release asap.

[code]

[2016-07-07 03:56] JimBobSquarePants commented on #415
That's no problem at all. I had a free moment to look at this and a few other issues.

[2016-07-07 04:24] aerionTech commented on #415
Thanks and Great work on the library.

[2016-07-07 06:55] gdoron commented on #425
Thanks a ton! 👍👍👍

[2016-07-07 08:50] simoazzo commented on #424
Acutally, my url is mysite.remax-malta.com

[2016-07-07 08:57] JimBobSquarePants commented on #424
@simoazzo It shouldnt really matter what the url is now. ImageProcessor.Web will read it correctly.

To answer your other question I need to perform a full set of tests before I release the new version. I'll try and run those tests this evening.

[2016-07-07 11:47] JimBobSquarePants commented on #424
New release available on Nuget now.

[2016-07-07 11:47] #424 closed

[2016-07-07 11:47] JimBobSquarePants commented on #422
New release available on Nuget now.

[2016-07-07 11:47] #422 closed

[2016-07-07 11:48] JimBobSquarePants commented on #420
New release available on Nuget now.

[2016-07-07 11:48] #420 closed

[2016-07-07 11:48] JimBobSquarePants commented on #419
New release available on Nuget now.

[2016-07-07 11:48] #419 closed

[2016-07-07 11:49] JimBobSquarePants commented on #418
New release available on Nuget now.

[2016-07-07 11:49] #418 closed

[2016-07-07 11:49] JimBobSquarePants commented on #415
New release available on Nuget now.

[2016-07-07 11:49] #415 closed

[2016-07-07 13:18] scottgerring commented on #422
This is great, thanks! Pulling now.

[2016-07-07 13:45] JimBobSquarePants commented on #422
Good luck!

[2016-07-07 15:58] Bartmax opened #426 "Exif images. Read image orientation"
I'm using this library on production, i know... i know.. but it works great! and AFAIK is the only working library for NET Core :)

I was wondering, uploading images from a phone/device that has exif information about the orientation. It is possible to read that data now and adjust/rotate accordingly? I don't think this is supported now, but since I'm not sure I prefer to ask.

Thanks,

[2016-07-07 16:59] mattwarren commented on #347
@JimBobSquarePants I'm sorry I never replied to your [previous comment](https://github.com/JimBobSquarePants/ImageProcessor/issues/347#issuecomment-229555079).

Yes if you could open an issue that would be great, otherwise I'll forget about this problem!!

Also if you can point me so a (simple) test project that repos the issue that would also be helpful.

[2016-07-07 20:42] Grebe-M commented on #347
I did some tests regarding the crop function and it really shows that the benchmarks should test for different image sizes:

I ran three crop variations:
1 - The current implementation
2 - The slightly modified version with Array.Copy

    Parallel.For(
        startY,
        endY,
        y =>
    {
         Array.Copy(
            source.Pixels,
            (((y + sourceY)*source.Width) + (star

[2016-07-07 20:42] aerionTech commented on #415
Thank you. That's awesome.

[2016-07-07 21:10] Grebe-M commented on #342
Regarding the "Passing position dependent parameters": I think a clean and common solution for this problem is to allow to set a ROI on the image so only the region covered by the ROI is processed. This is like a (almost free) in-place crop of an image.
For non rectangular shapes a (binary) mask image is passed as an additional argument. The processing function then checks if the corresponding pix

[2016-07-07 22:50] aerionTech commented on #415
HI Just updated the nuget package seems to still be a problem when running under localhost/testWebsite

Invalid file name for file monitoring: '.axd/3-.jpg'. Common reasons for failure include:
- The filename is not a valid Win32 file name.
- The filename is not an absolute path.
- The filename contains wildcard characters.
- The file specified is a directory.
- Access denied.

where 3-.jpg is our

[2016-07-07 23:56] JimBobSquarePants commented on #415
No idea I'm afraid, cannot replicate.

I've never had anyone using this url structure before with ImageProcessor and I don't even know how to mimic it with IIS.

Can pull the source, test it and submit a PR please as that is the only way this is going to get fixed.

[2016-07-08 00:33] JimBobSquarePants commented on #287
@SamuelEnglard @yufeih I have a working example of a truly generic image proof-of-concept that could potentially handle any pixel format you want to throw at it. I invite you both to check it out. I've just configure it to use Bgra32 for now.

https://github.com/JimBobSquarePants/ImageProcessor/tree/369a59330765de72829d5b2e6eec83cdb18a3f03/src/ImageProcessorCore

The downside is that at the moment

[2016-07-08 01:39] JimBobSquarePants commented on #426
Eeeeeeeeeeeeeeeeeeeeeeeeeeep!

![scurrd](https://cloud.githubusercontent.com/assets/385879/16674902/dcaeb8ee-44ff-11e6-9c43-02daed6eb18a.gif)

There's an open PR that would add EXIF support https://github.com/JimBobSquarePants/ImageProcessor/pull/357

Unfortunately it seems that @stbraley has been caught up with other work which is understandable. He's made excellent progress so far so hopefully i

[2016-07-08 04:19] JimBobSquarePants commented on #347
@Grebe-M That's some really interesting stats! Thanks for taking the time to produce them. Very cool to see the advantage we have on larger images.

The benchmarking needs a lot of work but I'm going to need help putting it all together. If you or anyone else can devote the time to help me do so that would be very much appreciated. It would give me the confidence to push the project further out of

[2016-07-08 04:20] JimBobSquarePants commented on #347
@mattwarren Thanks, I'll see if I can rustle something simple up over the next few days to repeat my issue.

[2016-07-08 05:38] SamuelEnglard commented on #287
@JimBobSquarePants I'll give it a look. Do you know why it slows down?

[2016-07-08 07:13] JimBobSquarePants commented on #287
@SamuelEnglard  Cheers, Yeah it looks like it is the getters and setters for accessing pixels.

https://github.com/JimBobSquarePants/ImageProcessor/blob/369a59330765de72829d5b2e6eec83cdb18a3f03/src/ImageProcessorCore/PackedVector/Bgra32.cs#L89

https://github.com/JimBobSquarePants/ImageProcessor/blob/369a59330765de72829d5b2e6eec83cdb18a3f03/src/ImageProcessorCore/PixelAccessor/Bgra32PixelAccessor.

[2016-07-08 07:20] yufeih commented on #287
@JimBobSquarePants
`return *(this.pixelsBase + ((y * this.Width) + x));` this line turns a struct into an interface, which boxes every pixel.

[2016-07-08 07:57] SamuelEnglard commented on #287
@JimBobSquarePants as @yufeih said, that is what is most likely killing perf. You'll note in my code I took create pains to prevent any boxing. Also note that interface dispatching will be slower too since it isn't direct.

[2016-07-08 08:25] JimBobSquarePants commented on #287
Thanks both of you. Thought it would be that... Was by far the weakest link in the code. So how can we fix that? Is there something we can combine from your gist or a better way to allow a concrete approach?

I think we're super close to something awesome.

[2016-07-08 08:46] SamuelEnglard commented on #287
@JimBobSquarePants A quick thought would be to replace the IPackedVector with a "special" struct that hides what's in it

[2016-07-08 08:55] mattwarren commented on #347
@Grebe-M I don't if you are aware of not, but BenchmarkDotNet supports [parameterised benchmarks](https://github.com/PerfDotNet/BenchmarkDotNet#params) that might help you here. It works on fields and properties e.g.

[code]

Produces the following results:

   Method  |      Median |    StdDev |   A |  B
---------- |------------ |---------- |---- |---
 Benchmark | 115.3325 ms | 0.0242 ms | 100 |

[2016-07-08 09:05] JimBobSquarePants commented on #287
@SamuelEnglard Could you elaborate on that?

I tried `IPackedVector<TPacked>` which would have prevented the boxing but I couldn't cast to that from my concrete `BgraPixelAcessor` in `Image<TPacked>.Lock()`.

[2016-07-08 09:21] SamuelEnglard commented on #287
@JimBobSquarePants I just had a crazy thought, let me try some things

[2016-07-08 09:25] Grebe-M commented on #287
@JimBobSquarePants I would like to know where you want to see your library? Something easy and light weight mostly for web services maybe with a handful of advanced algorithms or a full fleshed computer vision library like OpenCV? I think that, especially for scientific computing or machine vision a good generic image support is essential, and maybe you should be able to specify the depth and the

[2016-07-08 10:06] JimBobSquarePants commented on #287
Hi @Grebe-M  good question.

Initially I was aiming to get the library working on the server only, everything was going to be 16bit and it would have been easy but the more I have researched, the more I am driven to produce something that will allow me to work with multiple pixel formats and tightly control memory usage. Something more suitable for scientific work as well as capable on the server.

[2016-07-08 10:08] Grebe-M commented on #347
@mattwarren I was not aware, but because every possible combination gets tested seperately it's not the best solution in this particular case. I'd like to have parameter pairs that get used. For example I'd like to define something like this:

    public class Crop
    {
        private class CropBenchParameters
        {
            public int Width { get; set; }
            public int Height { g

[2016-07-08 10:32] Grebe-M commented on #287
Benchmark results for the Core-Flava branch:

BenchmarkDotNet=v0.9.7.0
OS=Microsoft Windows NT 6.1.7601 Service Pack 1
Processor=Intel(R) Xeon(R) CPU E3-1231 v3 3.40GHz, ProcessorCount=8
Frequency=3320332 ticks, Resolution=301.1747 ns, Timer=TSC
HostCLR=MS.NET 4.0.30319.42000, Arch=64-bit RELEASE [RyuJIT]
JitModules=clrjit-v4.6.1076.0

Type=Resize  Mode=Throughput

Image size: 400x400 Resize size:

[2016-07-08 10:56] JimBobSquarePants commented on #287
Bugger... That

[2016-07-08 11:00] JimBobSquarePants commented on #287
The cpu load will be down the the parallel processing no?

[2016-07-08 11:26] Grebe-M commented on #287
Did you mean:
The cpu load will be **due to** the parallel processing no?

If so: yes it is.

But I see a problem that may comes into play when the library gets used in real world scenarios eventually. When using System.Drawing the CPU still has lots of reserves to process multiple images in parallel, while the CPU is struggling with a single image when using ImageProcessor. The resulting nested p

[2016-07-08 11:31] SamuelEnglard commented on #287
I would add to this that Multi-threading + GDI is a bad combo

[2016-07-08 12:04] simoazzo commented on #424
Hi JimBob,

I have updated the imageProcessor but no success.

I am trying to access the image wth the following url:

http://commercial.remax-malta.com/remote.axd?http://www.remax-malta.com/UserImages/24/L_3a19d3a0a996448aa2c7f8979ec43d2a_iList.jpg?entropycrop=250&width=1358&height=800&mode=crop

[2016-07-08 13:32] JimBobSquarePants commented on #287
Sorry guys was at the cinema.

I think there might be a wee bit of confusion going on. There's no nested parallel processing going on in the library. There used to be but I stripped it out a while back. There's certainly no GDI also.

@Grebe-M `System.Drawing` has a system wide process lock when using the Graphics object so it can't do any level of parallelism. That said, that graph scares me a li

[2016-07-08 13:56] SamuelEnglard commented on #287
@JimBobSquarePants No problem, I'm mult-tasking here too.

I only brought up GDI as that's what System.Drawing uses so they are really the same thing.

He used https://github.com/PerfDotNet/BenchmarkDotNet to create it. I've been using it too.

As to my crazy thinking, it was wondering if using C# "Unions" would help, though I'm not sure if they would really

[2016-07-08 14:02] Grebe-M commented on #287
Yes in the library itself is no nested parallel processing oging on, but if I now use the library and do something like:

    public class Program
    {
        public static void Main(string[] args)
        {
            var images = new List<Image>
            {
                new Image(1000, 1000),
                new Image(1000, 1000),
                new Image(1000, 1000),
                ne

[2016-07-08 14:05] SamuelEnglard commented on #287
@JimBobSquarePants Actually, @Grebe-M brings up a good point. We may want to make the library single threaded and make multi-threading at the users discretion. After all, as a library we don't know what their threading needs are

[2016-07-08 14:14] JimBobSquarePants commented on #287
@SamuelEnglard @Grebe-M That's a very good point. I've been looking at this on such a microscopic level for so long that I'd forgotten about how people would actually use it. I think testing each processor would definitely be a good idea. We could set a max degrees of parallelism in BootStrapper also.

Back to `Image<T>` if we can. I guess what is confusing me now is that I thought I had removed t

[2016-07-08 15:01] JimBobSquarePants commented on #424
Have you?

I just checked the response headers and your version numbers are the following.

[code]

The version numbers should be.

[code]

I would perform a clean, rebuild, and try again.

[2016-07-08 15:17] simoazzo commented on #424
I'm quite sure that I have updated them both, through nuGet.

And replaced both .dll files and web.config...

[2016-07-08 16:50] Grebe-M commented on #287
Imho in you current implementation is way to much casting, converting and memory allocation going on.

[2016-07-08 23:27] JimBobSquarePants commented on #424
Before I checked your response headers? Those numbers are coming from the version numbers in your application.

[2016-07-09 03:23] JimBobSquarePants commented on #287
@Grebe-M I'm going to have to see an example of how you would set that up if that's ok? The idea was that I would have Bgra32, Bgr32, BgraF but that's obviously not going to cut it since I need that second type parameter for performant operations.

[2016-07-09 05:51] simoazzo commented on #424
Yes. The .dll and  the web.config are need to be changed right, after update? and how can  I check that from the response headers? Through dev tools?

[2016-07-09 16:10] Grebe-M commented on #287
Well I tinkered a bit and an image now would have a TColorDepth[width, height, channels] that one could address nicely or pointer to with a fixed() statement. TColorDepth is the depth of each pixel component (byte, float, double etc.) The problem is that C# has no restriction for generics that allow only value types. So you get a problem that I don't know how to solve elegantly.

    var image = n

[2016-07-11 10:10] Romanx commented on #347
@Grebe-M It's not possible as I tried it however making a parameter of an Index in an array and passing that into your test method and looking up your params works.

There is obviously the overhead of lookup on the array during your benchmarks so if you're doing sensitive perf testing it may not be useful though.

[2016-07-11 14:33] Romanx commented on #347
@mattwarren That's really useful. Thanks!

[2016-07-11 18:28] SamuelEnglard commented on #287
Just wanted to pop in with some notes from my on going "offline" research.

Did some testing on my `Number` type. Yes it works but it is SLOW. on average we're talking 10x. I know the reason and I'm not sure how to fix it though.

In doing some more thinking I was wondering if the solution is to do something like Shaders on graphics cards. The thinking being very dynamic code. Need to flesh out th

[2016-07-12 06:59] JimBobSquarePants commented on #287
Quick question... If I wanted to perform maths on packed values would I have to expand the value, perform the maths then contract or is there something smarter I can do to make it a single operation?

[2016-07-12 13:27] Grebe-M commented on #287
Yes, you have to expand them  first to get usable results.

[2016-07-12 13:27] azzlack opened #427 "404 in RewritePath when using AzureBlobCache"
I get the following error when trying to load images with any processing querystring parameters included (it loads fine without any querystring parameters)

When I load an image like [`http://www.complyvvs.no/media/1003/background_homepage.jpg?width=1920`](http://www.complyvvs.no/media/1003/background_homepage.jpg?width=1920) I can see the processed image being uploaded to the `cache` blob, but I

[2016-07-12 13:45] SamuelEnglard commented on #287
A quick thing to note: While bit shifting isn't slow instead we could use C# Unions:

[code]

At the very least they're easier on the eyes

[2016-07-12 14:54] JimBobSquarePants commented on #427
@azzlack Are you using this with Umbraco and the filesystem provider? Just wondering about the media values in your config.

[2016-07-12 16:17] azzlack commented on #427
Yes, here is the FileSystemProvider.config:

[code]

[2016-07-13 05:07] JimBobSquarePants commented on #287
Ok.... So I'm now within 10% speed-wise of System.Drawing with my generic image approach. Some very sneaky Interface trickery has allowed me to remove the boxing and do maths.

I need someone to help me out and cast an eye over what I have done to my Resize method though. The unit test is returning Nearest Neighbor correctly but Bicubic and Triangle are returning a black image. I'm assuming it's s

[2016-07-13 11:05] JasonElkin opened #428 "AzureBlobCache.streamCachedImage disables browser caching"
Creating a new response and streaming the blob directly ([here](https://github.com/JimBobSquarePants/ImageProcessor/blob/Framework/src/ImageProcessor.Web.Plugins.AzureBlobCache/AzureBlobCache.cs#L387)) breaks the cache/ETag headers and ability to send a 304 response.

Happy to have a stab at fixing this - should just be a case of mapping the headers between the requests.

[2016-07-13 12:12] JimBobSquarePants commented on #428
Hi Jason,

Thanks for this.

Yeah please do. The functionality is something that was requested but that I have personally never used so I wont be able to test properly.

[2016-07-13 14:11] JimBobSquarePants commented on #287
Managed to solve the output bugs but may have slowed it down too much. Will need benchmarking on a machine that isn't mine.

[2016-07-13 15:10] simoazzo commented on #424
Hi JimBob,

How about the fix regarding the url? In my case, through this url (auctions.remax-malta.com) the imageprocessor is not working.

thank you. Hearing from you

[2016-07-13 21:43] JimBobSquarePants commented on #424
Hi there, my apologies, but I'm super swamped. Have you trued downloading the source and debugging?

[2016-07-13 22:37] JimBobSquarePants commented on #427
Thanks I'll have a look. If you disable the CDN in your config and use the blob storage only what happens?

Also if you attach a debugger what output is shown in the console. You should have an error message with the full requested url.

[2016-07-14 06:41] simoazzo commented on #424
Hi JimBob,

Yes, I have checked the code and the issue is because of the url, having two subdomains... because I have www and in my case (auctions.remax-malta.com) I have also the auctions as another subdomain.

I don't know if you can arrange that accordingly to work even with two sub domains, because www is a sub-domain.

Thanks

kind regards

[2016-07-14 06:49] JimBobSquarePants commented on #424
Thanks for checking.

I'll need a lot more detail though Would it be possible for you to tell me where the exception is thrown?

[2016-07-14 07:21] JimBobSquarePants commented on #424
Your url is incorrect. You're using the old double `?` and the schema when you shouldn't be. See the documentation.

http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/#remote

I just added bindings to match your url on my local machine and tested the four following combinations.

[code]

Each of them worked perfectly. The only configuration I had to do was in **security.config** w

[2016-07-14 07:45] SamuelEnglard commented on #287
A very quick sample of an idea: in short I'm still abstracting away the underlying datatype of the pixels but only pulling the "number" into managed land when you do an operation.

[code]

Admittedly this sample doesn't really work with "pixels" but the basic idea can be seen.

[2016-07-14 07:58] simoazzo commented on #424
Hi JimBob,

I don't think so that that's the problem, of the remote.axd.. because in auctions.remax-malta.com I do not have remotely images...

And I have tried again, online.. and it does not work.. the last two

[2016-07-14 08:07] JimBobSquarePants commented on #424
I'm using exactly the same url that you provided me with the fixes and it works.

Give me an exact url to query and I'll see what I can determine. You've not provided anywhere near enough information so far.

[2016-07-14 08:13] simoazzo commented on #424
Hi JimBob,

Ok, let me take this example. For the following site, I have updated the Image Processor to the latest:

URL 1: http://auctions.remax-malta.com/media/1149/a001l05-1-main.jpg?anchor=center&mode=crop&overlay=wm.png&overlay.opacity=80

URL 2: http://www.remaxauctions.jkgroup.casasoft-dev.com//media/1149/a001l05-1-main.jpg?anchor=center&mode=crop&overlay=wm.png&overlay.opacity=80

Both dom

[2016-07-14 12:26] crohkohl opened #429 "Memory Leak in Image Resizing"
Hi,

I am using the latest version and there seems to be a memory leak. I think it was also present in the previous versions. My Code is as follows:

[code]

This piece of code runs several thousand times and leaks memory until we are out of memory.

Any idea?

I will try to debug the library myself but any help would be appreciated.

[2016-07-14 14:03] JimBobSquarePants commented on #429
Hi there,

No, I've not noticed any leaks myself as I'm always careful to clean up after each method. Youre the first to report anything also.

Since we are only calling 4 methods involving the image itself: `Load`, `Copy (internal)`, `Resize`, and `Save`. That's where to look. Have you any idea how much is lost on each iteration?

I'm assuming you have already ran the rest  of the code without Im

[2016-07-14 15:08] zokiad opened #430 "Watermark is always vertical"
Hi,

Since 2.4.x, watermark is alway vertical.

`imageFactory.Load(streamPhoto)
                                                 .Watermark(new TextLayer { Text = "Watermark", Vertical = false }) `

Render of watermak is alway vertical.

[2016-07-14 16:04] crohkohl commented on #429
Shame on me. My Parallel task scheduler was spinning out of control and slowly created more and more threads. That was in my test program aswell. As soon as I limited the number of threads the memory usage was a flat line. Keep up the great work :+1:  and sorry for the false alarm.

[2016-07-14 16:04] #429 closed

[2016-07-14 23:03] JimBobSquarePants commented on #429
That's a sweet relief! Thanks for double checking!

[2016-07-14 23:22] JimBobSquarePants commented on #424
Right... So you mean the overlay processor is not working on the first url?

That's an entirely different issue.

It's really important when you are raising issues to ensure that you provide all the necessary information in order for me to correctly debug and provide a solution. There are contributions guidelines that I have added to the solution in order to make the process easier for everyone in

[2016-07-15 02:27] JimBobSquarePants commented on #287
@Grebe-M @SamuelEnglard @yufeih

I think we can all collectively sigh in relief. The latest build will allow us to use signature compatible `IPackedVector<T>` types that can be consumed by the likes of MonoGame and is **FASTER** than `System.Drawing`!

That means I can now make a `Color` and `ColorF` set of structs which will allow both levels of memory usage and possible future HDR support. Devel

[2016-07-15 03:03] yufeih commented on #287
This is awesome results! Thanks @JimBobSquarePants  for pushing this to happen 🍷

[2016-07-15 05:33] JimBobSquarePants commented on #430
Hi there,

Thanks for you issue.

Could you please add a full code sample etc as per the [contribution guidelines](https://github.com/JimBobSquarePants/ImageProcessor/blob/Core/contributing.md). So we can appropriately assess and debug.

Thanks!

James

[2016-07-15 06:44] simoazzo commented on #424
Hi Jimbob,

the above were just an examples with the overlay, you can also try the width and height etc...

May I ask what could be the issue with the server and what type of settings might I am missing in order that they are not working using such urls?

[2016-07-15 06:52] simoazzo commented on #424
Because I have verified on another server and it is working fine:

http://auctions.remax-malta.hector.casasoft-dev.com/media/81857/auc001l07-2.jpg?anchor=center&mode=crop&width=800

[2016-07-15 06:52] simoazzo commented on #424
There's something with the server but I don't know exactly. Maybe you can help me out on this after we identified the problem?

[2016-07-15 06:58] simoazzo commented on #424
But even here is working, on the same server where it is not working:

http://auctions.remax-malta.hector.casasoft-dev.com/media/81857/auc001l07-2.jpg?anchor=center&mode=crop&width=800

[2016-07-15 07:10] JimBobSquarePants commented on #424
This is gonna be tough... I'd start with your web.config and ensure the httpmodules are correctly configured.

[2016-07-15 07:13] simoazzo commented on #424
The web.config is the same for both, for the one working and for the one that it is not working... the only difference is the url...

http://auctions.remax-malta.hector.casasoft-dev.com (working)
http://auctions-remax-malta.com (not working)

[2016-07-15 08:49] JimBobSquarePants commented on #424
Well I think we've established already that the domain name has nothing to do with it. There must be another difference. OS version, IIS version, Modules within IIS, .NET framework version, external libraries, the list goes on...

This isn't a code issue and I don't have access your servers so I'm afraid I can't be of any help to you.

[2016-07-15 09:21] simoazzo commented on #424
Hi JimBob,

After get deeply into the issue that we had, after investigation we have found what was causing the problem.

First we tried to match the response headers to see what's difference by the url that it was working and the other that it wasn't. Then we found that the one that was not working was being served by cloudflare.

After determined that Cloudlfare was the problem we then continued

[2016-07-15 10:08] JimBobSquarePants commented on #402
Yeah, I know the guy who writes it, we share code and ideas all the time.

He's actually correct, many of the libraries out there suffer from either or both issues. I work very hard to ensure I suffer from neither.

[2016-07-15 10:10] JimBobSquarePants commented on #424
FANTASTIC NEWS!!! :tada:

Very glad you found the solution.

[2016-07-15 13:53] Philo opened #432 "[Proposal] A non-destructive way to support AzureBlobCache settings customisation"
We've previously discussed (#369) the ability to support customisation of the settings values for the ```ImageCacheBase``` and specifically the ```AzureBlobCache```.

At present all configuration logic happens within the constructor, whether the Settings dictionary to read and applied to internal properties, this method prevents any derived implementations from altering those base settings before

[2016-07-15 14:58] zokiad commented on #430
Hi,

Follow, you can found an example to reporduce the issue in VS 2015:
[ErrorVertical.zip](https://github.com/JimBobSquarePants/ImageProcessor/files/366242/ErrorVertical.zip)

Regards

[2016-07-15 15:15] SamuelEnglard commented on #287
That's great! @JimBobSquarePants, what's the branch again? I really want to see what you did

[2016-07-15 15:51] Grebe-M commented on #287
It's on the "Core-Flava" Branch.

@JimBobSquarePants Nice work getting the time down!
Theres is something I don't quite get though. Why did you make the packed value generic? I get that Image<Bgra32, uint> means 1 byte per component (R, G, B, A) therefore 4 unsigned bytes -> uint, but I think that is not really intuitive for the user. The user should say Image< Bgra, byte > Image< Bgra, float >, I

[2016-07-15 17:18] SamuelEnglard commented on #287
Thanks @Grebe-M

I'm going to continue my research, mostly for fun at this point 😄

[2016-07-15 22:47] JimBobSquarePants commented on #287
@SamuelEnglard Yeah Core-Flava, you know, cos of all the flavas of pixel formats (I am sooo coool :wink: )

@Grebe-M Because it is exposed as a generic `PackedValue` property in MonoGame API as `IPackedVector<T>.PackedValue` which in-turn implements the Microsoft XNA Framework 4 API and I needed to ensure compatibility.

Note. I'm actually exposing that as a method since it allowed me to make `Col

[2016-07-15 22:55] JimBobSquarePants commented on #430
Brilliant. Thanks for the sample it will make things a lot easier. :+1:

[2016-07-15 23:07] JimBobSquarePants commented on #432
@Philo Well done!! :100:

I really like this, especially how you avoided having to touch the interface. If you want to open a PR with the code changes I would be more than happy to accept them.

I really appreciate the effort you have made.

Cheers

James

[2016-07-15 23:22] JimBobSquarePants commented on #428
This is now merged but I'll keep it open until I ship again. Thanks for your efforts!

[2016-07-16 10:23] hoanghai123 opened #434 "Error: "Property cannot be found""
Hi,

I have used ImageProcessor to manipulate with uploaded images.

One of my developer has this error "Property cannot be found" while trying to resize the attached image to a new size of 150x24.

If resize to other size such as 224x150, there's no error.

Here is  my code to resize the image:

using (ImageFactory imageFactory = new ImageFactory())
{
      // load from Stream
      imageFactory.

[2016-07-16 10:52] JimBobSquarePants commented on #434
Hello Hai,

Thanks for supplying so much detail. One last thing please. What version number are you running?

I think I've already identified an issue and have deployed a fix to development.

Cheers

James

[2016-07-16 15:21] hoanghai123 commented on #434
Hello James,

FYI, I'm runing on version 2.4.3.0

May I know your plan to release the fix for this issue?

Thanks,

Hai

[2016-07-20 09:32] arknu opened #436 "Quality only applies if placed after format in querystring"
If I have a querystring that says image.jpg?quality=50&format=jpg, the quality never is applied, since it is overwritten by the format being applied afterwards. Putting it the other way round makes it work, i.e. image.jpg?format=jpg&quality=50 works just fine.

This is rather unintuitive (especially given that Umbraco's GetCropUrl method generates URL's with the quality specified first by default)

[2016-07-20 09:54] JimBobSquarePants commented on #436
Hi there,

I would raise a bug then on the Umbraco issue tracker as they haven't implemented the API properly.

http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/#about

[2016-07-20 09:54] #436 closed

[2016-07-20 10:31] arknu commented on #436
Thanks for the feedback. That does make sense. What tripped me up was that I didn't think of the quality and format as two separate things but two parameters of the same thing (the final image quality).

I have raised the issue with Umbraco here: http://issues.umbraco.org/issue/U4-8751

[2016-07-20 10:46] Jeavon commented on #436
Umbraco doesn't have a format parameter which is the actual problem you have, but adding parameters to existing methods is a breaking change :(

[2016-07-20 11:37] JimBobSquarePants commented on #436
@arknu Thanks for raising that.

@Jeavon the GetCropUrl method accepts additional properties though doesn't it?

[code]

Could the method not internally ensure quality is last or at least after any format requests without changing the signature?

[2016-07-20 18:09] dsargent3220 opened #437 "Need help with performance on writing custom caching module for our CDN"
Hey Jim.  I've been working on a custom caching module for our CDN for the last several days.  I pretty much have it done but have ran into something I can't explain. When I use the DiskCach plugin that comes with ImageProcessor I'm getting response times in the 10 to 20ms range.  When I use my plugin I get response times in the 100ms range (or more).  I've done everything I know how to do to debu

[2016-07-20 18:36] dsargent3220 commented on #437
Update:  Redid the timing tests and something has changed.  The DiskCache plugin is coming back with times around 38 to 49 ms for the first few files then goes up to 100 thereafter.  My code seems pretty stable at 97 to 99 ms
So . . . Maybe it's OK?
Images attached.
![imageprocessorcdncachetimes](https://cloud.githubusercontent.com/assets/3372486/16998336/d0ef34c6-4e6d-11e6-92ed-81f4c0b3e924.PNG)

[2016-07-20 18:54] dsargent3220 commented on #437
Sorry, one more update.  The above page test was just an HTML page with a bunch of images in it to show load.  When I test the actual site things change a ton (which is what I was originally seeing.
Below timings are for one of our product pages
https://selinc.com/products/849/
When using the disk cache, the main image comes back in 30ms, with my CDN cache (already cached, not doing FTP or any of

[2016-07-20 22:28] dsargent3220 commented on #437
Well, I at least have something figured out.  It's the Response.Redirect.
I don't know WHY it's the Response.Redirect (same basic idea used in your S3 and Azure modules.
I can't think of a better way of doing this either.
Any thoughts?

[2016-07-20 23:02] dsargent3220 commented on #437
I think I found the "issue"  Looks like it may just be some Chrome weirdness.  In the Firefox network console the times are extremely fast.  The majority of the time is spent in the "Content Download" section and I just don't think it's really waiting.  In Firefox I'm getting timings of 47 ms or so, which is what it should be.
Jim, I'm going to close this for now. If you have further input, please

[2016-07-20 23:02] #437 closed

[2016-07-21 07:01] precary commented on #180
Got virus warning on ImageProcessor.chm

[2016-07-21 07:24] JimBobSquarePants commented on #180
Thank you @precary but I am going to raise a few points here.

1. You've provided absolutely no useful information whatsoever in order for me to perform any analysis on your issue. (Antivirus platform etc)
2. You've hijacked a totally unrelated thread to do so.
3. Windows Defender (if it was that) reports a false positive. It's prudent to check other scanners before reporting. As you can see here

[2016-07-21 07:47] precary commented on #180
I'm sorry, you're right, got Spursint.A!cl on Windows Defender looked real

[2016-07-21 12:29] simoazzo opened #438 "Overlay not working on all images"
Hi Guys,

I have this strange problem where the overlay is not being created on all the images and I don't know why:

example 1:auctions.remax-malta.com/media/1128/a001l05-2.jpg?width=1000&overlay=wm.png&overlay.opacity=80 (is working)

example 2: auctions.remax-malta.com/media/1143/a001l05-17.jpg?width=1000&overlay=wm.png&overlay.opacity=80 (is not working)

I cannot get any pattern why this is h

[2016-07-22 16:09] dsargent3220 opened #439 "Use custom EXIF field for image hash"
After reading through your code on the CreateCachedFileNameAsync method and your comment about how you are using the file size, date and name for the hash because doing a full hash of the file contents is too computationally expensive, especially for the caching step, I thought, why not just do the full hash during the image conversion step and store it in a custom EXIF field so the caching plugin

[2016-07-25 03:08] JimBobSquarePants commented on #439
Hi there,

Yeah that's not going to work I'm afraid. You can only store EXIF in jpeg or tiff.

Thanks though.

[2016-07-25 03:08] #439 closed

[2016-07-26 16:37] dsargent3220 opened #440 "How to return cached image in caching plugin when destination is not available."
OK, I know that title is a little confusing, so let me explain what I mean.
I'm writing my own caching plugin to work with our CDN / SFTP infrastructure.
The scenario is this.  The IsNewOrUpdatedAsync method has returned false so ImageProcessor jumps to RewritePath.  I have code in there that does a get head to make sure our destination exists and it gets a 404, so I remove the item from the in me

[2016-07-26 22:37] eat-sleep-code opened #441 "Attempt to resample image results in zero-length response."
I am trying to resample a JPG image from 300dpi to 150dpi and am getting back a zero-length file.

== ORIGINAL CODE REMOVED TO AVOID CONFUSION ==

[2016-07-27 02:07] JimBobSquarePants commented on #440
What do you intend to do if your server is down. Surely throw an error yes?

Could you perhaps supply a flow diagram?

[2016-07-27 10:17] base33 opened #442 "Denial of Service attack vulnerability"
We recently performed a security audit on a web site that uses Image Processor and have found that it is possible to perform a DOS attack on a website that utilises Image Processor.  The attacker can craft image urls with various parameter changes to increase CPU activity and increase disk usage.

To get round this, is it possible to add a new parameter called "Sig", which is a hash of the queryst

[2016-07-27 10:21] base33 commented on #442
Ignore this.  I think this is the wrong repo.  I will find the correct one

[2016-07-27 10:23] base33 commented on #442
I am unable to find another repo for the ImageProcessor.Web project.

Hopefully you can point me to where I can report this?

[2016-07-27 12:47] JimBobSquarePants commented on #442
Hi there,

It's all one repository, so you're in the correct place.

I think you may have missed #49 which deals with this scenario in detail. The result of which provides the means to quite effectively lock down an install. You're probably looking to use this method.

[code]

Hope that helps.

[2016-07-27 12:47] #442 closed

[2016-07-27 16:50] eat-sleep-code commented on #441
Closing this ticket.   I am able to get out a file -- although dpi settings are ignored.   For other folk's future reference:

**Updated Controller's ActionResult:**

[code]

**Updated ResampleImage method:**

[code]

[2016-07-27 16:51] #441 closed

[2016-07-27 17:11] eat-sleep-code opened #443 "JpegEncoder ignores 'HorizontalResolution' and 'VerticalResolution' attributes"
The JpegEncoder sets the DPI to 72 regardless of what the HorizontalResolution and VerticalResolution are set to.

The PngEncoder works as expected.

The following is the code example that shows both code snippets.

[code]

[2016-07-27 23:15] JimBobSquarePants commented on #443
Hi there,

Thanks for that. I've actually just fixed it in my Core-Flava branch which will be the main branch once I've finished porting everything over. (I'm vastly reducing the memory usage in that branch.)

You can see the reading and writing here.

https://github.com/JimBobSquarePants/ImageProcessor/commit/fcf404c9fede3784fd312aaba739185e12aba2d8#diff-ca7976f0fe9cdbd42d4b6de4677f1616R724

http

[2016-07-28 21:29] dsargent3220 commented on #440
Attaching the flow diagram.
The situation is this. We are caching on an SFTP server that is NOT our main web server cluster and then our CDN is doing a revers proxy to that SFTP server.  There are three things that can happen.  1) the SFTP server is down, 2 our connection to the CDN is down, or 3 the file is missing from the destination server (but imageCache is present, should be rare).
What I wa

[2016-07-28 23:13] dsargent3220 commented on #440
AND I just realized there is a bug in my implementation here.  Since I'm storing the meta data cache in Memcched (which is a distributed caching system) images will only ever be saved on one of the servers on disk cache, not all of them.  :(
So yeah, the ability to serve the stream or to register a primary and secondary cache plugin would be sweet.  I really don't like implementing two forms of ca

[2016-07-28 23:14] dsargent3220 commented on #440
Here's the code if you want to noodle it over.
[code]

[2016-07-29 02:52] razblack opened #444 ""Too many components""
I'm still using a version I pulled from May/2016, as I have not yet updated to .NET Core V1 (still using RC1, Update 2).. anyway,  I plan to update, but cringing on it at the moment.

However, I have run across a JPG type that is throwing this ImageFormatException "Too many components".

I'm waiting to get a hold of a copy of the image for testing now.. but just wanted to ask how rare does this oc

[2016-07-29 05:29] JimBobSquarePants commented on #444
It's probably CMYK. The current jpeg decoder doesn't support that but the original Go decoder we have ported does. Sadly I can't get my head around Go at all so I'm at a loss to convert it.

The expert on the manner is @mweber26 who kindly ported the code across. I have done some further work in my Core-Flava branch to handle JFIF headers better but CMYK support is still missing. Perhaps once Flav

[2016-07-29 05:40] JimBobSquarePants commented on #440
Thanks for all this. I'll have a good look and see what I can figure out for you.

[2016-07-29 17:34] razblack commented on #444
Thanks m8, I'm still waiting on getting a hold of the image >.<, I'll post back here once I get it and take a looksie.

[2016-07-29 17:36] mweber26 commented on #444
Post the image here and I'll take a look at it.

[2016-07-29 19:30] dsargent3220 commented on #440
I've updated my plugin to more fully implement disk caching and it's local memory cache properly.  Code and diagram attached.
Unless you end up with a better solution we will probably go with this.
Note: this code has not gone through code review yet.
[code]
![cacheflyimagecacheflowchart](https://cloud.githubusercontent.com/assets/3372486/17260972/3f4146e6-5588-11e6-8a01-0f62421a4176.jpg)

[2016-07-30 00:45] JimBobSquarePants commented on #444
Thanks @mweber26

[2016-07-30 06:44] razblack commented on #444
@mweber26 ... if I can ever get them to send it!  >.<

I'm 99% sure though that @JimBobSquarePants was spot on...  based on the sketchy server logs I maintained (only dumped e.Messages on the exceptions), I generated a few CMYK JPG images in Photoshop and sure enough, "Too many components" was being thrown.

I will still post the image(s) that they send me though...

[2016-07-30 12:34] JimBobSquarePants commented on #287
Gonna close this off now as I've just merged the new code. We now use 75% less memory, run faster than previous builds on my test machine, and also have tight control over ParallelOptions via the Bootstrapper class.

[2016-07-30 12:34] #287 closed

[2016-07-30 16:20] JimBobSquarePants commented on #443
I merged the flags branch today fixing the issue. Please give it a whirl and let me know if you have any trouble.

[2016-07-30 16:20] #443 closed

[2016-07-31 23:54] JimBobSquarePants commented on #444
That's everything merged into the Core branch now so once we have a test image we are good to go.

[2016-08-01 05:24] JimBobSquarePants commented on #430
Hi @zokiad sorry for the delay. I've managed to find and fix the issue and will release a new version soon. Thanks again for providing the code sample. It was instrumental in me finding and fixing the bug. :+1:

[2016-08-01 05:50] JimBobSquarePants commented on #440
Crikey! That's a lot of redundancy checking you've put into this. You must really want those image :smile:

This is way more complicated than anything I have put together cache-wise but I can see what you are doing. Going through the code it looks to me like we could fix a few minor things but that is all.

- You should put the static properties assigned your constructor in line 168 into a smaller

[2016-08-01 05:54] JimBobSquarePants commented on #434
Hi @hoanghai123 I have changed the way EXIF data is handled slightly which will fix the issue, you can see some of it in the referenced commit. I'm just checking some other tickets now before building a release.

[2016-08-01 06:03] JimBobSquarePants commented on #427
Hi @azzlack did you ever get anywhere with this?

[2016-08-01 07:29] azzlack commented on #427
Will check later today or tomorrow, have been on vacation so havent had the time to get back to you :-)

[2016-08-01 13:13] JimBobSquarePants commented on #427
@azzlack No worries :smile:

[2016-08-01 20:14] simoazzo opened #445 "Issue with Overlay - Image Processor"
Hi Guys,

Can anyone give some insight about this:

I am trying to set a watermark like this: `http://auctions.remax-malta.com//media/85370/a001l06-1-main.jpg?anchor=center&mode=crop&width=500&height=500&overlay=wm.png&overlay.opacity=80`

The above works.

But then, if I try to exact url but change the width or height, not works:

`http://auctions.remax-malta.com//media/85370/a001l06-1-main.jpg?a

[2016-08-01 23:33] JimBobSquarePants commented on #445
Hi there,

Is this the same issue as #438? If so, please do not create duplicate issues.

This is **not** the Watermark plugin, this is the Overlay plugin and you have not provided the information as specified in the [contribution guidelines](https://github.com/JimBobSquarePants/ImageProcessor/blob/2acf4fe804efd492297eab966fb5202502ea5455/contributing.md).

Now, to the problem.

Debugging your iss

[2016-08-01 23:33] #445 closed

[2016-08-01 23:34] JimBobSquarePants commented on #438
Closed. Same as #445

[2016-08-01 23:34] #438 closed

[2016-08-02 14:18] dsargent3220 commented on #440
Sorry I didn't get back to you yesterday.  Long day.  Great suggestions! Got those changes implemented.
As for performance, it's really good.  Caching the image the first time is more expensive of course, but not by much and I'm not worried about that.  Loading a cached image a great.  I won't be able to test on our actual CDN until our IT department finishes building new SFTP servers for us in pr

[2016-08-03 00:38] JimBobSquarePants commented on #440
That's great to hear! I'm glad it's working well. :smile:

It's always nice to see what amazing stuff people are doing based on my work so yeah, please let me know once you have it finished.

I'll close this ticket off now as I think we have everything covered.

[2016-08-03 00:38] #440 closed

[2016-08-03 04:46] JimBobSquarePants commented on #428
@JasonElkin That's the code released now. Thanks again for your efforts. Much appreciated! :+1:

[2016-08-03 04:46] #428 closed

[2016-08-03 04:47] JimBobSquarePants commented on #434
@hoanghai123 That's the code released now.

[2016-08-03 04:47] #434 closed

[2016-08-03 04:48] JimBobSquarePants commented on #432
@Philo  That's the code released now. Thanks again for your PR, a really excellent way to work around the limitations of my API. :+1:

[2016-08-03 04:48] #432 closed

[2016-08-03 04:48] JimBobSquarePants commented on #430
@zokiad That's the code released now.

[2016-08-03 04:48] #430 closed

[2016-08-03 06:52] zokiad commented on #430
Thanks

[2016-08-04 06:15] JimBobSquarePants opened #446 "Codecs"
This issue serves to collect various issues with the image codecs. Additional issues will be added upon identification.

Png
- [ ] Decoder doesn't decode progressive files #379
- [ ]  Encoder does not encode progressive files

Jpeg
- [x] Decoder does not decode CMYK files #444
- [ ] Encoder does not encode CMYK files
- [ ] Encoder does not encode progressive files

Tiff
- [ ] No Tiff support #464

[2016-08-05 01:23] JimBobSquarePants commented on #264
Hey @cartman300 Just a quick checkin. Do you reckon you would get any time soon to have a further look at this?

[2016-08-05 01:26] cartman300 commented on #264
OH yes thanks for reminding me :V I'm gonna take a look tomorrow

[2016-08-05 04:17] JimBobSquarePants commented on #264
@cartman300  Sweet! That's great news!

[2016-08-06 06:51] cartman300 commented on #264
Okay i reforked the repo and restarted the work. Had kind of a hard time figuring out where to put the brush stuffs (might need refactoring later).

Antialiasing should be a separate filter so you can choose different methods and also because i have no idea how to fill polygons with edge antialiasing with reasonable performance.

[2016-08-06 10:02] amirzandi opened #447 "Use ImageProcessor in .NETCore 1 Projects"
Hello,

Would you please guide me how to use your package in a .NETCore Project?

Thanks.

[2016-08-06 10:26] JimBobSquarePants commented on #447
Hi there,

As specified in the [Readme](https://github.com/JimBobSquarePants/ImageProcessor/tree/93be57e7c664506115d8dcb098fd6f404f201332#thankyou-for-reading-this) the Core package is alpha which means that it shouldn't be used in a production environment.

If you wish to evaluated the library though you can download the latest build package from the [MyGet package repository](https://www.myget.o

[2016-08-06 10:26] #447 closed

[2016-08-06 10:33] JimBobSquarePants commented on #264
Yeah, we can always move it around. I'm deliberately keeping a very flat namespace for the library so feature discovery is easy.

Once we can get a working version we can work on improving performance so don't worry about that at this stage. I still have a lot of optimisation work to o on the project.

Just to note, whatever solution you do plese make sure you are using the generic `Image<T,TP>` t

[2016-08-06 17:01] cartman300 commented on #264
How would i go on about directly manipulating pixels in an Image<T, TP>? When i lock it, i get a generic type T for the pixels and i have no idea what to do with it.

[2016-08-07 05:09] JimBobSquarePants commented on #264
Good question. The `IPackedVector<TP>` interface allows for conversion to and from `Vector4` where the X, Y, Z, & W components represent each RGBA component in applicable packed vector implementations.

Here's an example of me using those methds to change the alpha component of each pixel.

https://github.com/JimBobSquarePants/ImageProcessor/blob/93be57e7c664506115d8dcb098fd6f404f201332/src/ImageP

[2016-08-07 10:27] amirzandi commented on #447
My question was something different. I just want to see how it works in a DotNetCore project. How can I import required files into a DotNetCore project!
Please guide me on this issue.

[2016-08-07 14:13] JimBobSquarePants commented on #447
Using Myget as described is the only way to use the library in a DotNetCore project. If you need guidance on that I suggest you read the Microsoft documentation available online

[2016-08-07 15:48] amirzandi commented on #447
the ImageFactory class is not available while I did get clone.... what should I do?!

[2016-08-07 16:02] amirzandi commented on #447
Please help!

[2016-08-07 21:49] JimBobSquarePants commented on #447
ImageFactory does not work in DotNetCore because System.Drawing is not part of DotNetCore. That is why there are two libraries - ImageProcessor and ImageProcessorCore.

This is all in the readme.

[2016-08-08 14:07] amirzandi commented on #447
Dear Jim,
I eventually find out how to import your code into my project. The problem is that, I store image in Database and I need the Image to be converted to the Byte[] and I do that as follow:
MemoryStream st = new MemoryStream();
                    using (Stream file = image_data.OpenReadStream())
                    {
                        Image img = new Image(file);

[2016-08-08 18:36] gdoron commented on #426
@Bartmax seems like we meet again, I guess .Net core on GitHub doesn't give too much options :smile:

I'm curious to know how you overcome this, we are using it too (on production...) and iPhone images are being rotated when resized.

[2016-08-09 04:45] JimBobSquarePants commented on #447
Hi Amirzandi,

The issue tracker is not the place for questions, we have a [Gitter](https://gitter.im/JimBobSquarePants/ImageProcessor) channel for that. Have you read the [contribution guidelines](https://github.com/JimBobSquarePants/ImageProcessor/blob/8b46a446f62b80bcf284d1532a8f88448c260721/contributing.md)? This stuff is important.

That said, what is wrong with the [MemoryStream.ToArray()](h

[2016-08-09 04:55] amirzandi commented on #447
Ok thanks. I will share my problem via Gitter.im website and especially in your room.

Bests.

[2016-08-10 08:11] JimBobSquarePants commented on #425
Just pushed a fix.

[2016-08-10 08:11] #425 closed

[2016-08-10 13:53] dlemstra commented on #426
I am working on adding support for EXIF information (see #357 for more info). That would mean the information would be preserved when you read/write an image. I also wonder if a feature to AutoOrient (thats how we call it in ImageMagick) the image would be a nice addition to the library. I will try and see if I can add that once the EXIF code is included.

[2016-08-10 14:56] voidstar69 commented on #294
Is anyone working on adding the remaining blending modes? If not, I would like to work on adding them.

[2016-08-10 23:14] JimBobSquarePants commented on #294
@voidstar69 if @christopherbauer is happy for you to take over that then definitely go for it. All the original complexity is now gone as Color is now no longer premultiplied. It should be a case of simply plugging through them as per the described formulae.

[2016-08-11 04:28] Bartmax commented on #426
@gdoron i didn't. I told people to upload photos and fix the orientation if it's wrong for the time being. :cry:

[2016-08-11 05:15] gdoron commented on #426
@Bartmax So your site gives rotating API for the user, correct?
Or do they need to edit it somewhere else?

[2016-08-11 05:17] Bartmax commented on #426
@gdoron fortunatelly my upload thing is internal and not public faced. Since they do work on the images in a photo editor before upload they just do it there.

[2016-08-13 09:10] dlemstra commented on #78
Just pushed another pull request for this: #450.

[2016-08-13 09:15] dlemstra commented on #426
The pull request for adding exif support has been pushed and merged (#450). Will work on adding support for auto orientation.

[2016-08-13 09:22] JimBobSquarePants commented on #78
It's only taken 2 years but we have EXIF! 🎉

Many thanks to everyone involved in the discussion and special thanks to @stbraley for his initial PR and effort and @dlemstra for providing a provable, workable PR that has been accepted and merged.

I'm over the moon about this one 😸

[2016-08-13 09:22] #78 closed

[2016-08-13 16:56] dlemstra commented on #426
AutoOrient has been added: ae4de1ad

[2016-08-13 17:47] Bartmax commented on #426
Wow that was fast! Amazing

[2016-08-13 18:37] gdoron commented on #426
👏👏👏
Thank you all!
I wish I could contribute to this super important library, but unfortunately I didn't attend to any of the image processing classes at college...
Great stuff!👍

[2016-08-13 21:49] dlemstra commented on #426
I also haven't had any image processing classes at college. You just need to do a lot of reading on image formats and algorithms. And if you can read `C` you can also take a look at the ImageMagick library (I work on that project) and see how stuff is done there and learn from it. There are a couple of issues where help is requested (needed): https://github.com/JimBobSquarePants/ImageProcessor/iss

[2016-08-13 22:02] dlemstra commented on #426
And I just got a request for my Magick.NET project that is related to this: https://magick.codeplex.com/discussions/657123. You could help creating the huge `ExifDescriptions` class so we can use it here and in Magick.NET.

[2016-08-14 00:15] JimBobSquarePants commented on #426
I'm learning by doing. Wikipedia and looking through older open source libraries has been how I've learned. You'd be amazed how much you can pick up in a short time.

[2016-08-14 11:53] dlemstra commented on #426
Decided to use a different approach: 3bca9a911. We could still use some help.

[2016-08-14 18:03] iranidesign opened #451 "Add watermark image"
Hello ,can i add watermark image to httppostedfilebase and how do this?

[2016-08-15 00:30] JimBobSquarePants commented on #451
Hi there,

Please read the documentation for [ImageFactory](http://imageprocessor.org/imageprocessor/imagefactory/#example) and also the dopcumentation for [Watermark](http://imageprocessor.org/imageprocessor/imagefactory/watermark/) and also the [contribution guide](https://github.com/JimBobSquarePants/ImageProcessor/blob/4a6cad5cac25407cab5f7ab09ff042c4ae03b1b9/contributing.md) everything you ne

[2016-08-15 00:30] #451 closed

[2016-08-16 04:06] CVertex commented on #294
Hey dudes,

Years and years ago (when I was in uni) I wrote a multiply/add/exclude blend modes for a project. I remember being using some bitwise tricks for doing fast multiply to save on ops.

I did some googling yesterday and found better techniques employed in https://github.com/teichgraf/WriteableBitmapEx/blob/master/Source/WriteableBitmapEx/WriteableBitmapBlitExtensions.cs

Maybe worth using

[2016-08-16 06:12] JimBobSquarePants commented on #294
@CVertex Man! Code like that hurts my eyes! I much prefer hiding everything behind my PixelAcessor!

Which reminds me, I need to optimise that to return a whole column or row.

Thanks for the link though, useful!

[2016-08-16 15:53] protherj opened #452 "Is it possible to position the Watermark text to the bottom of an image?"
The position of the text watermark appears to be in pixels.  It is possible to have the position by a percentage unit to allow for putting the image on the bottom?

Thanks,
Jason

[2016-08-16 17:05] gerryLowry opened #453 "Core Web API: `Cannot resolve symbol 'ImageProcessorCore'"
Architecture:

vs2015 Update 3:

Solution:   Core Web API application   ~~ structure on disk
[code]
[code]

Rebuilding the solution has zero errors.

HOWEVER, "ImageProcessorCore" is shown in Red by vs2015.

Mouseover on "ImageProcessorCore displays:

[code]

N.B.:  under References, the icons for all of the parts except ImageProcessorCore(1.0.0) are similar to what one sees with Microsoft.NETCore

[2016-08-17 12:18] dwdickens opened #454 "Sporadic issue with encoder"
![works fine](https://cloud.githubusercontent.com/assets/13432550/17735920/558dae04-64c8-11e6-8dd7-2c9d7408208b.jpeg)

![throws error](https://cloud.githubusercontent.com/assets/13432550/17735867/0b0d0c80-64c8-11e6-8ee6-02626d98913a.JPG)
Loading an image file and then attempting to save it sometimes fails, depending on the picture. It makes no different whether manipulation is performed. First att

[2016-08-17 12:39] JimBobSquarePants commented on #454
Jpeg is hard :cry:

Thanks for raising this. I'll see what I can do.

[2016-08-17 13:08] dlemstra commented on #454
@JimBobSquarePants How do we know which version of the code was used for 1.0.0-alpha-1009?

[2016-08-17 13:53] JimBobSquarePants commented on #454
@dlemstra It's the latest build.

https://ci.appveyor.com/project/JamesSouth/imageprocessor/history

[2016-08-17 13:55] dlemstra commented on #454
Okay thanks was wondering if this was due to my EXIF changes. Can you reproduce the issue with v1.0.0.996 @dwdickens ?

[2016-08-18 11:53] JimBobSquarePants commented on #452
Hi Jason,

Out of the box no, I suppose you could calculate it though given the size of the image.

I'm assuming that you are using ImageProcessor.Web so that would require creating an alternative Watermark processor based on the current.

This wouldn't be high on my list of priorities just now but I'd be happy to accept a PR if you fancy giving it a go?

Cheers

James

[2016-08-18 11:53] #452 closed

[2016-08-18 11:59] JimBobSquarePants commented on #453
Hi Gerry,

Just to confirm that you have no errors in the reference list and the package installer works ok?

There's no icon because I keep forgetting to add it to my package.json file.

Are you able to run the code and manipulate the image?

Also do you have Resharper installed?

Cheers

James

[2016-08-18 12:04] rodrivel opened #455 "Version 2.0.1 faster than 2.1.0+"
Hi!
We started using ImageProcessor 2 years ago, version 2.0.1.0 with net framework 4.0.  Now, as we need to add an overlay to images we've been forced to update from version 2.0.1 to at least 2.1.0 which started including this functionality.

Since then, we have noticed than the same processing takes about nine or ten times longer. With "same processing" I refer to cropping, resizing and adding s

[2016-08-18 12:16] JimBobSquarePants commented on #455
@rodrivel

First question? What version are you actually using and if it's not the latest? (v2.4.4) Why not?

9 or 10 times slower is a lot. Do you have benchmarks to back that up?

There's a lot more going on inside the ImageFactory class now than there used to be to sanitise input and ensure that data is correctly stored but if anything the latest version should be much faster since I did a lot

[2016-08-18 12:33] dwdickens commented on #454
Problem disappears with v1.0.0.996.
While the error is being thrown by the decoder, I think the problem lies with the encoder. When I had the encoder writing straight to a filestream, it was creating a .jpeg that couldn't be opened by any image viewer. I interpolated the tempStream as a means to identify when the problem was occurring.

[2016-08-18 12:52] JimBobSquarePants commented on #454
Interesting thanks!

I'm actually testing it against the latest source right now and I cannot get it to encode. Could you please do me a favour and give the very latest download on Myget a try?

[2016-08-18 12:54] rodrivel commented on #455
@JimBobSquarePants we tried to update to v.2.4.4 and noticed that in our case, it was less performant so we went back to v2.0.1.

I don´t have a benchmark that can analyse only ImageProcessor performance, but we have been measuring the time it takes for a user to upload an advertisement (which involves all ImageProcessor tasks mentioned before), tried with both versions in same enviroment conditio

[2016-08-18 13:13] dwdickens commented on #454
I just tried it using "1.0.0-alpha-1011", and it's back to throwing an error. BTW, the beach picture I attach above does not work, and the city picture works. The beach picture appears to have exif, and the city picture doesn't. Given the comments above and the recent changes, maybe that's the issue?

[2016-08-18 13:23] dwdickens opened #456 "PNG -> jpeg transparency"
Opening a png, resizing and saving as a jpeg is causing issues with loss of the transparency colour (I think that's the write description, I'm not very familiar with how transparency works). First attachment is formFile, second is output. Note the output has a black background.

Asp.net core RTM, "ImageProcessorCore": "1.0.0-alpha-996"

     using (MemoryStream stream = new MemoryStream())
      u

[2016-08-18 13:27] JimBobSquarePants commented on #454
@dwdickens Thanks. You've just confirmed my findings. I just disabled EXIF and it worked.

@dlemstra It looks like EXIF is breaking the image encoding. It could be something to do with my Rational type but I'm not sure, could you have a look when you can please.

[2016-08-18 13:30] JimBobSquarePants commented on #456
That's absolutely expected behaviour. Jpegs don't have an alpha component.

http://stackoverflow.com/questions/16906144/transparent-background-in-jpeg-image

[2016-08-18 13:30] #456 closed

[2016-08-18 13:33] JimBobSquarePants commented on #455
Wow! 35 seconds?

How big are the images? Are you still on .NET 4?

Could you do me a huge favour and upload a demo image and code sample so I can see if I can replicate? My laptop is about as slow as it gets so we should be able to see if there is s a problem.

Cheers!

[2016-08-18 13:47] JimBobSquarePants commented on #454
JPEGsnoop output off image.
The failing one doesn't seem to get past the APP1 marker, Rational seems ok.

[code]

Snoop of input image
[code]

[2016-08-18 13:49] JimBobSquarePants commented on #454
APP1 marker on encoded image is two bytes shorter than original

[2016-08-18 15:28] dlemstra commented on #454
I probably forgot to add two bytes to the length. Will have a look when I get home.

[2016-08-18 18:11] dlemstra commented on #454
Can you test with 1012 @dwdickens? The patch that I just pushed should resolve the issue.

[2016-08-18 18:47] omariom opened #457 "Perf improvment from using ColorPixelAccessor instead of IPixelAccessor<Color, uint>"
When I uncomment the cast the  number of operation on my machine jumps:
for reads 400 => 1110, for writes 320 => 720.

[code]

[2016-08-18 20:15] KLuuKer opened #458 "[Core] Skip loading\processing of EXIF\metadata when opening file"
Great library!
Also good that you are supporting EXIF data but....

I would like to completely skip the processing of EXIF (and any other non relevant metadata) and also not include it in the final output.
Because I am processing\downscaling\compressing images for use on a public facing website and nobody needs to see the EXIF data anyway.

This question was bound to show up :)

[2016-08-18 20:47] geoffbeaumont opened #459 "Azure Blob Returned Directly Unprocessed"
Following an upgrade to:
ImageProcessor v2.4.4.0.
ImageProcessor.Web v4.6.4.0
ImageProcessor.Web.Config v2.3.0.0
ImageProcessor.Web.Plugins.AzureBlobCache v1.1.1.0
the images are now being returned directly from the site, unprocessed.

When this is requested:
https://sitedomainname/media/1357/my-image.jpg?anchor=center&mode=crop&width=297&height=152

Instead of being redirected to the cached proce

[2016-08-18 21:30] dlemstra commented on #458
The EXIF won't be parsed until you try to get information from it. When the decoder reads the EXIF data it just reads a bunch of bytes and stores them in an array. The encoder will then just copy those bytes in the output image. I don't think this will have a noticeable effect on your performance.

@JimBobSquarePants Might be good to still have an option disable reading/writing metadata in the enc

[2016-08-18 23:27] JimBobSquarePants commented on #457
Hi @omariom Thanks for picking up on that.

I'm calling `IPixelAccessor<T,TP>` "The Last of the Casts". I need to figure out a class that can handle the equivalent of all these [PackedVector](https://github.com/MonoGame/MonoGame/tree/3a22412449ec0768ca07d02bade896d90cabd029/MonoGame.Framework/Graphics/PackedVector) types and return the right thing without boxing.

Generics and pointers do not go w

[2016-08-18 23:34] JimBobSquarePants commented on #458
Yeah, we could do that as an overload I'm sure and pass the option through to the decoder.

[2016-08-19 00:17] JimBobSquarePants commented on #459
On first glance your CDN root is wrong, You're calling the blob storage location not the CDN URL, If you are not using a CDN comment out the setting.

[2016-08-19 05:27] CVertex commented on #294
What's the status of this? Blend modes are fun, I might help if you're not finished..
If you can layout a rough structure and pattern, it'll make it easier.

From what I can see, I'd make blend modes part of the Overlay op, but maybe we want it in more places?

[2016-08-19 07:46] KLuuKer commented on #458
@dlemstra our company makes a saas webshop and end users don't need to see EXIF data (if it exists in the first place). It also makes the file bigger if it's included, and with allot of users hitting the site it saves a ton of bandwidth (for all parties involved moving that data around).

p.s. hé kijk een nederlander :)

[2016-08-19 08:10] dlemstra commented on #458
If optimization of file size is an issue then you might also want to take a look at a feature that exists in my library (https://magick.codeplex.com/). It will require an extra dependency but it works on .NET Core on Windows. If you need to have it work on an other platform you will need to wait a while.

My library has a class that can be used to compress the size of a JPEG/PNG/GIF without loss o

[2016-08-19 08:28] KLuuKer commented on #458
Unfortunately i have to run on linux and windows so that's not a option.
I am also not a fan of using native dll's for security reasons.

[2016-08-19 08:42] dlemstra commented on #458
I think we will make this 'NoExif' option an extra option that you can pass to the `SaveAsFormat()` methods. And we will also need to add an option for when an image is Read. Maybe we could also add ReadAsJpeg @JimBobSquarePants ?

[2016-08-19 09:08] KLuuKer commented on #458
Maybe name it 'NoMetadata' (as its a more generic term), for when there will be supported for WebM\WebP and to skip loading of RIFF data

[2016-08-19 09:16] dlemstra commented on #458
The quotes were added to try to clarify that my name was just a suggestion :smile: . I personally think `IgnoreMetadata` is a better name and yes it should be used by multiple coders.

[2016-08-19 10:43] rodrivel commented on #455
@JimBobSquarePants, we have been making some changes and updates and it seems to work perfect now (v2.4.4 with .NET 4.5).  The whole process takes 600ms for each image (jpg 1200x900px).

Sorry for the late and thanks for your time.

Best

[2016-08-19 11:58] dwdickens commented on #454
great works @dlemstra, its working now with 1012. Thanks a million!

[2016-08-19 12:03] dlemstra commented on #454
You can email me for my bank account number to transfer that million :smiling_imp: .

[2016-08-19 12:06] dwdickens commented on #454
cheque's in the mail I swear

[2016-08-19 13:06] dlemstra commented on #454
Okay I'll quit my job then and close this issue.

[2016-08-19 13:06] #454 closed

[2016-08-19 14:05] dwdickens opened #460 "Overflow when decoding a particular png"
![37](https://cloud.githubusercontent.com/assets/13432550/17812068/e06cc9f0-6668-11e6-8ab8-dd0e17bee60c.png)

Opening the attached file throws the following error. I've been using many other png files and these work fine.

{System.OverflowException: Array dimensions exceeded supported range.
   at ImageProcessorCore.Formats.PngDecoderCore.ReadChunkData(PngChunk chunk)
   at ImageProcessorCore.Form

[2016-08-19 14:11] geoffbeaumont commented on #459
That didn't make any difference. What does CDN root do then? I assumed it specified the base URL to serve the files from (I can't see any other reason ImageProcessor would need to know about the CDN? Surely it would just push files to the BLOB storage and they'd be available via the CDN?).

I've rolled the ImageProcessor DLLs and config back on one instance and still have the same problem, so I th

[2016-08-19 15:12] geoffbeaumont commented on #459
Okay, after a bit of playing around I've got it working - the problem was in security.config where I had:

`<service prefix="media/" name="CloudImageService" type="ImageProcessor.Web.Services.CloudImageService, ImageProcessor.Web">
      <settings>
        <setting key="MaxBytes" value="8194304"/>
        <setting key="Timeout" value="30000"/>
        <setting key="Host" value="https://accname.blo

[2016-08-19 15:12] #459 closed

[2016-08-21 03:21] JimBobSquarePants commented on #459
Yeah, need to update the docs. Working on the latest release of that so will do so once we've finalised.

[2016-08-21 03:21] JimBobSquarePants commented on #455
That's great news! You had me worried there!

[2016-08-21 03:21] #455 closed

[2016-08-21 03:42] JimBobSquarePants commented on #457
@omariom I decided to experiment taking a different approach and have pushed the commit above to test the performance passing the `IPixelAccessor<T,TP>` as a generic type parameter. The results are really odd though. I seem to have, not only a slowdown but an increase in memory use also. I don't know why.

Before
[code]

After

[code]

Would you be able to have a look?

[2016-08-21 04:11] #460 closed

[2016-08-21 04:12] JimBobSquarePants commented on #460
Thanks for that. One of the fun things when writing a decoder is coping with poor encoding via other tools.

Should be good now.

[2016-08-21 04:21] JimBobSquarePants commented on #294
Dunno what the progress is just now.

I think we should actually implement them as extension methods for `Vector4` that way we can use them for all `IPackedVector` types. After we can add some syntactic sugar by wrapping the methods in the `Color` struct.

e.g.

[code]

[2016-08-21 09:30] CVertex commented on #294
@JimBobSquarePants Okay cool.

Defining these ops at a pixel level will work for multiply and many of the separable operations should be fine. However, you're could miss some perf opportunities by not running these on regions or whole images.

For region based operations, like saturation and blend, how do you want those to be structured?
I think you can run these in multiple passes if you want to

[2016-08-21 10:50] JimBobSquarePants commented on #294
@CVertex To be honest, I'm not sure. I've struggled with the granularity requirements of the API at several points.

My gut feeling is to define at pixel level and then look for opportunities to enhance performance when they occur. Most operations internally are by pixel anyway and to allow the possibility of manipulation outside of the current processor architecture would always be a bonus.

[2016-08-22 03:29] dbajric opened #461 "Adding querystring params causes an error"
I am running version 2.4.3.0 of ImageProcessor and 4.6.3.0 of ImageProcessor.Web.
When I add a custom query string parameter that I use for tracking purposes, I get following error:

Ideally, any parameters not used by the ImageProcessor would be ignored.
Is there currently a way to avoid this issue, and if not could you guys add some capability that would allow me to pass any arbitrary params wit

[2016-08-22 03:48] JimBobSquarePants commented on #461
Hi @dbajric

Actually that's not true. the full url is used for generating the cache key so we can't ignore parameters as parsing the string and stripping any unknown ones out is too labor intensive to be useful.

If you follow the [docs](http://imageprocessor.org/imageprocessor-web/) you'll see the linked issue that led to the restricted API design. #49 It's a lot of reading but we really wanted

[2016-08-22 03:48] #461 closed

[2016-08-22 06:56] CVertex commented on #294
@JimBobSquarePants I hear ya dude..

Let's start with the pixel level ops and see how that feels for accomplishing some things..

[2016-08-22 08:10] adamsitnik commented on #457
@JimBobSquarePants I think that the best way to help you is to share with you the source of my knowledge.

IMO the best book to recommend is  "Pro .NET Performance" by Sasha Goldshtein (I read it at least 3 times, it's simply priceless). The [3rd chapter "Type Internals"](http://techbus.safaribooksonline.com/book/programming/microsoft-dotnet/9781430244585/chapter-3-type-internals/navpoint-23) cont

[2016-08-22 12:31] omric-axonize commented on #426
Hi,
We are looking for this awesome feature too!
Any ETA on this?

Thanks!

[2016-08-22 12:56] dlemstra commented on #426
This feature has been added we are still fine tuning it but the latest build from appveyor should have this feature.

[2016-08-22 13:03] gdoron commented on #426
It's not on myget yet, right?
I checked the latest version, 1.0.0-alpha-999, and it doesn't seem to exists there.

[2016-08-22 14:43] omariom commented on #457
@JimBobSquarePants

May be this?

[code]

Unsafe is from https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/

[2016-08-23 08:02] JimBobSquarePants commented on #426
We're a few build on from that now.

v1.0.0.1021 as of just now.

https://ci.appveyor.com/project/JamesSouth/imageprocessor/branch/Core

[2016-08-23 08:02] #426 closed

[2016-08-23 08:25] JimBobSquarePants commented on #444
![imageprocessor-logo-512](https://cloud.githubusercontent.com/assets/385879/17885084/e220b114-695e-11e6-8bb2-f533f022144e.jpg)
Hi @mweber26 This image should be CMYK for debugging against. Could you have a wee look when you can please?

[2016-08-23 09:20] gdoron commented on #426
@JimBobSquarePants Can you please push it to myget?
I still get `1.0.0-alpha-999` as the latest version there.

[2016-08-23 09:52] JimBobSquarePants commented on #426
![myget](https://cloud.githubusercontent.com/assets/385879/17887640/b4831be6-696a-11e6-9219-49d0cd5a4690.png)

Can you double check this. Publishing is automatic.

[2016-08-23 09:53] JimBobSquarePants commented on #426
Actually hold on, main page says different!

[2016-08-23 09:58] JimBobSquarePants commented on #426
It's MyGet, it's not understanding version numbers!  https://www.myget.org/feed/imageprocessor/package/nuget/ImageProcessorCore/1.0.0-alpha-1021

[2016-08-23 10:06] gdoron commented on #426
You're right, I found it somewhere way way down the list, for some reason VS/myget decided 1000 < 999.
Sounds legit... :dizzy_face:

[2016-08-23 10:29] JimBobSquarePants commented on #426
Frantically investigating semver rules now. Not sure how I can fix this. :worried:

[2016-08-23 10:58] JimBobSquarePants commented on #426
Fixed. https://www.myget.org/feed/imageprocessor/package/nuget/ImageProcessorCore

[2016-08-23 16:11] omariom commented on #457
@JimBobSquarePants

I will be faster if

[code]

[2016-08-23 16:37] omariom commented on #457
Instead of copying pixel one by one you can use a method like this:
[code]

CropProcessor and ResizeProcessor can call it instead of looping:
[code]

[2016-08-23 17:32] omariom opened #462 "Multidimensional vs jagged arrays"
Access to jagged array elements is currently faster:

Output:
[code]

Microbecnhmark:
[code]

[2016-08-23 22:04] JimBobSquarePants commented on #457
Thanks @omariom for the update and for the extra code. I've actually been considering adding extra methods like this. BTW what are you using to measure read/write?

[2016-08-23 22:07] JimBobSquarePants commented on #462
I'm trying to think where I use a multidimensional array? I've been using a 1D array throughout and mathing my way to the correct part. As far as I'm aware that should be faster than both.

[2016-08-24 03:07] omariom commented on #457
Just a Stopwatch.

[2016-08-24 03:09] JimBobSquarePants commented on #457
@omariom

I think there was a mistake in your tests. The source and target pointers are incorrect as they havn't been multiplied by the `TColor` size.

[code]

I wrote a benchmark comparing copying individual pixels and row and on my machine it appears individual pixels are actually faster. I *could* of course have a mistake in my tests.

[code]

[2016-08-24 11:00] omariom commented on #457
Hmm.. Can you measure `Crop` itself?
Because on my machine fixed `CopyLine`  version is still better:
Line:  0.0009 sec
Pixel: 0.0017 sec
[code]
`Measure.Time` is just a wrapper around Stopwatch.

[2016-08-24 11:03] omariom commented on #462
@JimBobSquarePants

I see `float[,]` in many places.
For example, [Convolution2PassFilter](https://github.com/JimBobSquarePants/ImageProcessor/blob/Core/src/ImageProcessorCore/Filters/Processors/Convolution/Convolution2PassFilter.cs#L23).

[2016-08-24 12:48] JimBobSquarePants commented on #462
Ah yeah, of course!

Managed to break all my edge detection code in the last few commits so I'll look into switching out as I figure out whats wrong.

[2016-08-24 12:49] JimBobSquarePants commented on #457
Will do. :smile:

[2016-08-25 06:10] dbajric commented on #461
This will work for me.

Thanks!

[2016-08-25 23:05] simoazzo opened #463 "The remote server returned an error: (500) Internal Server Error."
Hi,

I have a site online and was working fine, using the Image Processor.

All of a sudden, remote images were not working and nothing has been changed from the file system on the server. For images being served remotely, an internal error is being thrown: https://www.remaxcollection-malta.com/remote.axd?http://www.remax-malta.com/UserImages/24/large/L_878263c333524b61bb336ed6eba363a2_iList.jpg?a

[2016-08-26 00:19] JimBobSquarePants commented on #463
Hi @simoazzo

What steps have you done to debug this so far. The error message looks to me like a malformed url is somehow being sent to your remote server. Attach a debugger to a local build of the requesting server. If you are using **ImageProcessor v2.4.0** or later (**ImageProcessor.Web v4.6.0** or later) you will receive debug logs to your output pane in visual studio which will help you gath

[2016-08-29 16:28] MarcosMeli commented on #379
@JimBobSquarePants
Just a little question here. There is an option to use the .Net native image load implementation and convert the resulting Bitmap to the format you need ?

ie. try to use custom decode for the pngs but, if interlaced, so use Bitmap constructor: https://msdn.microsoft.com/en-us/library/z7ha67kw(v=vs.110).aspx

Thanks

[2016-08-29 16:59] dlemstra commented on #379
The library should build on .NET Core where we don't have the Image class of System.Drawing. Adding it to the encoder should be the way to go.

[2016-08-29 17:50] MarcosMeli commented on #379
@dlemstra Thanks for clarification, I understand now.

[2016-08-31 00:05] JimBobSquarePants commented on #264
I'm moving this to v1.1 as it's far too big a scope of functionality to include just now. Hopefully we can all club together and get a really great API working for this.

[2016-08-31 01:49] JimBobSquarePants opened #464 "No Tiff support."
We should be able to support TIFF

Useful links.

http://partners.adobe.com/public/developer/tiff/index.html

http://www.remotesensing.org/libtiff/

http://www.awaresystems.be/imaging/tiff.html

[2016-08-31 01:50] JimBobSquarePants commented on #453
Hello?

[2016-08-31 01:52] JimBobSquarePants commented on #427
Hello?

[2016-08-31 01:55] JimBobSquarePants commented on #342
Closing this as there has been no response from the OP. @Grebe-M Will maybe look into arbitrary filter lengths in the future but it's not a priority now. The API is extensible enough for someone to create and use their own processor with the base classes.

[2016-08-31 01:55] #342 closed

[2016-08-31 23:21] JimBobSquarePants commented on #347
I was asked about this issue so I thought I'd comment here with some updates on progress made and where I'd like to focus on.

Since I opened the thread we've:

- Reduced the amount of memory used per image by 75% by adopting a generic API and using bytes per color component by default.
- Reduced operational memory by half for filters by operating on the input image without copying.
- Sped up pixe

[2016-09-01 20:29] joshball opened #465 "resizing and ProPhoto RGB"
First, I know very little about image theory... ;-)
We have been using imageprocessor to resize for a while now. No issues.
However, we just had an image come through that, when resized, its "color" would change (naive term, I know, but it basically got brighter):

Original Image:
Processed with: /remote.axd/path/18_raw.jpg
![18_raw](https://cloud.githubusercontent.com/assets/127526/18183030/5899a

[2016-09-02 05:12] JimBobSquarePants commented on #457
Sorry for the delay.

Been testing Crop itself using the two methods. And I'm still seeing a 10% slowdown using CopyRow which is surprising as I can't see how I'd possibly beat memcpy.

Per-pixel
[code]

Per line

[code]

[2016-09-02 07:18] adamsitnik commented on #457
@JimBobSquarePants Could you try calling `System.Buffer.MemoryCopy` instead of `Unsafe.CopyBlock`? It's [the most optimized](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Buffer.cs#L282) one available in framework itself

[2016-09-02 09:28] JimBobSquarePants commented on #457
@adamsitnik I'll have a look. Can't benchmark properly on my home computer though so will have to wait til monday

[2016-09-06 00:50] Bartmax opened #467 "The specified CGI application encountered an error and the server terminated the process"
When resizing multiple big images on aspnet core i usually get:
[code]

is there anything I can do to mitigate this?

[2016-09-06 00:57] JimBobSquarePants commented on #467
No idea. I'm going to need waaaaay more information than that.

[2016-09-06 01:19] Bartmax commented on #467
What kind of information?
This happens on azure standard-size machine. It doesn't on local machine, and I can repro if I choose to resize ~7 images of about ~20mb each to a resolution of 600px width (keeping aspect) that ends in about ~45kb. (just an example). Almost any time consuming resize process return that error.

[2016-09-06 03:57] JimBobSquarePants commented on #467
Are those images 20MB each compressed or do you mean in memory?
How long are they individually taking?

If the resize is actually taking place then you might be on track. It sounds like there is some sort of response timeout taking place which would be in the realms of the ASP team to instruct you on working around. It can't be an imageprocessor specific issue since no exceptions are thrown by the

[2016-09-06 04:06] JimBobSquarePants commented on #457
@adamsitnik Is MemoryCopy in Core? I can't seem to find it.

[2016-09-06 11:26] JimBobSquarePants commented on #264
Hey @cartman300 what happened to the source code from when you wrote the demo? I was going to see if I could continue your work but various methods seem to be missing.

[2016-09-06 11:57] adamsitnik commented on #457
@JimBobSquarePants You are right! This method is not visible from public surface for .NET CORE ;/ I am sorry, I did not know that. However I have [updated your benchmarks](https://github.com/JimBobSquarePants/ImageProcessor/pull/468).

What will be the most common scenario for usage of this method? I mean what size will people use? There was huge difference for huge vs small:
[code]

[2016-09-06 12:42] JimBobSquarePants commented on #457
From my own personal usage of crop methods (web) it's generally a case of reducing images from 2000x1000 down to 480x240 or similar. I noticed though that switching from `Array.Copy` to `Unsafe.BlockCopy` to when copying pixel arrays of approx 1198x804 my unit tests jumped in performance.

[2016-09-06 12:49] Bartmax commented on #467
@JimBobSquarePants 20mb compressed.
Each image takes a considerable amount of time. don't know exactly how much
I will try to investigate a little further and then cross reference to the aspnet team.
I'll let you know if I discover something.

[2016-09-06 12:52] JimBobSquarePants commented on #467
Thanks!

[2016-09-06 13:26] dwdickens opened #469 "How can I reduce the depth when saving [question] [core]"
Hi! Love this project and thanks so much for all the work in creating it.

I'm using ImageProcessorCore to resize and save uploaded images. However, sometimes the image size is large (both the uploaded image and saved image). For example, the attachment is a 308kb PNG that is only 376x468.

I think this is because of the bit depth (32)? If so, how can I cap this when saving the image so that the f

[2016-09-06 14:05] JimBobSquarePants commented on #469
Hi there and thanks! There's a couple ways just now.

If you want to preserve the original image format as png, setting the `Image.Quality` property to 256 and below will automatically quantize the image encoding an indexed version. The Wu Quantizer is very good and will work well for most pngs.

Otherwise you can save the image using the `Save(Stream, IImageEncoder )` overload and use a new `PngE

[2016-09-06 14:28] mweber26 commented on #444
I will try to look at fixing this, but it looks like you guys have moved on to .Net core and I don't use that (under linux and mac).  So I can't get the current master to compile.  I will try to fix under an older version and get a diff.

[2016-09-06 15:49] mweber26 commented on #444
Like I said -- I can't really make a pull request since I can't compile the master branch.  But here is the diff from an old revision to enable CMYK (4 components)

https://github.com/mweber26/ImageProcessor/commit/dfabf30fa872444cff7b0f427850b031190461e1

[2016-09-07 02:25] #444 closed

[2016-09-07 02:37] JimBobSquarePants commented on #444
That's absolutely brilliant @mweber26 Thanks for your help!

I was able to easily translate your work to a solution I could include it. There's been a lot of changes in the repo since you last looked.

I dunno what the tooling is like on linux and mac for .NET Core as it stands. That's our target now as it means much greater visibility

[2016-09-07 02:43] mweber26 commented on #444
No problem.  I understand.  The tooling for .Net Core on linux and mac is very good (I've looked at it before).  We just haven't transitioned to it at our company since we have third party libraries that have not made the transition.

I tried to compile Core on standard .net mono and the thing that was incompatible was the System.Runtime.CompilerServices.Unsafe class (from PixelAccessor), which on

[2016-09-07 03:36] JimBobSquarePants commented on #444
Yeah, there's a lot of stuff still to make the transition. We're pioneers here!

I'm very surprised that wasn't able to compile. The support matrix seems quite large according to [nuget](https://www.nuget.org/packages/System.Runtime.CompilerServices.Unsafe/), I actually thought it would be complete given that it is a single class made up of IL.

Unfortunately no way around it just now. An alternat

[2016-09-07 08:11] Schaussi opened #470 "Drawing an image on an image"
Unfortunately, I have not found a way to do this yet.
Does a method like Graphics.DrawImage() exist in ImageProcessorCore?

E.g. it would be great if something like this would work:
`using (Graphics g = Graphics.FromImage(_resultImage))
                    {
                        g.DrawImage(_otherImage, x, y);
                    }`
Thank you

[2016-09-07 08:59] dlemstra commented on #470
@JimBobSquarePants We call this Compose in ImageMagick. Maybe we should add a Compose Sampler?

[2016-09-07 09:21] JimBobSquarePants commented on #470
There's no 2D drawing in ImageProcessor yet.....
 I have an open ticket #264 that would cover paths etc but that still has work to do. Whatever we make I want it to be feature rich, easy to use and powerful. The architecture would be difference from the standard samplers.

[2016-09-07 09:30] dlemstra commented on #470
This is not drawing text/paths. Its drawing one image on top of another image. In other words copy pixels from the specified area of the source image to the destination image. I would prefer to do this in a Compose sampler so we could add features like only copying one channel.

[2016-09-07 11:33] JimBobSquarePants commented on #470
@dlemstra I'd actually like to have a look at splitting channels. The blend processor can merge based on lerping but that's all or nothing.

[2016-09-07 11:58] JimBobSquarePants commented on #465
Hi @joshball really sorry bout the slow reply. I actually posted one a few days but it must not have actually registered on the server.

Having a look at the colourspace I would definitely expect some difference in colours. However an increased brightness is a surprise. I would have expected a decrease in tonality. Unfortunately I have no way to know what System.Drawing does when decoding an image

[2016-09-07 11:58] #465 closed

[2016-09-08 00:19] JimBobSquarePants commented on #464
@kierenj It's certainly not an unhelpful comment. Tiff would be hard and I'm sorely tempted to let someone else figure it out and concentrate on what we have already. I'm just dreading the day someone tells me that the library is useless without it. There's always someone!

[2016-09-11 09:44] fleed opened #471 "PDF conversion"
Any plan to support PDF conversion to image formats?

[2016-09-12 00:22] #471 closed

[2016-09-12 00:25] JimBobSquarePants commented on #463
Closing due to lack of response.

[2016-09-12 00:25] #463 closed

[2016-09-12 00:25] JimBobSquarePants commented on #427
CLosing due to lack of response

[2016-09-12 00:25] #427 closed

[2016-09-12 01:29] #469 closed

[2016-09-12 05:28] fleed commented on #471
Makes sense, thanks.

[2016-09-13 17:11] Emyr42 commented on #470
`using (Graphics g = Graphics.FromImage(_resultImage)) {  g.DrawImage(_otherImage, x, y); }`

Create an ImageFactory using a Stream (wherever you got _otherImage, or save _otherImage to a MemoryStream)...

    _otherImageFactory.Overlay(
        new ImageLayer
        {
            Image = _resultImage,
            Position = new System.Drawing.Point(x, y)
        }
    );

Maybe Overlay needs mor

[2016-09-13 21:22] JimBobSquarePants commented on #470
THATS NOT CORE

[2016-09-13 21:34] Emyr42 commented on #470
No need to shout. Other projects make it a little more obvious my having distinct repositories.

[2016-09-13 22:32] Emyr42 commented on #470
using (FileStream streamFoo = File.OpenRead(@"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\ProjectTemplates\Extensibility\1033\VSShellTemplate\VSShellStubExe\Documentation\Images\AppEnv.jpg"))
            using (FileStream streamBar = File.OpenRead(@"C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE\Extensions\InstallShield\InstallShieldProject\1033\IS-text-200wide

[2016-09-13 22:47] JimBobSquarePants commented on #470
Sorry, didn't mean to. Was on my phone. Will have a proper look when I get to a desktop.

[2016-09-14 00:42] JimBobSquarePants commented on #470
@Emyr42 You're absolutely correct. We need another parameter, most likely a rectangle, the first rectangle signifies the area of interest of the image to blend.  The second would represent to location to drop the image.

My thought would be that if the second rectangle dimensions do not match that of the source image re would scale it.

What do you think?

[2016-09-14 07:19] JimBobSquarePants commented on #470
Oh @Emyr42 meant to ask,

What do you mean by this?

[2016-09-14 07:55] NeelBhatt commented on #347
I like this package and have wrote basic blog for decoding of JPEG using this. which is here:

https://neelbhatt40.wordpress.com/2016/09/14/jpeg-decoder-for-net-core/

Thanks for the Nuget package.

[2016-09-14 08:04] JimBobSquarePants commented on #347
Hi @NeelBhatt Thanks for the publicity! 😄

I'd just like to suggest some updates to your blog if that's ok to correct a few details.

Just to clarify. The ImageProcessor version (2.4.4) published in Nuget is the legacy version that runs on the full .NET Framework. That version is in a separate branch in this repo called Framework.

What you are looking for to work on .NET Standard 1.1 + is the Ima

[2016-09-14 08:43] NeelBhatt commented on #347
Oh okay so you mean for .Net core, we need to download it from the link you mentioned in your comment correct?

I will surely change that. Thanks :)

[2016-09-14 09:31] Ciantic commented on #447
I think the problem is that it doesn't work with netcoreapp1.0, this app requires net46 or similar framework. Is this intentional? If the library targets only net45/net46 it can't be run in .NET Core only environments such as Linux.

It would be nice if it worked with this kind of project.json:

[code]

But in order to do this, the library must shake it's dependency on System.Drawing, which is bei

[2016-09-14 10:53] JimBobSquarePants commented on #447
What dependency on `System.Drawing`?

Have you tested any of this?

I've just downloaded the latest nightly from the [MyGet](https://www.myget.org/gallery/imageprocessor) repository and installed it successfully into a .NET Core console application. Everything built perfectly.

Here's the resultant project.json

[code]

And here's a screenshot of the running console.

![sample](https://cloud.githu

[2016-09-14 11:43] Ciantic commented on #447
@JimBobSquarePants sure I tested, not trolling, honest.

I think this might be the problem: If you start typing in Visual Studio to project.json "ImageProce..." it suggests this:
[code]

Naturally I chose that, I gather that is wrong? Also, I thought I was right because I read your benchmark project.json as an example: https://github.com/JimBobSquarePants/ImageProcessor/blob/Core/tests/ImageProces

[2016-09-14 11:59] JimBobSquarePants commented on #447
Do you have the MyGet feed in your package manager settings? I always rely on Nuget Package Manager to install dependencies.

The benchmark project.json is set up like that because I am benchmarking against System.Drawing which requires the full .NET framework

ImageProcessor and ImageProcessorCore are two separate products. One that I now consider legacy which requires the full .NET Framework and

[2016-09-14 12:00] Ciantic commented on #447
Yes, got it working now with bleeding edge NuGet feed. Excellent library! Thanks.

[2016-09-14 12:01] JimBobSquarePants commented on #447
Excellent. Have fun and please any feedback let me know.

[2016-09-15 04:41] JimBobSquarePants commented on #453
Closed due to lack of response

[2016-09-15 04:41] #453 closed

[2016-09-15 09:19] akusmin commented on #458
@KLuuKer , there is workaround. Just set image ExifProfile to null.

Regards

[2016-09-15 10:18] JimBobSquarePants commented on #313
Closing to continue in #135

[2016-09-15 10:18] #313 closed

[2016-09-15 13:40] Squiggle commented on #188
Surely this _is_ wrong.

For example, to crop a 100x100 square from the center of a 200x200 image, one would assume the values are: `Left: 50, Top: 50, Right: 50, Bottom: 50`

Instead we need to enter the the width and height, so the values are: Left: 50, Top: 50, Right: 100, Bottom: 100.

It's just a matter of naming the parameters more appropriately, but it took me a while to figure out what was

[2016-09-15 21:16] JimBobSquarePants commented on #188
The params mean two different things based on mode. Docs are really clear. http://imageprocessor.org/imageprocessor/imagefactory/crop/#usage

[2016-09-15 21:16] JimBobSquarePants commented on #188
Couldn't change them if I wanted to either.

[2016-09-18 20:41] cartman300 commented on #264
The source code was very ugly and i deleted the old repository so i can re-clone the project again and reimplement it again. Got unexpectedly very busy lately so i can't guarantee anything, can give general guidelines tho.

Currently what's on top of my mind:
The easiest way would be to write a "software renderer" of some kind to render polygons to an image, that part can be later reused.

After t

[2016-09-18 20:46] cartman300 commented on #264
This part might come in handy, isn't the most efficient but should get you started
https://github.com/cartman300/Libraria/blob/master/LibrariaShared/Maths.cs

[2016-09-19 09:28] rasmuseeg opened #472 "MaxWidth and MaxHeight - Parameter is not valid"
Hi There,

After the security change mentioned here: #3

I'm trying to resize a image thats 6000x4000, the default settings for MaxWidth and MaxHeight does not allow resizing images greater then 5000x5000.

I just want to ask if this is inteded, and it should not just restict to the parameters (width, height) to be greater then 5000. And not the actual image being processed?

Images greather then

[2016-09-19 09:56] JimBobSquarePants commented on #472
Hi there,

Yeah the restricted values are there to prevent you resizing to larger than those dimensions. They've been there since long before the security updates so I would be keen to know what the exact querystring parameters you are sending are.

Cheers

James

[2016-09-19 10:05] rasmuseeg commented on #472
Here is the uri:

http://localhost:51327/media/1100/drone-close-up.jpg?width=300

[2016-09-19 10:46] rasmuseeg commented on #472
Try the following image:
![3999](https://cloud.githubusercontent.com/assets/1511208/18629630/231ee164-7e67-11e6-8ee5-1635aca8246e.png)

[2016-09-19 11:47] JimBobSquarePants commented on #472
Yeah. That's correct. I'll give it a wee test asap.

[2016-09-19 12:18] rasmuseeg commented on #472
@JimBobSquarePants Thank you!

[2016-09-20 10:13] czerwiakowskim opened #473 "Property cannot be found - when processing animated gif"
When trying to process animated gif (scale down) I have below error:

[ArgumentException: Property cannot be found.]
   System.Drawing.Image.RemovePropertyItem(Int32 propid) +476289
   ImageProcessor.ImageFactory.ClearExif(Image image) +141
   ImageProcessor.ImageFactory.Save(Stream stream) +93
   ImageProcessor.Web.HttpModules.<ProcessImageAsync>d__32.MoveNext() +3722
   System.Runtime.CompilerSe

[2016-09-20 12:40] JimBobSquarePants commented on #473
I don't think you're missing anything if you are using those versions.

I was absolutely sure I'd got rid of this bug a while back. I'll double check against the latest build.

[2016-09-20 17:50] czerwiakowskim commented on #473
Super! Thanks a lot, I'm first to test it ;)

[2016-09-21 11:26] JimBobSquarePants opened #474 "Dithering"
I'd like to find a way I can add dithering to the various quantizers.

See the following for inspiration. Ideally we would be able to pick from multiple algorithms.
http://www.codeproject.com/Articles/66341/A-Simple-Yet-Quite-Powerful-Palette-Quantizer-in-C

[2016-09-21 12:16] yyjdelete opened #475 "Examples for ImageFactory.Resize is broken"
see
http://imageprocessor.org/imageprocessor/imagefactory/resize/
and the pics got 404s.

[2016-09-21 12:49] JimBobSquarePants commented on #475
Cheers! fixed.

[2016-09-21 12:49] #475 closed

[2016-09-21 12:50] DanDiplo opened #476 "Processing dynamic MVC FileContentResult images"
This is more of a query than an issue and pertains to ImageProcessor.Web 4.6.4. I'm experimenting with an  MVC 5 application that stores images in the database and then returns them to the view as a [FileContentResult ](https://msdn.microsoft.com/en-us/library/system.web.mvc.filecontentresult(v=vs.118).aspx) using an MVC Controller.  The experiment is based on this tutorial - [ASP.NET MVC 5 with E

[2016-09-21 13:29] JimBobSquarePants commented on #476
Hi Dan,

Yeah, ImageProcessor.Web won't be able to intercept images that way since it will be expecting the file to be on the filesystem.

What you will need to do is create an implementation of the `IImageService` that ImageProcessor.Web can then use to intercept the request and pull the resultant stream from the database.

Here's a demo implementation that will get you started.

https://github.c

[2016-09-21 13:51] DanDiplo commented on #476
Thanks, James, that's a great answer and points me on the right track!

[2016-09-21 13:57] JimBobSquarePants commented on #476
Excellent. I'll close this for now then. If you get into any difficulty please reopen the issue and we can figure it out together.

[2016-09-21 13:57] #476 closed

[2016-09-21 15:45] dsargent3220 opened #477 "Error from ImageProcessor with CKEditor's icons.png"
We upgraded to a newer version of ImageProcessor and now CKEditor's icons.png causes it to break anytime we pass a querystring to it (any querystring)
I'm attaching the specific file.  Took us a while to find it because an older copy of ImageProcessor has already cached it on prod and some of our local boxes, so it seemed intermittent.
Anyway, here's the file.
![icons](https://cloud.githubusercont

[2016-09-22 00:20] JimBobSquarePants commented on #477
Hi Dave,

Could you perhaps please provide me with a little more information?

Specifically:

- What versions of ImageProcessor and ImageProcessor.Web you are using?
- What is the exception message?
- What would be a demo querystring parameter?

I'm fairly certain the image is irrelevant and the issue is one of security and that your custom querystring parameters are throwing the error.

See the d

[2016-09-22 03:10] dsargent3220 commented on #477
I'm at home but will do my best.
Latest versions of both (not the core rewrite)
I'm trying to remember the exact message. It was coming from image processor.web. Something about not understanding the attribute. Sorry. All I can recall right now.
Any query string. ?a would do it. Creditor automatically adds cachebusting querystrings to their assets, this the problem.
I'll get you the exact error me

[2016-09-22 04:27] JimBobSquarePants commented on #477
Yeah, that sounds exactly like the issue I've described. We had to do some quite draconian work in order to beef up the security. implementing the event-handler to strip out the params internally will be what you want.

[2016-09-22 07:07] CVertex opened #478 "Encoding Errors on incoming image URLs"
Hey,

I'm using ImageProcessor to process some images for our customers. Recently, people started sharing these URLs on facebook and IP is not decoding parameters correctly.

Instead of the URL https://muru.info/remote.axd?https://i.scdn.co/image/8851b36688b767d01a00c7d1f0981997db0062d2?width=512&startcolor=aad774&endcolor=ac2833

Facebook is asking for

https://muru.info/remote.axd?https%3A%2F%2F

[2016-09-22 07:54] JimBobSquarePants commented on #478
Hi Vijay,

This will be the line in question. Should be easy enough to test and fix.

https://github.com/JimBobSquarePants/ImageProcessor/blob/1daf15cb83cd7b715192260acfdf76aca8dc3b9f/src/ImageProcessor.Web/Services/RemoteImageService.cs#L78

I'll have a look asap, though feel free to have a peek yourself.

Cheers

James

[2016-09-22 15:20] JimBobSquarePants commented on #478
Looks like I've fixed it in source. I tested it in the test website with your encoded url.

 Could you have a look to be sure though.

[2016-09-22 16:20] dsargent3220 commented on #477
Got this implemented and it worked.  Thanks!

[2016-09-22 16:20] #477 closed

[2016-09-22 18:12] oguzhansari opened #479 "Image Crop Background Color Problem?"
I Image resize.
Sizing Type: "BoxPad".
I can not change the background color. :(
Image position: center.

imgfac.Load(InputStream.ToArray());
imgfac.BackgroundColor(Color.White);
ResizeLayer RL= new ResizeLayer(new Size(200, 400, ResizeMode.BoxPad, anchorPosition: AnchorPosition.Center);

I can not change black color. :(

<a href="http://hizliresim.com/VEBlMV"><img src="http://i.hizliresim.com/VEB

[2016-09-22 18:43] oguzhansari commented on #479
I added the background color after resizing.
Successful conclusion :)

[2016-09-22 18:44] #479 closed

[2016-09-23 01:58] JimBobSquarePants commented on #479
Glad your figured this out. The lack of alpha channel in jpegs throws a lot of people off.

[2016-09-23 01:59] JimBobSquarePants commented on #477
Great Stuff! 😄

[2016-09-26 10:08] glat commented on #422
I had to use that method because I recompiled ImageProcessor with strong name to put in cache but the line is wrong. It does nothing because ToList() creates a clone of the object so the line:

this.SupportedImageFormats.ToList().AddRange(format);

should be:

List<ISupportedImageFormat> list = this.SupportedImageFormats.ToList();
list.AddRange(format);
this.SupportedImageFormats = list;

Please t

[2016-09-26 10:44] JimBobSquarePants commented on #422
Could you perhaps create a PR?

[2016-09-26 13:28] JimBobSquarePants commented on #422
Just pushed a fix, will be in next deploy

[2016-09-26 22:06] zaryk opened #480 "Enhancement Request: Unsharp mask filter"
Would you consider adding Unsharp mask filter?  Here is another project that has it, but would prefer it to be added to ImageProcessor for consistency and flow.

http://kaliko.com/image-library/source-code/

Thanks,

[2016-09-27 00:39] JimBobSquarePants commented on #480
You mean for the new Core library? I probably won't be adding any new features to the Framework library.

Should be pretty easy to do. It's essentially blurring a copy and applying the following formula.

https://en.wikipedia.org/wiki/Unsharp_masking#Digital_unsharp_masking

[2016-09-27 00:57] zaryk commented on #480
Yea, I saw that after I posted to see if I could do something similar with what you already have.  I was looking at the source for both the libraries, and the kaliko library uses gaussianblur.  At first I was thinking to try something similar to Original + ( Original - Blur) * Amount, but didn't really know where the "Amount" would be applied.  Then I figured that since GaussianSharpen already has

[2016-09-27 00:57] #480 closed

[2016-09-27 09:09] vdachev opened #482 "ImageProcessorCore throws "Invalid bmp colormap size '1024'""
Hello,

First of all, I want to thank you for the awesome job you have done on porting `ImageProcessor` to the .NET Core!

I've been playing around with it... and tried to load a 24-bit Bitmap file (I converted a JPEG image w/ Paint) and it failed with the following exception:

which is obviously thrown on line 109 of _[BmpDecoderCore.cs](https://github.com/JimBobSquarePants/ImageProcessor/blob/Co

[2016-09-27 10:21] gdoron opened #483 "Poor quality when resizing images on core"
Hi,

We heavily use ImageProcessorCore on [yooocan.com](https://yooocan.com) and usually it works very well, but sometimes the images quality is significantly downgrades.
For example, we have this image:
![screen shot 2016-09-27 at 11 51 13](https://cloud.githubusercontent.com/assets/6141009/18869113/8ac14d78-84b3-11e6-8afe-4ef48e6a4e11.png)
Which is in a decent  quality, but when resized with Ima

[2016-09-27 10:27] JimBobSquarePants commented on #482
Yup... That's a bug. Should be 1024.

`Math.Pow(2, 8) * 4 = 1024`

[2016-09-27 10:37] gdoron commented on #483
I noticed I forgot to ask a question...
Do we do something wrong in the code? or is it a bug/limitation in the library itself?

Also, thanks a lot @JimBobSquarePants! your amazing library really helps us to empower people with disabilities!

[2016-09-27 10:49] JimBobSquarePants commented on #483
Hi Doron,

Thanks! I'm so glad my work is helpful.

The behaviour you are seeing is by design.

You're changing the quality of a png image. If the quality is 256 or less for that format, then the image is quantized and saved as an indexed png with the quality value representing the number of colors in the palette.

The behaviour for each format is as follows.

First Format | Quality Range | Result

[2016-09-27 10:50] JimBobSquarePants commented on #483
Oh, meant to say. later alphas reset the stream so you don't have to anymore.

[2016-09-27 11:10] gdoron commented on #483
Thanks @JimBobSquarePants for the rapid response!
I understand the issue now, but I still don't understand two things:

1. What happens if the `Quality` is > 256 for a png image?
2. I want to reduce the size of the image by 10% (random number I picked in case you ask...) whether it's a png or a jpeg image, what's the way of doing it?

Thanks for the tip with reset the stream, I wasn't aware of it.

[2016-09-27 12:00] JimBobSquarePants commented on #483
No worries 😄

1. The image is encoded in 32 bit mode unless you explicitly use the `PngEncoder` to save the image with the  `ColorType` property set to `PngColorType .Rgb`. That would reduce the filesize by a bit if you don't require transparency.

2. Reducing the filesize by a percentage isn't something you can consistently do since image compression ratio depends on may factors, colour palette,

[2016-09-27 12:59] gdoron commented on #483
**Thanks James**. 👍
I changed to saving `.SaveAsJpeg(output, 80);` as you suggested and it works **very well**.

BTW, IMHO I think having a property `Quality` which sometimes, depends on the image format-encoder, doing other things is a bad design.

Best,
Doron
The [yooocan](https://yooocan.com) family 😄

[2016-09-27 13:30] #482 closed

[2016-09-27 13:31] JimBobSquarePants commented on #483
You might well be right on that one. I'll have a good rethink.

[2016-09-27 13:31] #483 closed

[2016-09-29 04:41] JimBobSquarePants commented on #472
I've been unable to recreate this. I've been able to test in my solution using an
![ip-huge](https://cloud.githubusercontent.com/assets/385879/18941233/a34fadbc-8652-11e6-8b14-5ae52a2ea21b.png) multiple times without issue.

I think the thrown error message is actually a bit of a red herring. (GDI+ will do that) and you are actually running out of contiguous memory.

[2016-09-29 04:41] #472 closed

[2016-09-30 06:50] lborg019 commented on #464
this might be helpful:
https://github.com/ImageMagick/ImageMagick/blob/master/coders/tiff.c

[2016-10-02 21:31] Trothir opened #484 "Calculation bug in Constrain()"
For testing purposes I generate various blank images with random width and height. After that the image is loaded and resized (via Constrain) to 16x16. Some dimension however aren't resized.

Some examples before and after factory.Constrain(new Size(16, 16)):
- 363x12787 to 363x12787
- 61x5353 to 61x5353
- 3916x107 to 3916x107
- 7239x180 to 7239x180
- 27x6974 to 27x6974
- 6929x207 to 6929x207
- 98

[2016-10-03 00:30] JimBobSquarePants commented on #484
Hi @Trothir,

I'd like to highlight  first the method description for `Constrain`.

http://imageprocessor.org/imageprocessor/imagefactory/constrain/

Looking at the image sizes you have provided I'd say this bug is human in origin. I'm not sure how you expected to get a viable result.

Let's have a look at one of your ratios and do the calculation. I've picked one which has a smaller difference in

[2016-10-03 00:30] #484 closed

[2016-10-03 17:22] Trothir commented on #484
First of all thanks for your detailed answer!

Of course, you're totally right, but Constrain() should always force the desired size.
To create a valid image within the restrictions I suggest to limit the lower bound
simply to 1 pixel.

Maybe a Math.Min could fix it?

`int w = Convert.ToInt32( Math.Min(1.0, ((double)363 / 12787) * 16) );`

(BTW, nice library! Good work!)

[2016-10-03 23:29] JimBobSquarePants commented on #484
No worries :smile:

I have actually considered that suggestion but that would leave the aspect ratio wildly different to what is requested. In this example we'd get 363/12787 (fraction is already in its simplest form) instead of 1/16.

[2016-10-04 14:05] JimBobSquarePants commented on #473
Fixed in latest release 2.4.5

[2016-10-04 14:05] #473 closed

[2016-10-04 14:05] JimBobSquarePants commented on #478
Fixed in latest release 4.6.5

[2016-10-04 14:05] #478 closed

[2016-10-05 15:03] JeanCollas opened #485 "Any sample somewhere?"
Can we find a sample of upload+use of imageprocessor somewhere? :)

[2016-10-05 15:43] gabrielrobert opened #486 "ImageProcessor / Windows Azure Storage issue, returns 403 Forbidden"
Any thoughts on that?

http://stackoverflow.com/questions/39878104/imageprocessor-windows-azure-storage-issue-returns-403-forbidden

[2016-10-05 16:54] ZNS opened #487 "Facebook cdn input stream not supported?"
Hi,

I'm having an issue when trying to manipulate a facebook image using imageprocessor web I get an "Input stream not a supported format" exception. Example url:

/remote.axd?https://external.xx.fbcdn.net/safe_image.php?d=AQDA9W98lWDqbw_J&url=https%3A%2F%2Fwww.facebook.com%2Fads%2Fimage%2F%3Fd%3DAQIUo-bMpMJ8HpStbTYWpoZ4VV5R8vuGRdKtUTwLnf5fEB84xPzsPsqyIAzQF3XNpGgKaMeg1fY1lg-oYGWcPNjX56ALRncQ95FDL

[2016-10-06 00:06] JimBobSquarePants commented on #485
Hi Jean,

I'm not sure what you mean. Do you mean the new ImageProcessor Core library or the ImageProcessor Framerwork library that is a wrapper around `System.Drawing`?

Both libraries contain constructors that accept a stream.

ImageProcessor Core

[code]

ImageProcessor
[code]

File uploads us a [HttpPostedFileBase](https://msdn.microsoft.com/en-us/library/system.web.httppostedfilebase(v=vs.110

[2016-10-06 00:11] JimBobSquarePants commented on #487
Upgrade to the newly released 4.6.5, that correctly handles encoded urls and I've tested it against examples I've been given.

https://www.nuget.org/packages/ImageProcessor.Web/4.6.5

Let me know if you still have issues.

[2016-10-06 00:11] #485 closed

[2016-10-06 00:59] JimBobSquarePants commented on #486
I've answered on StackOverflow and am closing this to prevent duplication

[2016-10-06 00:59] #486 closed

[2016-10-06 01:44] JeanCollas commented on #485
It for  core version. I guess it helps, I will try to check that tomorrow! [😊]

________________________________
De : James Jackson-South <notifications@github.com>
Envoyé : jeudi 6 octobre 2016 02:07
À : JimBobSquarePants/ImageProcessor
Cc : Jean Collas; Author
Objet : Re: [JimBobSquarePants/ImageProcessor] Any sample somewhere? (#485)

Hi Jean,

I'm not sure what you mean. Do you mean the new Im

[2016-10-06 09:57] ZNS commented on #487
Thanks. I updated but still get the same error. Copy/Pasted the example path above into the browser. Do I need to urlencode some part of the path?

[2016-10-06 11:07] JimBobSquarePants commented on #487
Please accept my apologies. I thought I'd managed to cover all potential urls with the fix for #478 but I was mistaken.

I've just pushed ImageProcessor .Web version 4.6.6 which I have successfully tested against your url.

This uses the value

[code]

to security.config

Thank you for your perseverance, I really appreciate it.

[2016-10-06 12:34] ZNS commented on #487
No problem, thank you for the quick fix and also for a great job with ImageProcessor.

[2016-10-06 12:40] JimBobSquarePants commented on #264
More useful links

http://build-failed.blogspot.com.au/2016/08/creating-simple-tileserver-with-net.html
http://devmag.org.za/2011/04/05/bzier-curves-a-tutorial/
http://pomax.github.io/bezierinfo/

[2016-10-06 13:58] ZNS commented on #487
Now the URL in my first example works fine, but I'm very sorry to say there are more that don't work.. same error. A few examples:

/remote.axd?https://external.xx.fbcdn.net/safe_image.php?d=AQBgV2Q_yDUlNQKs&url=http%3A%2F%2Fresources.mynewsdesk.com%2Fimage%2Fupload%2Ft_open_graph_image%2Fdt1us8xdnvg0c89cvw7x.jpg?width=640&height=640&mode=crop

/remote.axd?https://external.xx.fbcdn.net/safe_image.

[2016-10-06 21:49] JimBobSquarePants commented on #487
What's the error message? What generates these urls because they are mental.

To be honest this all seems back to front to me. Why move the burden of processing from Facebooks millions of servers to yours?

[2016-10-06 21:55] ZNS commented on #487
These image urls are generated when pulling data from the facebook graph api. The reason for resizing images locally is that the facebook proxy doesn't officially (or inofficially?) support requesting images in custom sizes.

Perhaps I could resolve this easier by writing my own ImageService and parse the strange urls myself?

[2016-10-06 22:14] eByte23 commented on #264
I'll have a play around over the weekend and see how I go. Can't promise anything but I'll take a look.

[2016-10-07 00:48] JimBobSquarePants commented on #487
Ok... That all makes sense. Thanks!

What we need to do is extract the url parsing code from the HttpModule into its own static class. That way we can unit test it properly. Unfortunately I'm going to be away for a couple of weeks far away from computers so I won't be able to do anything.

I'll reopen this issue and if you have the opportunity to open a PR that would be very much appreciated.

[2016-10-07 04:04] Radzhab opened #488 "How crop image polygonic?"
Does this lib support crop image by shape?

[2016-10-07 06:54] JimBobSquarePants commented on #488
Which lib?

Could you please read the contribution guidelines.

[2016-10-07 13:36] Radzhab commented on #488
imageprocessor lib.

[2016-10-08 14:04] bilauca commented on #385
Hi. I'm using ImageProcessorCore too, and an uploaded image of 14 kb becomes 4mb. Any idea how to tweak the library. It's mandatory for me to use .NET Core.

[2016-10-08 15:41] bilauca opened #489 "ImageProcessorCore images exported are big"
I'm using 1.0.0-alpha1058 from myget. I'm processing a file of 14KB (400x400) and the result (resized to 300x300) has 4MB (tried with multiple files). @JimBobSquarePants any idea on how I can fix this one? The issue happens and if I only perform a simple save.

[2016-10-08 18:41] #489 closed

[2016-10-08 18:42] bilauca commented on #489
I just discovered that it was the azure blob who was messing with the file size.

[2016-10-08 20:30] ZNS commented on #487
After some research it turns out this is not an issue with url parsing. Facebook returns a redirect response to "http://www.facebook.com/unsuportedbrowser" which ofcourse causes an "Input stream not a supported format" exception. The strange thing is that facebook does not always return this response. If you load the remote image url in your browser first and then request it with imageprocessor it

[2016-10-09 13:40] piyushchauhan2011 commented on #402
Hey @JimBobSquarePants , I actually used this package which is same `imageprocessorcore` but don't know why it's published using different namespace [https://www.nuget.org/packages/Ngonzalez.ImageProcessorCore/](https://www.nuget.org/packages/Ngonzalez.ImageProcessorCore/).

Also, it works really good, and on nuget it's not listed `1.0.0` but that guy released it as `1.0` because when I installed

[2016-10-10 12:16] Gillardo opened #491 "ColorTranslator and HTML colors?"
Trying to get rid of System.Drawing and use this code (excellent btw), but i need to be able to convert colors from HTML (which i believe you can do using the constructor to color?) and then back from Color to HTML string...

Is this inbuilt into this code??  if so, where?

[2016-10-10 12:31] rcharb1 opened #492 "Black background issue on resize"
Hi,
I am trying to resize a gif with ImageFactory and I get a black background in half of the frames.
I tried setting the background to white as explained on the website, but it does not help.
After analysing the structure of the original image, I notices a few things:
- The original file does not have any local tables but all frames rely on the global one.
- The disposal method is 010.
- The back

[2016-10-10 13:36] rcharb1 commented on #492
After digging deeper into it, I realize that for some reason the white color is not present in the problematic frames' color tables and that the first index has black instead.
Manually adding the white color in first position of the local color table makes the background come back to its white color (there **is** noise, but it is much better)
Any idea?
I reupload the modified image because it look

[2016-10-10 21:41] AntonPetrov83 opened #493 "Trimming"
Hi!

Is it possible to do a trimming of an image? I mean to find the rectangle containing all non-transparent pixels of an image and then crop the image with this rectangle?

How should API be implemented in an idiomatic way?

[2016-10-11 01:11] robertjf commented on #493
@antonpetrov83 you probably want to take a look at EntropyCrop:

http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/entropycrop/

[2016-10-11 02:01] judypol opened #494 "Bit depth is not supported or not valid"
when I resize a png,then got the error Bit depth is not supported or not valid.and debug I can get the this.header.BitDepth=16.

[2016-10-12 12:45] uniquelau opened #495 "Azure Blob Cache - Feedback/Notes"
Hi! Firstly massive thumbs up, this is great! I wanted to share some of my experiences, as we've got a website using this, that has LOTS of images, most of which are large assets (2000px+, high quality jpg).

Things I have noticed:
## 1. Occasional 404's when loading multiple images on the page

The more images we place on the page the higher the percentage of images that can't be served.

When St

[2016-10-12 19:28] AntonPetrov83 opened #496 "What about 16bpp4444 and other formats?"
Do you plan to support 16bpp4444  and other non-standard formats found in video-games and mobile-games industry? Looks like sticking to System.Drawing.Imaging.PixelFormat is a limiting choice.
Maybe it is possible to indroduce custom formats with any bit depth per channel up to 32-bits?

[2016-10-12 21:53] MaitreDede opened #497 "APNG support"
Hi,

Do you think you can easily add APNG support ?

https://wiki.mozilla.org/APNG_Specification

[2016-10-17 07:55] oliverjanik opened #498 "Github homepage"
When I go to https://github.com/JimBobSquarePants/ImageProcessor it takes me to "Core" branch which has readme which talks about this lib being in alpha/pre-release. This confused me for a while because I came from nuget.org where the package is already at 2.x.y

I'm assuming master is the main branch here: https://github.com/JimBobSquarePants/ImageProcessor/tree/master

Which has a much more up t

[2016-10-17 09:02] dlemstra commented on #498
The Core branch is for the rewrite that makes it possible to use this library in .NET Core. That part is still in alpha/pre-release. The master branch is indeed the code for the current NuGet package but as you can read under the roadmap (https://github.com/JimBobSquarePants/ImageProcessor/tree/master#roadmap) the focus will be on ImageProcessorCore and that is why this is not the primary branch.

[2016-10-21 07:13] mortenbock opened #499 "PreserveExiffData makes gif look weird"
Sorry for the image heavy issue, but that's all I have right now :)

When running this code:

![codesample](https://cloud.githubusercontent.com/assets/1760256/19589667/ed0a2f00-976d-11e6-9b3e-5dfe35f76298.jpg)

On this file:

![svinemoerbrad](https://cloud.githubusercontent.com/assets/1760256/19589668/ed0a39f0-976d-11e6-8e9c-8748590bb3df.gif)

The result is a bit weird:

![result](https://cloud.gi

[2016-10-21 14:19] JimBobSquarePants commented on #494
Hi there,

Can you please reread the contributions guidelines that were highlighted to you when raising this issue and provide me with the relevant information to debug. You've left me with very little to go on.

Cheers

James

[2016-10-21 14:19] #498 closed

[2016-10-21 14:22] JimBobSquarePants commented on #488
I believe you are referring to masking. This is possible as identified in the documentation.

http://imageprocessor.org/imageprocessor/imagefactory/mask/

[2016-10-21 14:22] #488 closed

[2016-10-21 14:30] JimBobSquarePants commented on #496
Do you mean in Core? If so, yeah. The library is designed with that in mind and doesn't use PixelFormat nor System.Drawing. `Image` actually implements the `Image<TColor, TPacked>` class allowing developers to implement their own color models in the same manner as Microsoft XNA Game Studio and MonoGame. I'll probably add the relevant color models myself though when I get time.

If you mean the Fra

[2016-10-21 14:30] #496 closed

[2016-10-21 14:32] JimBobSquarePants commented on #493
Thanks @robertjf. @AntonPetrov83 is that what you are after?

[2016-10-21 15:03] JimBobSquarePants commented on #487
Wow! That's really interesting to discover, thanks for investigating further.

I'll have a look at your PR when I'm back on a computer (been in Africa the last two weeks) and look to get it merged. What default useragent string did you use?

[2016-10-22 23:28] JimBobSquarePants commented on #402
Hi @piyushchauhan2011 thanks for your support.

Please don't use the package you linked to. I'm actually pretty angry that they did that and will be contacting them to ask them to ask them to unlist the library. If you want to use ImageProcessorCore use it with the MyGet feed as described above.

Whilst it works in your scenario, the library is not production ready yet. We are still working on fun

[2016-10-23 01:52] vdachev commented on #402
@JimBobSquarePants I guess that's also true for this package:
https://www.nuget.org/packages/ChyImageProcessorCore/1.0.0-alpha1031 ?

[2016-10-23 08:11] JimBobSquarePants commented on #402
Thanks @vdachev I'll be in touch with them also.

[2016-10-23 09:45] dlemstra commented on #491
I am guessing that you are using the .Core version because of your comment about the constructor. You are right that it already works with the constructor of Color. But I send a pull request (#500) that will add support for going to and from a hexadecimal color with a `ToHex` and `FromHex` method.

[2016-10-23 11:47] JimBobSquarePants commented on #491
@Gillardo As of version 1.0.0-alpha1078 you can now do this. 😄

[2016-10-23 11:47] #491 closed

[2016-10-23 11:51] Gillardo commented on #491
Thank you @jimbobsquarepants will try this as soon as I can!

[2016-10-23 12:14] JimBobSquarePants commented on #497
Hi there,

Theoretically yes, but it is not on my list of priorities for now. I'm concentrating on common web formats.

Maybe after V1 is released.

Cheers

James

[2016-10-23 12:14] #497 closed

[2016-10-23 18:07] michielpost commented on #402
There's probably no stopping to this. People want the package on NuGet.org, and it's open source, you can fork it, make your own release and put it on NuGet.
If you put the package on NuGet yourself, at least you have control.

[2016-10-23 22:36] JimBobSquarePants commented on #402
@michielpost The thing is though they have no valid reason to do so and are only creating work for themselves. I'm creating builds for every push just now so anything they post will become horribly out of date.

They're also linking directly to my repo which means people will come to me looking for support which I cannot possibly give.  That adds work for me as I have to then tell these developers

[2016-10-23 22:36] #402 closed

[2016-10-24 04:06] JimBobSquarePants commented on #462
@omariom I've finally gotten round to switching all the code round. Thanks for the suggestion! 😄

[2016-10-24 04:06] #462 closed

[2016-10-24 12:02] mortenbock opened #502 "Only one instance per service type possible"
If I want to set up the CloudImageService to be used with two different prefixes, it seems that ImageProcessor is not able to fetch the configuration for it.

When fetching the settings in ImageProcessorConfiguration.cs, it uses the name of the type:

![2016-10-24_1354](https://cloud.githubusercontent.com/assets/1760256/19644797/0a3622c4-99f2-11e6-8d94-4d75a826b3d9.png)

But you can supply any nam

[2016-10-24 12:14] ZNS commented on #487
Ok, great. I've just the one from my current browser. http://www.useragentstring.com/

[2016-10-24 13:27] JimBobSquarePants commented on #502
Good spot! I would say that's a bug. Services should be reusable.

[2016-10-25 13:31] albinj opened #503 "Rewriting urls before hitting ImageProcessor Module"
I just upgraded Umbraco from 7.5.3 to 7.5.4.
- ImageProcessor 2.4.4 -> 2.4.5
- ImageProcessor.Web 4.6.4 -> 4.6.6

I am using a custom IHttpModule in front of ImageProcessorModule to do security checks and rewrite urls. Using the HttpContext.RewritePath method the module is rewriting querystring on images to take advantage of imageprocessor.

This has been working perfectly until last update.

I di

[2016-10-26 03:20] JimBobSquarePants commented on #503
We parse the raw unvalidated url.

https://github.com/JimBobSquarePants/ImageProcessor/blob/9f90597468132373609fb6f7b31e6a5c65e446d7/src/ImageProcessor.Web/HttpModules/ImageProcessingModule.cs#L446

I had to make recent changes to the url parsing mechanism as urls encoded by Facebook and other major services were not being parsed correctly by `Request.Url`.

If you are pulling your remote images f

[2016-10-26 10:59] Ciantic commented on #260
Umm, what does the checkmarks represent? Are they implemented already?

I'm having a problems with a one CMYK png image which I convert convert to resized JPG. It seems to come out as incorrect single color image. I'm trying to come up a simple repro as I look this problem further.

[2016-10-26 11:44] JimBobSquarePants commented on #260
@Ciantic The checkmarks mean I have created structs that represent each colorspace and conversion between them.

Png's don't support CMYK so I don't know what you are on about?

https://en.wikipedia.org/wiki/Portable_Network_Graphics

p.s. I'm assuming you mean using the core library yeah?

[2016-10-26 23:44] CVertex commented on #478
@JimBobSquarePants
I only just came back to look at this properly!
Thanks for fixing this! You're a legend

[2016-10-27 04:45] JimBobSquarePants commented on #478
No problemo 😎

[2016-10-27 14:50] leddt commented on #502
I encountered the same issue.

As a workaround, you can define a new class inheriting from the service that you want to duplicate:
[code]
and reference it in your config:
[code]

[2016-10-29 04:22] #457 closed

[2016-10-29 11:56] neilw1 opened #504 "Alpha ignored when applying greyscale filter"
Hello,
Apologies if this is not a bug. Using ImageProcesser version 2.4.1.0. I have a colour image (below stored in iFac, which is an ImageFactory). I then push it into another ImageFactory (iGreyscaleFac). I then convert it to grey scale (the code below was the best way I could think of!)

I also have a set of controls that adjust brightness, contrast, etc. of the iFac object. All adjustments are

[2016-10-30 06:16] JimBobSquarePants commented on #158
This issue was moved to JimBobSquarePants/ImageSharp#2

[2016-10-30 06:16] #158 closed

[2016-10-30 06:16] JimBobSquarePants commented on #259
This issue was moved to JimBobSquarePants/ImageSharp#3

[2016-10-30 06:16] #259 closed

[2016-10-30 06:17] JimBobSquarePants commented on #260
This issue was moved to JimBobSquarePants/ImageSharp#4

[2016-10-30 06:17] #260 closed

[2016-10-30 06:24] JimBobSquarePants commented on #264
This issue was moved to https://github.com/JimBobSquarePants/ImageSharp/issues/5

[2016-10-30 06:24] #264 closed

[2016-10-30 06:26] JimBobSquarePants commented on #297
This issue was moved to JimBobSquarePants/ImageSharp#6

[2016-10-30 06:26] #297 closed

[2016-10-30 06:27] JimBobSquarePants commented on #312
This issue was moved to JimBobSquarePants/ImageSharp#7

[2016-10-30 06:27] #312 closed

[2016-10-30 06:34] JimBobSquarePants commented on #347
This issue was moved to https://github.com/JimBobSquarePants/ImageSharp/issues/8

[2016-10-30 06:34] #347 closed

[2016-10-30 06:35] JimBobSquarePants commented on #379
This issue was moved to JimBobSquarePants/ImageSharp#9

[2016-10-30 06:35] #379 closed

[2016-10-30 06:36] JimBobSquarePants commented on #446
This issue was moved to JimBobSquarePants/ImageSharp#10

[2016-10-30 06:36] #446 closed

[2016-10-30 06:37] JimBobSquarePants commented on #458
This issue was moved to JimBobSquarePants/ImageSharp#11

[2016-10-30 06:37] #458 closed

[2016-10-30 06:37] JimBobSquarePants commented on #464
This issue was moved to JimBobSquarePants/ImageSharp#12

[2016-10-30 06:37] #464 closed

[2016-10-30 06:38] JimBobSquarePants commented on #467
This issue was moved to JimBobSquarePants/ImageSharp#13

[2016-10-30 06:38] #467 closed

[2016-10-30 06:39] JimBobSquarePants commented on #470
This issue was moved to JimBobSquarePants/ImageSharp#14

[2016-10-30 06:39] #470 closed

[2016-10-30 06:40] JimBobSquarePants commented on #474
This issue was moved to JimBobSquarePants/ImageSharp#15

[2016-10-30 06:40] #474 closed

[2016-10-30 07:07] JimBobSquarePants commented on #294
This issue was moved to https://github.com/JimBobSquarePants/ImageSharp/issues/16

[2016-10-30 07:07] #294 closed

[2016-10-31 12:57] gdoron opened #505 "Exception when loading specific jpeg image on core"
Hi James @JimBobSquarePants,

This specific image:
![image](https://cloud.githubusercontent.com/assets/6141009/19854753/59fbad1a-9f79-11e6-91bc-bdb8f6421ee4.png)
fails when trying to load it.

Stacktrace:

   at ImageProcessorCore.Formats.JpegDecoderCore.Fill()
   at ImageProcessorCore.Formats.JpegDecoderCore.ReadByte()
   at ImageProcessorCore.Formats.JpegDecoderCore.ReadByteStuffedByte()
   at I

[2016-10-31 13:07] dlemstra commented on #505
Can you add a link to the original jpg file? Github changed it into a PNG file.

[2016-10-31 13:14] gdoron commented on #505
Try this one:
http://yooocan.com/images/temp/bad%20image.jpeg
(For future readers, this image will be deleted, I had to upload it to our server)

[2016-10-31 13:19] gdoron commented on #505
BTW, in case you delete go to the link and read the story,
This is a Halloween costume a father made for his disabled <sub>I hate this word</sub> kid.
They "dressed" the wheelchair in a Ghostbusters car costume. **AMAZING STUFF!**.

[2016-10-31 13:26] JimBobSquarePants commented on #505
@gdoron Great story, really heart-warming! 😄

I'm going to move this issue over to the correct repo as I have moved everything. We can continue the discussion there.

[2016-10-31 13:26] JimBobSquarePants commented on #505
This issue was moved to JimBobSquarePants/ImageSharp#18

[2016-10-31 13:26] #505 closed

[2016-11-01 19:54] ZNS opened #506 "Url encoding in remote image service"
Hello again,

This issue is related to #487 There are issues with URL decoding in the remote image service. Here's an example of passing a valid url to remote.axd **without** encoding it first.
`/remote.axd?https://external.xx.fbcdn.net/safe_image.php?d=AQBKGZEQAA7QoMzM&url=http%3A%2F%2Fwww.gotakanal.se%2Fmedia%2F1566%2Fbildspel_1440x780.jpg%3Fanchor%3Dcenter%26mode%3Dcrop%26width%3D1024%26rnd%3D1

[2016-11-01 22:51] JimBobSquarePants commented on #506
https://external.xx.fbcdn.net/safe_image.php?d=AQBKGZEQAA7QoMzM&url=http://www.gotakanal.se/media/1566/bildspel_1440x780.jpg?anchor=center&mode=crop&width=1024&rnd=130921477360000000
Which is incorrect. The encoded querystring of the valid url has now been decoded.

I don't follow.. Which parts of the url are incorrectly decoded?

I'm not even sure there is a solution to this. There's no way to de

[2016-11-01 22:58] JimBobSquarePants commented on #503
Apologies for the slow reply.

There's an event called `ImageProcessingModule.ValidatingRequest` which is designed to allow you to validate the request and augment the querystring? Would that be enough?

http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/#events

 Otherwise I could unseal the HttpModule class (That was a mistake) so you can inherit it and overwrite anything you nee

[2016-11-02 09:45] ZNS commented on #506
In the first example the url passed to remote.axd is already correct
`https://external.xx.fbcdn.net/safe_image.php?d=AQBKGZEQAA7QoMzM&url=http%3A%2F%2Fwww.gotakanal.se%2Fmedia%2F1566%2Fbildspel_1440x780.jpg%3Fanchor%3Dcenter%26mode%3Dcrop%26width%3D1024%26rnd%3D130921477360000000`
The url contains a query "url" which needs to be kept encoded for the url to be valid.

We need to treat the whole pas

[2016-11-02 09:50] robbaman opened #508 "Ignore unrecognized querystring params"
Is there a way to make ImageProcessor just ignore the unrecognized querystring parameters? We use additional querystring parameters for varying purposes but after upgrading ImageProcessor from 2.3.3.0 to 2.4.5.0 and ImageProcessor.Web from 4.5.3.0 to 4.6.6.0 we get the error `The request {request.Unvalidated.RawUrl} could not be understood by the server due to malformed syntax.`

This wasn't the c

[2016-11-02 10:22] JimBobSquarePants commented on #508
Yes there is.

Use the [`ImageProcessingModule.ValidatingRequest`](http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/#events) event to reject calls or augment the querystring for requests.

Theses changes were an important security addition designed to present DDOS attack. You can see the conversation that led to the change of behaviour [here](https://github.com/JimBobSquarePants/

[2016-11-02 10:22] #508 closed

[2016-11-02 10:26] JimBobSquarePants commented on #506
Ok coke,

Could you perhaps provide a PR for this? You have the urls to test against and know what to look out for.

[2016-11-02 11:15] robbaman commented on #508
Considering the security implications I suppose we should just not do what we did. It's a bit of a shame that I have to find out what querystring params are added to an image url anywhere in the application and why, but the security concerns are obviously valid.

Thanks for taking the time to answer the question.

[2016-11-02 12:26] JimBobSquarePants commented on #508
No problem at all.

We really tried hard to do something that would affect the bare minimum of users negatively but also protect you in the best way possible. Unfortunately it's not possible to cater for all scenarios.

[2016-11-02 12:48] ZNS commented on #506
I'm looking into it adding a helper for decoding and writing some tests. However when I check the code it seems you decode the whole raw url "http://domain.com/remote.axd?http://someurl/?width=640&height=640" Is there a reason for this instead of just decoding the passed url "http://someurl/" in the example?

[2016-11-02 13:17] JimBobSquarePants commented on #506
Thanks 👍

Yeah, if the passed url is encoded then `Response.Url` is incorrect only containing a partial url.

[2016-11-02 14:28] ZNS commented on #506
Yeah, I see this is about fixing #478 I don't really see a good way of supporting that kind of URL without (as now) breaking other valid urls. Also the fix that's in place now will not work for all urls, like the one in the example above. I'm adding a workaround for it, but it's not very pretty.

[2016-11-07 21:25] devnutmike opened #511 "DiskCache files are never deleted"
Using ImageProcessor.Web 4.5.3

Looking at the code, it seems cached files should be deleted after maxDays, however, in my application they are never deleted and the cache just keeps growing. I have max days set to 90 and there are files in the cache created over 6 months ago.

The DiskCache implementation logs exceptions that occur during a file deletion, but I'm unsure how to implement logging o

[2016-11-07 22:00] #511 closed

[2016-11-07 22:02] dlemstra commented on #511
Would you mind sharing how you solved this for future readers?

[2016-11-07 22:11] JimBobSquarePants commented on #511
By default, the logger logs to the console window which you can see by attaching a debugger. Implementing your own logger is actually quite simple. If you create an implementation of `ImageProcessor.Common.Exceptions.ILogger` the library will automatically pick it up and replace the default implementation.

Here's an example one I wrote for the [Umbraco CMS](https://github.com/umbraco/Umbraco-CMS/

[2016-11-09 10:02] TomSteer opened #513 "ImageProcessor.PostProcessor disable or cancel process option"
Hey,

Would it be possible in some way to disable PostProcessing on certain image types e.g. jpgs.
This could be done by firing an event which is cancelable or through some config file.

The reason I ask is we already do some preprocessing on jpgs (using mozjpeg) when uploaded to Umbraco so wouldn't want these files to be processed again in the PostProcessing process.

Cheers and high five for all

[2016-11-09 13:23] JimBobSquarePants commented on #513
Hi Tom,

Thanks for your kind words 😄

There aren't any options. This is for good reason.

I'm afraid to say but you're wasting your time preprocessing images if they are going to then be resized or cropped using ImageProcessor without postprocessing. This is because the Jpeg encoder built into System.Drawing does not use any subsampling to more efficiently store pixel data.

As soon as you save t

[2016-11-09 15:51] AtomicSpider opened #514 "Saving image with alpha padding"
Hi Jim,
I'm trying to resize a 1000x1000px png image to 500x500px image and trying to save it as 1000x1000 image with 250px padding on all sides.

This is what I'm using.

[code]

But it's saving the file as 500x500png and not as 1000x1000 png

[2016-11-11 21:56] TomSteer commented on #513
Hey James,

Thanks for coming back so quickly 👍 We are using it to reduce the amount of disc space used when clients upload large image files. Based on what you've said above, could they be ran in parallel? Prepossessing to reduce the disc space usage of the original file and post processing to deal with the cached ImageProcessor images?

Cheers,

Tom

[2016-11-16 12:44] JimBobSquarePants commented on #513
Sorry Tom,

Totally thought I'd replied to this. Yeah, no harm at all. They'll get processed before caching and save a good deal of space.

If you are worried about disk space though I would recommend moving your media to blob storage.

Cheers

James

[2016-11-16 12:44] #513 closed

[2016-11-17 16:44] JasonElkin commented on #495
The best solution I've found (also using in production with large images) is to set StreamCachedImage to true and then place a CDN in front of ImageProcessor (rather than behind).

So the logic looks like this...

1. User requests image directly from CDN.
2. If image does not exist, CDN requests one from ImageProcessor.
3. CDN caches the image.

This largely ignores ImageProcessor's own cache when

[2016-11-18 23:39] JimBobSquarePants commented on #495
Hi @uniquelau so sorry for not getting back to you on this sooner! I meant to do so after releasing the last update. I'll try to answer your questions.

1. I fixed the issue that you were seeing where images were not getting redirected. One of the CDN options on Azure (I forget which) can be pretty slow when first setting up images so timeouts occur which used to not be handled properly. I now cor

[2016-11-18 23:57] JimBobSquarePants commented on #514
Hi @AtomicSpider

Sorry for the slow reply! You'll need to use the `Resize` method twice. First time to scale the image down and the second time to pad the image. You would use the `Resize(ResizeLayer resizeLayer)` overload to do so with `ResizeMode.BoxPad`.

http://imageprocessor.org/imageprocessor/imagefactory/resize/#example

`Resolution` only changes EXIF values for print
http://imageprocessor

[2016-11-18 23:57] #514 closed

[2016-11-19 00:00] JimBobSquarePants commented on #504
Hi @neilw1

Sorry for the slow reply. Jpeg images do not store an alpha channel so no alpha changes will be persisted. If you used a png you should see the expected changes.

Hope that all makes sense.

Cheers

James

[2016-11-19 00:00] #504 closed

[2016-11-19 00:01] #494 closed

[2016-11-19 00:01] #493 closed

[2016-11-19 00:03] JimBobSquarePants commented on #492
Hi @rcharb1 Just a quick note to apologise for not getting back to you on this. I'll have a dig around and try to figure out what has changed as each frame really shouldn't have it's own table.

[2016-11-19 00:04] AtomicSpider commented on #514
@JimBobSquarePants Thanks for the help. I'll give it a try.

PS: Kudos for your amazing work creating this library. You have seriously made life easier for a lot of us :)

[2016-11-19 00:07] JimBobSquarePants commented on #499
Hey @mortenbock , Sorry I have't forgotten about this, just been focusing hard on [ImageSharp](https://github.com/JimBobSquarePants/ImageSharp).

System.Drawing stores some really odd things in the PropertyItems collection that really should be separated out so I'll have a look and see what is getting preserved or altered that shouldn't be. Gifs are a bit  of a nightmare to work with since the Sys

[2016-11-19 00:16] JimBobSquarePants commented on #514
@AtomicSpider That's really great to hear! 😄

[2016-11-20 21:28] JasonElkin commented on #495
Thanks @JimBobSquarePants, here's a few thoughts - diagram to follow.

1.  What do you see as the main shortcoming of the current cache design?

I have a suspicion that streaming cached images from the CDN is actually slower than accessing blob storage directly - I'm due to do some performance testing on a deployment this week so I'll have the chance to do some real-world testing and will feed bac

[2016-11-21 05:37] JimBobSquarePants commented on #506
@ZNS I'm assuming I can go ahead and close this now?

[2016-11-21 06:49] JimBobSquarePants commented on #492
@rcharb1 I've been having a dig and it looks like an issue with the Octree Quantizer implementation. I decoded and encoded the image using my own encoder/quantizer from within the [ImageSharp](https://github.com/JimBobSquarePants/ImageSharp) and it rendered as expected.

I'll have a look and see what is different. (No promises of a fix though as I am hacking around with System.Drawing here)

[2016-11-21 14:06] mortenbock commented on #499
No rush. I don't need the exiff data at the moment, but just thought it was a bit weird that it had this kind of impact :)

[2016-11-21 14:18] mortenbock commented on #503
I found the same kind of issues when trying to "hide" the imageprocessor url's behind some more generic urls.

For example I would sometimes make urls that rewrite

/product/xxx_large.jpg => /images/products/xxx.jpg?width=500
/product/xxx_small.jpg => /images/products/xxx.jpg?width=200

And that sort of thing.

Would be nice if this was possible without overriding the imageprocessor classes. Maybe

[2016-11-21 14:39] JimBobSquarePants commented on #503
@mortenbock  Wouldn't you use IIS rewriting for that?

I'm loath to add any more complexity to the current implementation to be honest. I think if you want a result, you should ask for it via the correct command.

[2016-11-21 15:10] mortenbock commented on #503
@JimBobSquarePants I did use IIS rewriting. But if that is supposed to work, then this issue might have been a combination of my rewriting, and using the azure blob storage/caching in a specific way.

I will see if I can reproduce, and open a separate issue if that is the case :)

[2016-11-21 22:12] JimBobSquarePants commented on #503
@mortenbock Thanks..

Odd... Being an IIS module, that should intercept the request way before my httpmodule does. I'm wondering if unsealing the class would help here and making this [method](https://github.com/JimBobSquarePants/ImageProcessor/blob/develop/src/ImageProcessor.Web/HttpModules/ImageProcessingModule.cs#L375) protected virtual would help?

By my reckoning that would make it possible t

[2016-11-22 13:05] ZNS commented on #506
Yep

[2016-11-22 13:09] #506 closed

[2016-11-22 19:44] albinj commented on #503
The problem is that Imagesprocessor is using the readonly raw unvalidated url.

For example @mortenbock was using IIS module to rewrite
/product/xxx_large.jpg => /images/products/xxx.jpg?width=500

When the request hits imageprocessor after IIS module the Request.Url will be /images/products/xxx.jpg?width=500 and the raw url will still be /product/xxx_large.jpg

[2016-11-22 22:44] JimBobSquarePants commented on #503
@albinj Could you please reply to the question I asked 21 days ago?

[2016-11-23 09:09] albinj commented on #503
@JimBobSquarePants Sorry for not replying.

It doesn't feel right that you have to use ImageProcessingModule.ValidatingRequest or inherit the HttpModule class to be able to do a simple url rewrite. This logic should be in a IIS rewrite HttpModule.

I guess the easiest hack would be to somehow override the "request.Unvalidated.RawUrl" part in the HttpModule and replace it with the normal Request.Ur

[2016-11-25 12:16] alejandroMunozMulet opened #516 "Multiple levels of cache"
Hi Jim,

First of all, congrats, you did a really good job with image processor, totally loving it, I had my own imageservice working in les than an hour... definetly need to donate for atleast a beer for you.

One thing that I came across and I did not found in documentation is suporting various levels fo cache, its kind of confusing because in the cache config looks like you can set multiple cac

[2016-11-25 23:14] JimBobSquarePants commented on #516
Hi @alejandroMunozMulet

Thanks for your message, It's always great to hear that my work is helpful 😄

There's no documentation on that process because it's not supported. You never really want to hold an image, no matter how small, in memory - They simply take up too much space that could be required elsewhere. For image processing to be successful under load you need at least 1GB of contiguous m

[2016-11-25 23:40] alejandroMunozMulet commented on #516
Hi James,

First of all thanks for your response is really nice to have such a complete explanation by someone who probably has better things to do.

Yes it makes absolute sense,  I guess I have got way too obsesed with performance that I have literally overthink it,  and missjudged the need of memory that image processing takes.

My main concern was the load that the service is going to take,  wi

[2016-11-25 23:40] #516 closed

[2016-11-26 09:57] JimBobSquarePants commented on #516
Thanks @alejandroMunozMulet

If I have any advice from my experience to give to you it would be this.

Never think that someone who owns a code repository, no matter how popular it is, has better things to do than listen to your suggestions.

We all have something to learn.

I know a little bit more than most about image processing. I've studied very hard and am reaping the benefits of my efforts.

[2016-11-29 04:41] JimBobSquarePants commented on #495
Hi @JasonElkin ,

Internally the Azure Blob Cache uses a memory cache to reduce some of the overheads but yeah, checking whether the item has been updated or is new is a hassle. An indexer would be an idea but as soon as you start scaling instances then that index could get out of sync.

As for the second suggestion... I have been working on an approach that does the following.

1. On render call

[2016-11-30 11:29] ZNS opened #517 "DiskCache is not cleaned"
Hello again!

I'm using the default diskcache implementation and so I thought cached files should be deleted after 365 days? It seems this isn't the case. Wrote some code to enumerate through the files in the cache and in our dev environment about half of the files should have expired.

Would it cause any conflict deleting these files and empty directories with a batch job or similar?